@@include('../_templates/_header_lemag.html')

<main>
  <div id="sticky-header">
    <a href="./article_alternative.html" class="arrow left">Article précedent</a>
    <div class="content">
      <a href="#0" class="categ">Idée déco</a>
      <span class="title">Quelles plantes choisir pour décorer votre salon ?</span>
    </div>
    <a href="./article_alternative.html" class="arrow right">Article précedent</a>
  </div>
    <section class="main-image">
        <div class="container">
            <div class="row">
              <img src="/img/lemag/article-fullwidth.jpg" alt="">
                <div class="content text-center col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <a href="#0">Idée déco</a>
                    <h1>Du bois et du brut<br>pour un intérieur rétro</h1>
                    <span>Publié le 12.10.16</span>
                </div>
            </div>
        </div>
    </section>
    <section class="intro">
        <div class="container">
            <div class="row">
                <p class="col-sm-10 col-sm-offset-1 text-center"><strong>La marque espagnole a imaginé une nouvelle collections parsemée de notes rétro et de lignes
                    épurées. Rangements, lits, berceaux évolutifs, bureaux ou encore tables de nuit s’adaptent à chaque pièce de la maison. La collection Horizon propose des pièces minimalistes, peintes à la main à 1/3 pour un effet trempé à partir de bois massif issu de forêts écogérées. Résultat ? Des meubles intemporels, à transmettre de génération en génération.</strong></p>
            </div>
        </div>
    </section>
    <section class="media two-images">
      <div class="container">
        <div class="row">
          <img src="/img/lemag/article-left.jpg" alt="">
          <img src="/img/lemag/article-right.jpg" alt="">
        </div>
      </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <span class="text-background univers">Univers</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <strong>eiusmod</strong> tempor incidi unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <a href="#0">nostrud exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <p>deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sitvoluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="media fullwidth-image">
      <div class="container">
        <div class="row">
          <img src="/img/lemag/article-fullwidth-2.jpg" alt="">
        </div>
      </div>
    </section>
    <section class="author">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">
                    <span class="author-name">Arthur Mindo</span> <span class="author-job">Designer FlyBy</span>
                    <p class="quote">La combinaison des matières est selon moi la clef d'un projet harmonieux. Les formes quant à elles doivent également suivre une certaine logiques</p>
                </div>
                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <strong>commodo consequat.</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                    <div class="share">
                        <div class="row">
                            <div class="col-xs-5 ">
                                <span>Écrit par :</span><br>
                                <span class="author-name">Marcel Wister</span>
                            </div>
                            <div class="col-xs-7 text-right">
                                <span>Partager sur :</span><br>
                                <ul class="social">
                                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                                    <li><a class="pinterest" href="#">Pinterest</a></li>
                                    <li><a class="twitter" href="#">Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shop">
        <div class="col-sm-12">
            <div class="title text-center">
                <span class="text-background">Shop</span>
                <h2><span>Découvrez</span> <em>Les produits présentés<br>dans cet article</em></h2>
            </div>
          <div class="container">
            <div class="row">
              <ul class="products-row row">
                <li class="item col-md-3 col-sm-6">
                  <div class="item-inner">
                    <div class="item-img">
                      <a href="#0">
                        <img src="/img/lemag/table-basse.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                            <span class="item-category">
                                <a href="#0" title="">Lina</a>
                            </span>
                        <h3 class="item-title">
                          <a href="#0" title="">Table basse</a>
                        </h3>
                        <div class="item-content">
                          <div class="item-price">
                            <span class="price">219,99€</span>
                          </div>
                          <div class="item-status">
                            <span>Livré sous 5 jours</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-md-3 col-sm-6">
                  <div class="item-inner">
                    <div class="item-img">
                      <a href="#0">
                        <img src="/img/lemag/cache-pot.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                            <span class="item-category">
                                <a href="#0" title="">Iva</a>
                            </span>
                        <h3 class="item-title">
                          <a href="#0" title="">Cache pot</a>
                        </h3>
                        <div class="item-content">
                          <div class="item-price">
                            <span class="price">29,99€</span>
                          </div>
                          <div class="item-status">
                            <span>Livré sous 10 jours</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-md-3 col-sm-6">
                  <div class="item-inner">
                    <div class="item-img">
                      <a href="#0">
                        <img src="/img/lemag/lampe.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                            <span class="item-category">
                                <a href="#0" title="">Cinetic</a>
                            </span>
                        <h3 class="item-title">
                          <a href="#0" title="">Lampe jaune</a>
                        </h3>
                        <div class="item-content">
                          <div class="item-price">
                            <span class="price">137,99€</span>
                          </div>
                          <div class="item-status">
                            <span class="instock">En Stock</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item col-md-3 col-sm-6">
                  <div class="item-inner">
                    <div class="item-img">
                      <a href="#0">
                        <img src="/img/lemag/coussin.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                            <span class="item-category">
                                <a href="#0" title="">tootsie</a>
                            </span>
                        <h3 class="item-title">
                          <a href="#0" title="">Coussin motifs éthniques</a>
                        </h3>
                        <div class="item-content">
                          <div class="item-price">
                            <span class="price">3,99€</span>
                          </div>
                          <div class="item-status">
                            <span>Livré à partir du 04/10</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section>

</main>

@@include('../_templates/_footer.html')
