/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/mesachats.css" media="print" rel="stylesheet" type="text/css" /> */
$btn-width-small : 230px;
@mixin status($color) {
    font-family: $Poppins;
    font-weight: 600;
    color : $color;
}
@mixin btn-fly($color,$background-color) {
    background-color : $background-color;
    color: $color;
    font-family: $Raleway;
    font-size: 1.2em;
    display: inline-block;
    line-height: 3em;
    padding: 0 30px;
    margin-top: 20px;
    @media (max-width: $screen-sm-min) {
        display: block;
        margin-top: 10px;
        margin : 10px auto 0;
        float: right;
    }
}
.side-nav-profil {
    font-family: $Poppins;
}
h1{
    @extend .side-nav-profil;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
h2{
    @extend .side-nav-profil;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin: 20px 0 ;
    padding: 8px 0;
}
.side-nav-profil {
    .logout{
        font-family: $Raleway;
        font-size: 13px;
        color: $color-black;
        border-bottom: $color-black 1px solid;
    }
    ul{
        padding-left: 0;
        li a{
            font-family: $Raleway;
            font-size: 16px;
            line-height: 2.2em;
            font-weight: 500;
        }
        li.active {
            padding-left: 1em;
        }
    }
    .btn-fly{
        @include btn-fly($color-white, $color-black);
    }
}
.main-content {
    .my-purchases {
        .first-bloc{
            border-top: $color-gray-dark solid 1px;
            border-bottom: $color-gray-dark solid 1px;
            padding: 0;
            .mrg-t-14{
                margin-top: 14px;
            }
            .btn-md{
                font-size: 1em;
                text-align: center;
                margin: 1%;
                width: $btn-width-small;
                display: block;
                @media (max-width: $screen-md-min) {
                    margin: 0 1% 1%;
                }
            }
        }
        .btn{
            float: right;
            @media (max-width: $screen-md-min) {
                float: initial;
            }
        }
        .second{
            border-top: $color-gray-dark solid 1px;
        }
        .bloc{
            border-bottom: $color-gray-dark solid 1px;
            padding: 10px 0;
        }
        .date, .ref{
            font-weight: 100;
            font-family: $Raleway;
        }
        .statut-pending{
            @include status(green);
        }
        .statut-cancel{
            @include status($color-black);
        }
    }
    .my-informations{
        label {
            font-weight: 500;
            padding: 0;
            margin: 0;
            line-height: 1.4;
            vertical-align: bottom;
        }
        .form{
            font-family: $Raleway;
            input{
                font-size: 16px;
            }
            .radio, .checkbox {
                display: inline-block;
                line-height: 12px;
            }
            .radio input[type="radio"], .radio input[type="checkbox"]{
                position: relative;
            }
            .field-password {
                .showpass {
                    cursor: pointer;
                    font-size: 14px;
                    float: right;
                    line-height: 20px;
                    position: absolute;
                    right: 27px;
                    top: 65px;
                }
            }
            .field-civility{
                label{
                    margin: 0;
                    display: inline-block;
                    vertical-align: middle;
                    span{
                        width: 126px;
                        display: inline-block;
                    }
                }
                .control{
                    @extend label;
                    .radio{
                        width: 112px;
                    }
                }
            }
            .form-control{
                line-height: 12px;
                height: 44px;
                box-shadow: none;
            }
            .cancel{
                border-bottom: $color-black 1px solid;
            }
            .field-newsletter {
                padding: 10px;
            }
        }


        .newsletter {
            input, .label{
                float: left; 
            }
        }
    }

    .edit-informations{
        @extend .my-informations;
    } 
    .my-feebacks{
        .msg, .block-title > a{
            @include font-size(16px);
            font-weight: bold;
        }
    }
    .my-favories{
        .page-heading, p{
            text-align: center;
        }
        .item-content, .item-title{
            line-height: 28px;
        }
    }
    @include btn-fly($color-black,$color-white);
}
