<div class="advantages col-md-12">
    <div class="advantages-fid col-md-6">
        <h1>Carte de fidélité Fly</h1>
        <div class="contour">
            <h3>Avantages</h3>
            <div class="col-md-8 col-xs-8">
                <ul>
                    <li>Chèques cadeaux</li>
                    <li>Location de camionnette gratuite</li>
                    <li>Des réductions supplémentaires</li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-4">
                <img src="../img/fid-avantage/CARTE_FID_blanc.png"/>
            </div>
            <a class="btn-fly btn-lg" href="#">
                <span> Les détails de la carte</span>
            </a>
        </div>
    </div>
    <div class="advantages-fid-plus col-md-6">
        <h1>Carte de fidélité Fly fid+</h1>
        <div class="contour">
            <h3>Avantages</h3>
            <div class="col-md-8 col-xs-8">
                <ul>
                    <li>Avantages de la carte fidélité Fly</li>
                    <li>Carte de paiement</li>
                    <li>Plein d’autres avantages</li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-4">
                <img src="../img/fid-avantage/CARTE_FID+.png"/>
            </div>
            <a class="btn-fly btn-lg" href="#">
                <span> Les détails de la carte</span>
            </a>
        </div>
    </div>
</div>