<!-- BEGIN breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="/" title="Accueil">Home</a>
                    </li>
                    <li>
                        <a href="/" title="Canapé">Canapé</a>
                    </li>
                    <li>
                        <strong>Canapé convertible</strong>
                    </li>
                </ul>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>