<div class="contour col-md-4">
    <h3>Mr Christophe Sube</h3>
    <p> 6 rue de Lancry 1er étage gauche 75010 PARIS 0108081828384 </p>

    <div class="center">
        <a class="btn-fly-red btn-lg btn-size" href="#">
            <span>Choisir par défault</span>
        </a>
    </div>
    <div class="center">
        <a class="btn-fly btn-lg btn-size" href="#">
            <span>Modifier</span>
        </a>
    </div>
</div>