<div class="contour default col-md-4">
    <h3>Mr Christophe Sube</h3>
    <p> 53 rue des Belles Feuilles 5ème gauche 75016 PARIS 0601020304 </p>

    <div class="center dafault-adress btn-size">
        <!--<a class="dafault-adress btn-size" href="#">
            <span>Choisir par défault</span>
        </a>-->
        <span>Adresse par défaut</span>
    </div>
    <div class="center">
        <a class="btn-fly btn-lg btn-size" href="#">
            <span>Modifier</span>
        </a>
    </div>
</div>