

<!-- Footer scripts go here -->

<script src="https://maps.google.com/maps/api/js?key=AIzaSyBouRe49O3yClqpgiNHn6qr_peuogGzdz0&region=FR"></script>

<script src="../js/bases/app.js"></script>
<script src="../js/components/_homepage.js"></script>
<script src="../js/components/_listings.js"></script>
<!--<script src="../js/components/_produits.js"></script>-->
<script src="../js/components/_cart.js"></script>
<script src="../js/components/_checkout.js"></script>
<script src="../js/components/_custom-file-input.js"></script>
<!--<script src="../js/components/_cgv.js"></script>-->
<!--<script src="../js/components/_fid.js"></script>-->
<script src="../js/components/_credit.js"></script>
<!--<script src="../js/components/_prefered_store.js"></script>-->
<!--<script src="../js/components/_storelocatore.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.0/retina.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script>
    retinajs ();
    if ( 'addEventListener' in document ) {
        document.addEventListener ( 'DOMContentLoaded' , function () {
            FastClick.attach ( document.body );
        } , false );
    }
</script>

</body>
</html>