<div class="sidebar col-md-3  col-xs-12">

    <div class="side-nav-categories">
        <div class="block-title">
            Catégories
        </div>
        <!--block-title-->
        <!-- BEGIN BOX-CATEGORY -->
        <div class="box-content box-category">
            <ul class="category-menu">
                <li>
                    <a href="#">Canapé fixe</a>
                </li>
                <li class="active">
                    <a href="#">Canapé convertible</a>
                </li>
                <li>
                    <a href="#">Canapé relaxation</a>
                </li>
                <li>
                    <a href="#">Banquette</a>
                </li>
                <li>
                    <a href="#">Fauteuil</a>
                </li>
                <li>
                    <a href="#">Pouf</a>
                </li>

            </ul>
        </div>
        <!--box-content box-category-->
    </div>

    <div class="block-filter">
        <form action="#" method="get">
            <div class="block">
                <!-- BEGIN Lorem-CATEGORY -->
                <div class="block-title">
                    <a href="#lorem" data-toggle="collapse" data-parent="#lorem">Lorem <span
                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                </div>
                <div class="block-content">
                    <ul class="collapse active in " id="lorem">
                        <li>
                            <div class="checkbox">

                                <input type="checkbox" name="your_name" id="your_id_1" class="css-checkbox">
                                <label for="your_id_1" class="css-label"><span>
                                            Vendu en ligne <i class="count">(86)</i>
                                       </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_2" class="css-checkbox">
                                <label for="your_id_2" class="css-label"><span>
                                            Nouveauté <i class="count">(24)</i>
                                       </span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block">
                <!-- BEGIN Price -->
                <div class="block-title">
                    <a href="#price" data-toggle="collapse" data-parent="#price">Prix <span
                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                </div>
                <div class="block-content">
                    <ul class="collapse active in " id="price">

                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_3" class="css-checkbox">
                                <label for="your_id_3" class="css-label"><span>
                                            250€ - 500€
                                       </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_4" class="css-checkbox">
                                <label for="your_id_4" class="css-label"><span>
                                            500€ - 750€
                                       </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_5" class="css-checkbox">
                                <label for="your_id_5" class="css-label"><span>
                                            750€ - 1000€
                                       </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_6" class="css-checkbox">
                                <label for="your_id_6" class="css-label"><span>
                                            1 000€ - 1 250€
                                       </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_7" class="css-checkbox">
                                <label for="your_id_7" class="css-label"><span>
                                            1 250€ - 1 500€
                                       </span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block">
                <!-- BEGIN Colors -->
                <div class="block-title">
                    <a href="#colors" data-toggle="collapse" data-parent="#colors">Couleurs <span
                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                </div>
                <div class="block-content colors-filter">
                    <ul class="collapse active in " id="colors">
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-other"
                                       class="css-checkbox hidden">
                                <label for="colors-other" class="color-label">
                                    <span class="color other"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-white"
                                       class="css-checkbox hidden">
                                <label for="colors-white" class="color-label">
                                    <span class="color white"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-blue"
                                       class="css-checkbox hidden">
                                <label for="colors-blue" class="color-label">
                                    <span class="color blue"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-brun"
                                       class="css-checkbox hidden">
                                <label for="colors-brun" class="color-label">
                                    <span class="color brun"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-gris"
                                       class="css-checkbox hidden">
                                <label for="colors-gris" class="color-label">
                                    <span class="color gris"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-yellow"
                                       class="css-checkbox hidden">
                                <label for="colors-yellow" class="color-label">
                                    <span class="color yellow"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-mixed"
                                       class="css-checkbox hidden">
                                <label for="colors-mixed" class="color-label">
                                    <span class="color mixed"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-black"
                                       class="css-checkbox hidden">
                                <label for="colors-black" class="color-label">
                                    <span class="color black"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-orange"
                                       class="css-checkbox hidden">
                                <label for="colors-orange" class="color-label">
                                    <span class="color orange"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-pink"
                                       class="css-checkbox hidden">
                                <label for="colors-pink" class="color-label">
                                    <span class="color pink"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-red"
                                       class="css-checkbox hidden">
                                <label for="colors-red" class="color-label">
                                    <span class="color red"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-green"
                                       class="css-checkbox hidden">
                                <label for="colors-green" class="color-label">
                                    <span class="color green"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="colors-violet"
                                       class="css-checkbox hidden">
                                <label for="colors-violet" class="color-label">
                                    <span class="color violet"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block">

                <!-- BEGIN Material -->
                <div class="block-title">
                    <a href="#materials" data-toggle="collapse" data-parent="#materials">Matières <span
                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                </div>
                <div class="block-content">
                    <ul class="collapse active in " id="materials">
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_12" class="css-checkbox">
                                <label for="your_id_12" class="css-label"><span>Acier
                                       </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_13"
                                       class="css-checkbox"><label
                                    for="your_id_13" class="css-label"><span>Mélamine
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_14"
                                       class="css-checkbox"><label
                                    for="your_id_14" class="css-label"><span>Microfibre
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_15"
                                       class="css-checkbox"><label
                                    for="your_id_15" class="css-label"><span>Panneaux et dérivés bois
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_16"
                                       class="css-checkbox"><label
                                    for="your_id_16" class="css-label"><span>Tissu
                                   </span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block">
                <!-- BEGIN Places -->
                <div class="block-title">
                    <a href="#places" data-toggle="collapse" data-parent="#places">Nombre de places <span
                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                </div>
                <div class="block-content">
                    <ul class="collapse active in " id="places">
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_17"
                                       class="css-checkbox"><label
                                    for="your_id_17" class="css-label"><span>2
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_18"
                                       class="css-checkbox"><label
                                    for="your_id_18" class="css-label"><span>3
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_19"
                                       class="css-checkbox"><label
                                    for="your_id_19" class="css-label"><span>4
                                   </span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block">
                <!-- BEGIN Dimension -->
                <div class="block-title">
                    <a href="#dimension" data-toggle="collapse" data-parent="#dimension">Dimension de
                        couchage <span
                                class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                </div>
                <div class="block-content">
                    <ul class="collapse active in " id="dimension">
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_20"
                                       class="css-checkbox"><label
                                    for="your_id_20" class="css-label"><span>
                                        120x188 <i class="count">(18)</i>
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_21"
                                       class="css-checkbox"><label
                                    for="your_id_21" class="css-label"><span>
                                        120X190 <i class="count">(12)</i>
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_22"
                                       class="css-checkbox"><label
                                    for="your_id_22" class="css-label"><span>
                                        140X188 <i class="count">(30)</i>
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_23"
                                       class="css-checkbox"><label
                                    for="your_id_23" class="css-label"><span>
                                        160X188 <i class="count">(22)</i>
                                   </span></label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="checkbox" name="your_name" id="your_id_24"
                                       class="css-checkbox"><label
                                    for="your_id_24" class="css-label"><span>
                                        160X188 <i class="count">(16)</i>
                                   </span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block filter-submit">
                <div class="block-content">
                    <div class="col-xs-6">
                        <button type="button" id="reset-filter" class="btn btn-fly btn-lg btn-block">Tout décocher
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-fly btn-lg btn-block btn-inverse">Terminé</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>