<div class="sidebar col-md-3  col-xs-12">
                        <div class="side-nav-profil">
                            <div class="block-title">
                                <h1>
                                    Bonjour<br /> Christophe
                                </h1>
                            </div>
                            <a href="#" class="logout ">Déconnexion</a>
                            <!--block-title-->
                            <div class="block-title">
                                <h2>Mon profile</h2>
                            </div>
                            <!-- BEGIN BOX-profil -->
                            <div class="box-content box-profil">
                                <ul class="profil-items">
                                    <li>
                                        <a href="#" class="active">Mon tableau de bord</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Mes informations</a>
                                    </li>
                                    <li>
                                        <a href="#">Mon carnet d'adresses</a>
                                    </li>
                                    <li>
                                        <a href="#">Mon magasin préféré</a>
                                    </li>
                                </ul>
                            </div>
                            <!--box-content box-profil-->
                            <!--block-title-->
                            <div class="block-title">
                                <h2>Mes commandes</h2>
                            </div>
                            <!-- BEGIN BOX-order -->
                            <div class="box-content box-order">
                                <ul class="order-items">
                                    <li>
                                        <a href="#">Mes achats</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Mes retours</a>
                                    </li>
                                </ul>
                            </div>
                            <!--box-content box-order-->
                            <!--block-title-->
                            <div class="block-title">
                                <h2>Mes avantages fidélité</h2>
                            </div>
                            <!-- BEGIN BOX-avantages -->
                            <div class="box-content box-order">
                                <ul class="order-items">
                                    <li>
                                        <a href="#">Ma carte fidélité Fly</a>
                                    </li>
                                </ul>
                            </div>
                            <!--box-content box-avantages-->
                            <a href="#" class="btn-fly btn-help ">Besoin d’aide ?</a>
                        </div>
                    </div>