@font-face {
  font-family: 'icofly';
  src: url('#{$icomoon-font-path}/icofly.eot?mc76jd');
  src: url('#{$icomoon-font-path}/icofly.eot?mc76jd#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icofly.ttf?mc76jd') format('truetype'),
  url('#{$icomoon-font-path}/icofly.woff?mc76jd') format('woff'),
  url('#{$icomoon-font-path}/icofly.svg?mc76jd#icofly') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin font-icon() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofly' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include font-icon();
}

.icon-send_mail {
  &:before {
    content: $icon-send_mail;
  }
}

.icon-add {

}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}

.icon-google {
  &:before {
    content: $icon-google;
  }
}

.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}

.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}

.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}

.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}

.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}

.icon-arrow-down-bold {
  &:before {
    content: $icon-arrow-down-bold;
  }
}

.icon-arraw-left-light {
  &:before {
    content: $icon-arraw-left-light;
  }
}

.icon-star {
  &:before {
    content: $icon-star;
  }
}

.icon-heart {
  &:before {
    content: $icon-heart;
  }
}

.icon-fax {
  &:before {
    content: $icon-fax;
  }
}

.icon-trash {
  &:before {
    content: $icon-trash;
  }
}

.icon-info {
  &:before {
    content: $icon-info;
  }
}

.icon-info-circle .path1 {
  &:before {
    content: $icon-info-circle-path1;
    color: rgb(35, 31, 32);
  }
}

.icon-info-circle .path2 {
  &:before {
    content: $icon-info-circle-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-info-circle .path3 {
  &:before {
    content: $icon-info-circle-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-mail {
  &:before {
    content: $icon-mail;
  }
}

.icon-users {
  &:before {
    content: $icon-users;
  }
}

.icon-clock {
  &:before {
    content: $icon-clock;
  }
}

.icon-triman {
  &:before {
    content: $icon-triman;
  }
}

.icon-plus{
  &:before {
    content: $icon-plus-light;
  }
}

.icon-arrow-circle .path1 {
  &:before {
    content: $icon-arrow-circle-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-arrow-circle .path2 {
  &:before {
    content: $icon-arrow-circle-path2;
    margin-left: -1em;
    color: rgb(218, 218, 218);
  }
}

.icon-arrow-circle .path3 {
  &:before {
    content: $icon-arrow-circle-path3;
    margin-left: -1em;
    color: rgb(218, 218, 218);
  }
}

.icon-14 {
  &:before {
    content: $icon-14;
  }
}

.icon-box {
  &:before {
    content: $icon-box;
  }
}

.icon-lock {
  &:before {
    content: $icon-lock;
  }
}

.icon-call {
  &:before {
    content: $icon-call;
  }
}

.icon-arrow-right-bold {
  &:before {
    content: $icon-arrow-right-bold;
  }
}

.icon-arrow-left-bold {
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
  &:before {
    content: $icon-arrow-right-bold;
    transform: rotate(180deg);
    position: absolute;
  }
}

.icon-arrow-left-light {
  &:before {
    content: $icon-arrow-left-light;
  }
}

.icon-arrow-right-light {
  &:before {
    content: $icon-arrow-right-light;
  }
}

.icon-bag {
  &:before {
    content: $icon-bag;
  }
}

.icon-heart-empty {
  &:before {
    content: $icon-heart-empty;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-plus-black-cricle .path1 {
  &:before {
    content: $icon-plus-black-cricle-path1;
    color: rgb(0, 0, 0);
  }
}

.icon-plus-black-cricle .path2 {
  &:before {
    content: $icon-plus-black-cricle-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}

.icon-plus-black-cricle .path3 {
  &:before {
    content: $icon-plus-black-cricle-path3;
    margin-left: -1em;
    color: none;
  }
}

.icon-plus-white-cricle .path1 {
  &:before {
    content: $icon-plus-white-cricle-path1;
    color: rgb(255, 255, 255);
  }
}

.icon-plus-white-cricle .path2 {
  &:before {
    content: $icon-plus-white-cricle-path2;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.icon-plus-white-cricle .path3 {
  &:before {
    content: $icon-plus-white-cricle-path3;
    margin-left: -1em;
    color: none;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-presse {
  &:before {
    content: $icon-presse;
  }
}
.icon-note {
  &:before {
    content: $icon-note;
  }
}
.icon-truck {
  &:before {
    content: $icon-truck;
  }
}
.icon-order-cancel {
  &:before {
    content: $icon-order-cancel;
  }
}
.icon-package {
  &:before {
    content: $icon-package;
  }
}
.icon-order-info {
  &:before {
    content: $icon-order-info;
  }
}
.icon-message {
  &:before {
    content: $icon-message;
  }
}


.icon-contact-us{
  &:before {
    content: $icon-contact-us;
  }
}


.icon-contact-us{
  &:before {
    content: $icon-contact-us;
  }
}

.slick-prev {
  left: 0;
  display: none;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  margin-right: 4.2em;
}

.slick-next {
  right: 0;
  &:before {
    @include font-icon();
    content: $icon-arrow-right-light;
  }
}

.slick-next {
  z-index: 2;
  width: auto;
  height: auto;
  &:before {
    color: #adadad;
    font-size: 1rem;
    font-weight: 100;
    background: #fff;
    border: 1px solid #adadad;
    line-height: 2.2em !important;
    display: block;
    border-radius: 100%;
    height: 2.2em;
    width: 2.2em;
    padding: 0;
    margin: 0 1px 0 0;

  }
  &:hover {
    &:before {
      color: #1e1e1e;
      border-color: #1e1e1e;
    }

  }
}
