//
//	MIXINS & FUNCTIONS
//	A few simple Sass helpers.
//
@import "../vendors/sass-mediaqueries/media-queries";


// @font-face mixin
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.
// Forked from Bourbon. https://github.com/thoughtbot/bourbon/
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype'),
    url('#{$file-path}.svg##{$font-family}') format('svg');
  }
}

// Strip units from values
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Calculate ems from pixels
@function calc-em($px, $base: 14) {
  $px: strip-unit($px);
  $base: strip-unit($base);
  @if $px == 1 {
    @return 0.0725em;
  }
  @return ($px / $base) * 1rem;
}

// For clearing floats
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calc-em($size);
}

// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}
@mixin transform-rotate($deg) {
   -webkit-transform: rotate($deg);
                    -moz-transform: rotate($deg);
                    -o-transform: rotate($deg);
                    -ms-transform: rotate($deg);
                    transform: rotate($deg);
}
@mixin status($color) {
    font-family: $Poppins;
    font-weight: 600;
    color : $color;
}
@mixin btn-fly($color,$background-color) {
    background-color : $background-color;
    color: $color;
    font-family: $Raleway;
    font-size: 1.2em;
    display: inline-block;
    line-height: 3em;
    padding: 0 30px;
    margin-top: 20px;
    @media (max-width: $screen-sm-min) {
        display: block;
        margin-top: 10px;
        margin : 10px auto 0;
        float: right;
    }
}