.h1Class {
  padding-bottom: 61px *$resize-psd;
  font-size: 60px *$resize-psd;
  font-weight: 600;
  line-height: 80px *$resize-psd;
  font-family: $Poppins;
  @media (max-width: $screen-md-min) {
    font-size: 36px * $resize-psd;
    line-height: 97.47px *$resize-psd;
  }
}

.advantages {
  padding-bottom: 47px * $resize-psd;
  @media (max-width: $screen-md-min) {
    padding-bottom: 32px * $resize-psd;
  }

  .advantages-fid {
    padding-bottom: 77px * $resize-psd;
    @media (max-width: $screen-md-min) {
      padding-bottom: 49px * $resize-psd;
    }
  }
  h1 {
    @extend .h1Class;
  }
  .contour {
    border: 1px solid #f5f5f5;
    height: 538px * $resize-psd;
    padding: 78px * $resize-psd 81px * $resize-psd 78px * $resize-psd 81px * $resize-psd;
    margin: 0;
    h3 {
      //padding-top: 78px *$resize-psd;
      padding-bottom: 48px *$resize-psd;
      //padding-left: 77px *$resize-psd;
      //padding: 0;
      font-family: $Poppins;
      font-size: 40px * $resize-psd;
      line-height: 50px * $resize-psd;
      font-weight: 600;
      @media (max-width: $screen-md-min) {
        font-size: 30px * $resize-psd;
        line-height: 35.45px *$resize-psd;
      }
    }
    ul {
      /*padding-left: 77px * $resize-psd;
      padding-bottom: 51px * $resize-psd;
      padding: 0;*/
      li {
        list-style-type: circle;
        font-family: $Raleway;
        font-size: 32px * $resize-psd;
        line-height: 50px * $resize-psd;
        font-weight: 500;
        @media (max-width: $screen-md-min) {
          font-size: 24px * $resize-psd;
          line-height: 35.45px * $resize-psd;
        }
      }
    }
    a {
      display: inline-block;
      margin-top: -20px * $resize-psd;
      margin-bottom: 79px * $resize-psd;
      //margin-left: 77px *$resize-psd;
      span {
        font-family: $Raleway;
        font-size: 32px * $resize-psd;
        line-height: 40px * $resize-psd;
        font-weight: 500;
        @media (max-width: $screen-md-min) {
          font-size: 24px * $resize-psd;
        }
      }
      .chang-card {
        text-decoration: underline;

      }
    }
    p {
      font-family: $Raleway;
      font-size: 32px * $resize-psd;
      line-height: 40px * $resize-psd;
      font-weight: 500;
      @media (max-width: $screen-md-min) {
        font-size: 26px * $resize-psd;
        line-height: 35.45px * $resize-psd;
      }
    }
    div {
      padding: 0;
      &:nth-child(2) {
        padding-bottom: 51px * $resize-psd;
        //padding-left: 77px * $resize-psd;

      }
    }
  }
  div {
    padding: 0;
    &:nth-child(3) {
      top: -80px * $resize-psd;
    }
  }

}

.advantages-fid-plus {
  .contour {
    border-left: none;
    background-color: #f5f5f5;
  }
}

.advantages-cheques {
  h1 {
    @extend .h1Class;
  }
  .advantages-cheque-fid {
    padding: 0;
  }
  .contour {
    border: 1px solid #f5f5f5;
    height: 620px * $resize-psd;
    padding: 78px * $resize-psd 28px * $resize-psd 78px * $resize-psd 81px * $resize-psd;
    margin: 0;
   /* @media (max-width: $screen-md-min) {
      padding: 50px * $resize-psd 28px * $resize-psd 66px * $resize-psd 56px * $resize-psd;
      height: 438px * $resize-psd;
    }*/
    //color:black;
    background-color: whitesmoke;
    background-image: url(../img/fid-avantage/Illustration_01.png);
    background-repeat: no-repeat;
    -webkit-background-size: 40%;
    -moz-background-size: 40%;
    -o-background-size: 40%;
    background-size: 40%;
    background-position: top right;
    border-right: 20px * $resize-psd solid #f5f5f5;

    .detail-cheque {
      .type-cheque {
        font-size: 50px * $resize-psd;
        font-family: $Poppins;
        font-weight: 500;
        line-height: 50px * $resize-psd;
        //font-weight: 100;
        text-transform: uppercase;
        @media (max-width: $screen-md-min) {
          font-size: 36px * $resize-psd;
          line-height: 35.59px * $resize-psd;
        }
      }
      .amount-cheque {
        font-size: 62px * $resize-psd;
        font-family: $Raleway;
        font-weight: 800;
        line-height: 50px * $resize-psd;
        @media (max-width: $screen-md-min) {
          font-size: 46px * $resize-psd;
          line-height: 35.59px * $resize-psd;
        }
      }
      hr {
        margin-top: 8px  * $resize-psd;
        margin-bottom: 93px *$resize-psd;
        display: block;
        margin-right: 518px * $resize-psd;
        border-width: 1px;
        border-color: #848484;
      }
      sup {
        font-size: 37px * $resize-psd;
        font-family: $Raleway;
        font-weight: 500;
        line-height: 50px * $resize-psd;
        @media (max-width: $screen-md-min) {
          font-size: 20px * $resize-psd;
          line-height: 35.59px * $resize-psd;
        }
      }
    }
    .deliv-val {
      padding-bottom: 48px * $resize-psd;
      .deliv-cheque {
        font-size: 32px * $resize-psd;
        font-family: $Raleway;
        font-weight: 500;
        line-height: 50px * $resize-psd;
        @media (max-width: $screen-md-min) {
          font-size: 24px * $resize-psd;
          line-height: 35.59px * $resize-psd;
        }
      }
      .val-cheque {
        @extend .deliv-cheque;
      }
    }

    a {
      display: inline-block;
      margin-top: -20px * $resize-psd;
      margin-bottom: 79px * $resize-psd;
      //margin-left: 77px *$resize-psd;
      span {
        font-family: $Raleway;
        font-size: 32px * $resize-psd;
        line-height: 40px * $resize-psd;
        font-weight: 500;
        @media (max-width: $screen-md-min) {
          font-size: 24px * $resize-psd;
        }
      }
    }
    .num-cheque {
      font-family: $Raleway;
      font-size: 32px * $resize-psd;
      line-height: 40px * $resize-psd;
      font-weight: 500;
      @media (max-width : $screen-md-min) {
        font-size: 24px * $resize-psd;
        line-height: 35.59px * $resize-psd;
      }
    }
  }
  .advantages-cheque-annif {
    padding: 0;
    .contour {
      background-image: url(../img/fid-avantage/Illustration_02.png);
      background-color: #e10f21;
      border-right: 20px * $resize-psd solid #e10f21;
      .btn-fly {
        @extend .btn-fly;
        background-color: #e10f21;
        border-color: white;
        color: white;
      }
      hr {
        margin-top: 8px  * $resize-psd;
        margin-bottom: 16px *$resize-psd;
        display: block;
        // margin-left: 10px;
        margin-right: 518px * $resize-psd;
        border-width: 1px;
        border-color: #f9fafa;

      }
      .detail-cheque {
        .type-cheque {
          color: white;
        }
        .cond-cheque {
          font-family: $Poppins;
          font-weight: 500;
          font-size: 32px * $resize-psd;
          line-height: 50px * $resize-psd;
          //font-weight: 500;
          margin-bottom: 52px * $resize-psd;
          @media (max-width : $screen-md-min) {
            font-size: 24px * $resize-psd;
            line-height: 35.59px * $resize-psd;
          }
        }
      }
      .deliv-val {
        .deliv-cheque {
          color: white;
        }
        .val-cheque {
          color: white;
        }
      }
      .num-cheque {
        color: white;
      }
    }

  }
}
