
.cart-container {

  @media (max-width: $screen-md-min) {
    border-top: 1px solid #dadada;
    .container{
      padding: 0;
    }
  }
  .cart-listing {
    padding-left: 0;
    @media (max-width: $screen-md-min) {
      padding: 0;
      margin-bottom: 1rem;
      &+ .cart-order {
        padding: 0 15px;
        > .order-title{
          display: none;
        }
      }
    }
    .cart-title {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.875rem;
      font-weight: 600;
      border-bottom: 1px solid #dadada;
      padding-bottom: 1rem;
      .count-item{
        display: none;
        color: #1e1e1e;
        font-family: $Raleway;
        font-size: 0.75rem;
        float: right;
      }
      @media (max-width: $screen-md-min) {
        padding: 1rem 15px;
        font-size: 1.125rem;
        font-weight: 400;
        .count-item{
          display: block;
          line-height: 1.125rem;
        }
      }
    }
    &.empty-cart{
      padding:0;
      @media (max-width: $screen-md-min) {
        margin-bottom: 0;
      }
      .cart-title {
        border-bottom: none;
        @media (max-width: $screen-md-min) {
          padding: 4rem 15px 0;
          text-align: center;
        }
      }
      display: block;
      width: 100%;
    }



  }


  .empty-cart-msg{
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
    @media (max-width: $screen-md-min) {
      padding-top:0;
    }
    .icon-bag{
      font-size: 1.5em;
      display: inline;
      bottom: -0.15em;
      position: relative;

      @media (max-width: $screen-md-min) {
        display: block;
        font-size: 2rem;
        margin: 0 0 0.5em;
      }
    }
    .btn{
      margin: 1rem 0;
    }
  }
}

.cart-products {
  clear: both;
  ul{
    padding-left: 0;

    .cart-product {
      border-bottom: 1px solid #dadada;
      padding: 1em 0;
      display: table;
      width: 100%;
      &:last-child{
        border-bottom: none;
      }
      @media (max-width: $screen-md-min) {
        border-bottom: 2px solid #dadada;
        &:last-child{
          border-bottom: 1px solid #dadada;
        }
      }
      .product-thumb {
        text-align: center;
      }

      .product-description {
        position: relative;
        margin-bottom: 0.5rem;
        @media (max-width: $screen-md-min) {
          padding-bottom: 1em;
        }
        .btn-delete {
          position: absolute;
          top:0;
          right: 0;

          @media (max-width: $screen-md-min) {
            right: 1rem;
            .icon-trash {
              font-size: 1.4rem;
            }
          }
        }

        h3{
          margin-top: 2.5rem;
        }
        .subname , h3{
          font-family: $Poppins;
          font-size: 1rem;
          font-weight: 600;
          display: block;
        }
        span{
          font-family: $Raleway;
          font-size: 0.813rem;
          font-weight: 500;
        }

        .price-box {
          float: left;
          margin-top: 2rem;
          padding-top: 0.35rem;
          @media (max-width: $screen-md-min) {
            margin-top: 0;
            margin-bottom: 1rem;
          }
          .sale-price {
            display: inline-block;
            .price {
              font-size: 1rem;
              font-weight: 400;
              font-family: $Poppins;
            }
          }

          .regular-price {
            display: inline-block;
            .price {
              font-size: 0.938rem;
              font-weight: 400;
              text-decoration: line-through;
              font-family: $Poppins;
            }
          }

          .notice {
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            display: inline-block;
            .underline {
              font-size: 0.813rem;
              font-weight: 500;
            }
          }
        }

        .order-box {
          float: right;
          margin-top: 2rem;
          @media (max-width: $screen-md-min) {
            width: 100%;
            margin-top: 0.5rem;
            table{
              width: 100%;
              td{
                &:last-child{
                  text-align: right;
                  padding-right: 15px;
                }
              }
            }
          }
          .input-group {
            margin-right: 2rem;
            .input-group-btn {
              width: auto;
              .btn-number {
                border-radius: 2px;
                background: transparent;
                border-color: transparent;
                padding: 0;
                .icon-minus {
                  color : #dadada;
                  padding-right: 0.5rem;
                  &:before{
                    content: $icon-minus;
                    position: relative;
                    top: 0;
                    font-size: 1.2rem;
                    left: 0;
                  }
                }
                .icon-plus {
                  color : #dadada;
                  padding-left: 0.5rem;
                  &:before{
                    content: $icon-add;
                    position: relative;
                    top: 0;
                    font-size: 1.2rem;
                    font-weight: 900;
                  }
                }
              }
            }

            .form-control {
              width: 3.531rem;
              height: 2.375rem;
              background-color: white;
              border: 0.063rem solid #eaeaea;
              border-radius: 4px;
              text-align: center;
              font-family: $Poppins;
              font-size: 1rem;
              font-weight: 600;
            }
          }

          .sale-price {
            display: inline-block;
            .price {
              font-size: 1rem;
              font-weight: 600;
              font-family: $Poppins;
            }
          }

          .regular-price {
            display: inline-block;
            .price {
              font-size: 0.938rem;
              font-weight: 400;
              text-decoration: line-through;
              font-family: $Poppins;
            }
          }

        }
      }

      .extended-warranty {
        background-color: whitesmoke;
        padding: 0.5em;
        position: relative;
        @media (max-width: $screen-md-min) {
          padding: 1rem 15px;
        }
        &:before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border: solid transparent;
          border-bottom-color: whitesmoke;
          border-width: 15px;
          top: -29px;
          left: 10%;
          @media (max-width: $screen-md-min) {
            left: 18%;
          }
        }
        .no-style {
          width: 100%;
          strong{
            font-size: 1rem;
            font-weight: 600;
          }
          .underline {
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            @media (max-width: $screen-md-min) {
              display: table;
            }
          }

          .btn {
            background-color: transparent;
            border: 2px solid transparent;
            border-right: 2px solid #1e1e1e;
            border-radius: 0;
            &:hover{
              border: 2px solid #1e1e1e;
              background-color: #1e1e1e;
            }
            @media (max-width: $screen-md-min) {
              border: 2px solid #1e1e1e;
              border-radius: 2px;
              &:hover{
                background-color: #1e1e1e;
              }
            }
          }
        }
      }
    }
  }
}

.cart-order {
  @media (max-width: $screen-md-min) {
    padding:0;
    clear: both;
  }
  .order-title {
    font-family: $Poppins;
    font-size: 1.875rem;
    font-weight: 600;
    padding-bottom: 1em;

  }

  .no-style {
    padding: 0;
    width: 100%;
    &.sub-total{
      margin-bottom: 1rem;
    }
    tr{
      margin: 0.5em 0;
      display: table;
      width: 100%;

    }
    .text-right {

    }

    .green {
      color: #3fb34f;
      font-family: $Poppins;
      font-size: 1rem;
      font-weight: 400;
      .text-right {
        font-weight: 600;
        float: right;
      }
    }


  }

  .coupon {
    font-family: $Raleway;
    font-size: 1rem;
    font-weight: 500;
    border-top: 1px solid #dadada ;
    border-bottom: 1px solid #dadada ;
    input,button{
      color: #1e1e1e;
      font-family: $Raleway;
      font-size: 1rem;
      font-weight: 500;
      background-color: white;
      border: 0.063rem solid #dadada;
      border-radius: 4px;
      width: 7rem;
      text-align: center;
      padding: 0.5em 0.3em;
    }
    button{
      padding: 0.60rem 0;
      width: 5rem;
    }
    .input-group{
      float: right;
      input{
        float: left;
        margin-right: 1em;
        @media (max-width: $screen-md-min) {
          border: 1px solid #dadada;
        }
      }
      .input-group-btn{
        float: right;
        @media (max-width: $screen-md-min) {
          .btn-fly{
            border: 1px solid #0e0101;
            color: #1e1e1e;
            font-family: $Raleway;
          }
        }

      }
    }
  }
  .order {

    h3{
      line-height: 1.875rem;
      padding: 0.8em 0;
      .amount {
        font-family: $Poppins;
        font-size: 1.875rem;
        font-weight: 600;
        float: right;
      }
    }


    .input-group {
      width: 100%;
      margin-bottom: 1rem;
      .btn {
        line-height: 1.33;
      }
    }

    .payment-box {
      display: table;
      .no-style {
        width: auto;
        td{
          padding-right: 0.3em;
          @media (max-width: $screen-md-min) {
            &:last-child,&:first-child{
              display: none;
            }
          }

        }
        #payment-period {
          margin-right: 0.5em;
          max-width: 100px;
          .btn-select {
            min-width: inherit;
            background-color: #fff;
            margin-bottom: 0;
            @media (max-width: $screen-md-min) {
              min-width: 212px;
            }
            #payment-period-id {

              .btn-select-value {
                color: #1e1e1e;
                font-size: 1rem;
                font-weight: 600;
                padding: 1em 1em;
              }

              .btn-select-arrow {
                &:before {
                  @include font-icon();
                  content: $icon-arrow-right-bold;
                  color: #1e1e1e;
                  position: absolute;
                  margin-left: -1.8em;
                  font-size: 0.625rem;
                  font-weight: 900;
                  line-height: 4.4em;
                  -webkit-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
              }
            }

            .dropdown-menu {
              min-width: inherit;
              .option {
                color: #1e1e1e;
                font-size: 1rem;
                font-weight: 600;
                padding: 3px 1em;
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }

        #period-terms {

        }
      }

      .underline {

      }
    }
  }
}