.main-cgv {


  .page-heading {

    margin:59px 139px 59px 195px;
    text-align: center;

    .page-heading-title {
      font-family: Poppins;
      font-size: 36px;
      color: #1e1e1e;

      @media (max-width: $screen-sm-min) {
        font-size: 25px;
      }
    }
    @media (max-width: $screen-md-min) {
      margin: 59px 0px 59px 0px;
    }

  }

  .cgv-contour
  {

    border: 1px solid #dadada;
    width: $cgv-page-size;
    .cgv-display{
      padding: 1rem 0;
      display: table;
      width: 100%;

    }
    @media (max-width: $screen-md-min) {
      border-left: none;
      border-right: none;
      width: auto;
    }
    .btn {
      float: right;
      background-color:  rgba(0, 0, 255, 0);
      font-size: 28px;
    }

    .btn-rotate{
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      margin-top: -10px;
    }

    .cgv-panel-title {
      .cgv-panel-title-txt {
        font-family: Poppins;
        font-weight: bold;
        font-size: 16.67px;
        margin-top: 26px;
        margin-bottom: 26px;
        margin-left: 38px;

      }
      @media (max-width: $screen-md-min) {
        span {
           font-size: 28.5px;
           width: 79%;
           display: inline-block;
         }
      }
      @media (max-width: $screen-sm-min) {
        span {
          width: 75%;
        }
      }

    }
    .red-color{
      color: $red-fly;
    }

    .sub-panel-body{
      font-family: Raleway;
      font-size: 18px;


      border-top: 1px solid #dadada;
      width: $cgv-page-size;
      .subtitle-panel-body{
        color: $red-fly;
        font-family: Poppins;
        font-size: 13.33px;
        font-weight: bold;
        padding: 19px 16px 0px 19px;
        height: 48px;
      }
      .sub-txt-panel-body{
        font-family: Raleway;
        font-size:  13.36px;
       //text-align: justify;
        hr{
          width: 1000px;
          @media (max-width: $screen-md-min) {
            width: auto;

          }
        }
      }
    }
    .collapse{
     // background-color: rgba(218, 218, 218, 0.23);
    }
    .panel-body-txt{
      font-family: Raleway;
      font-size:  13.36px;
      margin-top: 19px;
      //text-align: justify;

      hr{
        width: 1000px;
        @media (max-width: $screen-md-min) {
          width: auto;
        }
      }
    }

    .cgv-panel-body{
      background: rgba(218, 218, 218, 0.23);
      padding-bottom: 38px;
      padding-left: 19px;
      padding-right: 40px;
      @media (max-width: $screen-md-min) {
       width: auto;
       padding-right: 15px;
      }
    }
  }






}
