.h1Dashboard {
  padding-bottom: 61px *$resize-psd;
  font-size: 60px *$resize-psd;
  font-weight: 600;
  line-height: 80px *$resize-psd;
  font-family: $Poppins;
  @media (max-width: $screen-md-min) {
    font-size: 36px * $resize-psd;
    line-height: 97.47px *$resize-psd;
  }
}

.h3Dashboard {
  margin: 0;
  padding: 0;
  font-family: $Poppins;
  font-size: 40px * $resize-psd;
  line-height: 50px * $resize-psd;
  font-weight: 600;
  @media (max-width: $screen-md-min) {
    font-size: 30px * $resize-psd;
    line-height: 35.45px *$resize-psd;
  }
}

.h4Dashboard {
  margin: 0;
  font-family: $Raleway;
  font-size: 32px * $resize-psd;
  line-height: 50px * $resize-psd;
  font-weight: bold;
}

.dashboard-block {
  padding: 0;
  padding-bottom: 77px * $resize-psd;
  @media (max-width: $screen-md-min) {
    padding-bottom: 49px * $resize-psd;
  }
}

.dashboard {
  padding-bottom: 47px * $resize-psd;
  @media (max-width: $screen-md-min) {
    padding-bottom: 32px * $resize-psd;
  }
  h1 {
    @extend .h1Dashboard;
  }
  a {
    display: inline-block;
    margin-top: -20px * $resize-psd;
    margin-bottom: 79px * $resize-psd;
    span {
      font-family: $Raleway;
      font-size: 32px * $resize-psd;
      line-height: 40px * $resize-psd;
      font-weight: 500;
      @media (max-width: $screen-md-min) {
        font-size: 24px * $resize-psd;
      }
    }
    .chang-card {
      font-family: $Raleway;
      font-size: 32px * $resize-psd;
      line-height: 40px * $resize-psd;
      font-weight: 500;
      text-decoration: underline;
    }
  }
  .block-card {
    @extend .dashboard-block;
    .contour {
      border: 1px solid #f5f5f5;
      height: 538px * $resize-psd;
      padding: 78px * $resize-psd 81px * $resize-psd 78px * $resize-psd 81px * $resize-psd;
      margin: 0;
      p {
        font-family: $Raleway;
        font-size: 32px * $resize-psd;
        line-height: 40px * $resize-psd;
        font-weight: 500;
        @media (max-width: $screen-md-min) {
          font-size: 26px * $resize-psd;
          line-height: 35.45px * $resize-psd;
        }
      }
      div {
        padding: 0;
        h3 {
          @extend .h3Dashboard;
        }

        .block-card {
          .contour {
            .store-lib-2 {
              padding-bottom: 195px * $resize-psd;
            }
          }
        }

        .block-magasin {
          .contour {
            .store-lib-2 {
              padding-bottom: 195px * $resize-psd;
            }
          }
        }

        &:nth-child(1) {
          padding-bottom: 48px *$resize-psd;
        }
        &:nth-child(2) {
          padding-bottom: 51px * $resize-psd;
        }
        &:nth-child(3) {
          top: -80px * $resize-psd;
        }
      }
    }
  }

  .block-magasin {
    @extend .dashboard-block;
    .contour {
      border: 1px solid #f5f5f5;
      height: 538px * $resize-psd;
      padding: 78px * $resize-psd 81px * $resize-psd 78px * $resize-psd 81px * $resize-psd;
      margin: 0;
      h3 {
        @extend .h3Dashboard;
      }
      h4 {
        @extend .h4Dashboard;
      }
      div {
        padding: 0;
      }
      .store-lib {
        padding-bottom: 48px *$resize-psd;
      }
      .contact-us {
        padding: 0;
        padding-bottom: 78px * $resize-psd;
        ul {
          display: inline-flex;
          padding: 0;
          li {
            font-family: $Raleway;
            font-size: 32px * $resize-psd;
            line-height: 50px * $resize-psd;
            font-weight: 500;
            &:first-child {
              padding-right: 19px * $resize-psd;
            }
          }
        }
      }
      .pointer-map {
        //top: -35px * $resize-psd;
        img {
          position: absolute;
          top: -130px * $resize-psd;
        }
      }
    }

  }
}

.empty-dashboard {
  @extend .dashboard;

  //init css
  .block-card {
    .contour {
      div {
        &:nth-child(1) {
          padding-bottom: 195px * $resize-psd;
        }
        &:nth-child(2) {
          padding-bottom: none;
        }
        &:nth-child(3) {
          top: 0;
        }
      }
    }
  }

  .block-magasin {
    .contour {
      .store-lib-2 {
        padding-bottom: 195px * $resize-psd;
      }
    }
  }

  .pointer-map-2 {
    //top: -35px * $resize-psd;
    img {
      position: absolute;
      top: -20px * $resize-psd;
    }
  }

  .content {
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    height: 283px * $resize-psd;
    padding: 81px * $resize-psd 81px * $resize-psd 73px * $resize-psd 81px * $resize-psd;
    margin: 0;
    p {
      font-family: $Raleway;
      font-size: 32px * $resize-psd;
      line-height: 50px * $resize-psd;
      font-weight: 500;
      text-align: center;
    }
  }
}

.font-commun {
  font-family: $Raleway;
  font-size: 26px * $resize-psd;
  text-align: center;
  font-weight: 500;

}

.dashboard-my-adress {
  .title {
    @extend .h1Dashboard;
  }
  .contour {
    &:nth-child(2n) {
      margin-right: 61px *$resize-psd;
      margin-left: 61px *$resize-psd;
    }
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    width: 641px * $resize-psd;
    height: 605px * $resize-psd;
    padding: 65px * $resize-psd 128px * $resize-psd 41px * $resize-psd 130px* $resize-psd;
    margin-bottom: 61px * $resize-psd;
    p {
      @extend .font-commun;
      padding-bottom: 60px * $resize-psd;
      line-height: 50px * $resize-psd;
    }
    h3 {
      @extend .font-commun;
      line-height: 60px * $resize-psd;
    }
    a {
      span {
        font-family: $Raleway;
        font-size: 32px * $resize-psd;
        line-height: 40px * $resize-psd;
        //text-align: center;
        font-weight: 500;
      }
    }
    .btn-size {
      width: 382px *$resize-psd;
      height: 101px *$resize-psd;
      text-align: center;

    }
    .dafault-adress {
      border: 1px;
    }
    .center {
      display: inline-flex;
      margin-top: 20px *$resize-psd;
    }
    &.default {
      border: 1px solid #000000;
      background-color: #ffffff;
      .dafault-adress {
        display: table-cell;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        background-color: #f5f5f5;
        span {
          font-family: $Raleway;
          font-size: 32px * $resize-psd;
          line-height: 40px * $resize-psd;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}

.my-prefered-store {
  .my-prefered-store-title {
    font-family: $Poppins;
    font-size: 60px * $resize-psd;
    line-height: 80px * $resize-psd;
    font-weight: 600;
    padding-bottom: 80px * $resize-psd;
  }
  .my-prefered-store-search-bar {
    border: 1px solid #f5f5f5;
    border-bottom: none;
    height: 180px * $resize-psd;
    @media (max-width: $screen-md-min) {
      border: none;
    }
    .search-bar-body {
      margin: 18px * $resize-psd auto;
      @media (max-width: $screen-md-min) {
        width: 100%;
      }
      .search-bar-elt {
        &:last-child{
          @media (max-width: $screen-md-min) {
            padding-bottom: 48px * $resize-psd;
          }
        }
        p {
          font-family: $Poppins;
          font-size: 32px * $resize-psd;
          line-height: 120px * $resize-psd;
          font-weight: 600;
          @media (max-width: $screen-md-min) {
            font-size: 26px * $resize-psd;
           text-align: center;
          }
        }
        padding: 0.5rem 29px * $resize-psd;
        @media (max-width: $screen-md-min) {
          padding: 0 29px * $resize-psd;
        }
        .btn-fly {
          font-size: 1rem !important;
          padding: 1rem 1.5rem;
          @media (max-width: $screen-md-min) {
            padding: 1rem 0.5rem;
            width: 100%;
          }
          .icon-location {
            font-size: 1.4rem;
            top: 0.15rem;
            position: relative;
            line-height: 0;
            color: #fff;
          }
          &:hover {
            background-color: $red-fly;
            border-color: $red-fly;
            color: #ffffff;
          }
        }
        #custom-search-input {
          //max-width: 180px;
          .input-group {
            .form-control {
              border-color: #1e1e1e;
              font-size: 32px * $resize-psd;
              font-family: $Raleway;
              font-weight: 500;
              line-height: 50px * $resize-psd;
              border-radius: 4px 0 0 4px;
            }
            .input-group-btn {
              .btn {
                background-color: #1e1e1e;
                transition: background-color 0.2s ease-in-out;
                border-radius: 0 4px 4px 0;
                height: 46px;
                .icon-search {
                  color: #fff;
                }
                &:hover {
                  background-color: $red-fly;
                }
              }
            }
            @media (max-width: $screen-md-min) {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .store-open-times {
    position: absolute;
    top: inherit;
    z-index: 999;
    margin-top: 107px * $resize-psd;
    margin-left: 80px * $resize-psd;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 681px * $resize-psd;
    height: 1067px * $resize-psd;
    padding-left: 61px * $resize-psd;
    padding-top: 48px * $resize-psd;
    @media (max-width: $screen-md-min) {
      position: static;
      margin : 0;
      width: auto;
      height: auto;
      padding : 0;
    }
    .fly-store {
      display: table;
      padding-bottom: 28px * $resize-psd;
      .fly-logo {
        display: table-cell;
        vertical-align: middle;
        padding-right: 19px * $resize-psd;
      }
      .name-store {
        display: table-cell;
        font-family: $Poppins;
        font-size: 32px * $resize-psd;
        line-height: 50px * $resize-psd;
        font-weight: 600;
        position: relative;
        top: 10px;
      }
    }
    .store-adress {
      font-family: $Raleway;
      font-size: 26px * $resize-psd;
      line-height: 50px * $resize-psd;
      font-weight: 500;
    }
    .phone-nbr-block {
      font-family: $Raleway;
      font-size: 26px * $resize-psd;
      line-height: 50px * $resize-psd;
      font-weight: 500;
      padding-top: 54px * $resize-psd;
      padding-bottom: 59px * $resize-psd;
      .icon-block {
        display: table-cell;
        padding-right: 19px * $resize-psd;
      }
      .phone-nbr {
        display: table-cell;
      }
    }
    .time-table {
      font-family: $Raleway;
      font-size: 26px * $resize-psd;
      line-height: 50px * $resize-psd;
      padding-bottom: 80px * $resize-psd;
      font-weight: 500;
      .today {
        font-weight: bold;
      }
    }
    .view-store-btn {
      font-family: $Raleway;
      font-size: 32px * $resize-psd;
      line-height: 40px * $resize-psd;
      font-weight: 500;
      padding-bottom: 59px * $resize-psd;
      /*a{
        @media (max-width: $screen-md-min) {
          padding-right: 168px * $resize-psd;
          padding-left: 168px * $resize-psd;
        }
      }*/
    }
    .update-store-btn {
      font-family: $Raleway;
      font-size: 26px * $resize-psd;
      line-height: 50px * $resize-psd;
      font-weight: 500;
      padding-bottom: 54px * $resize-psd;
    }
  }
  .map {
    width: 100%;
    height: 1219px * $resize-psd;
    @media (max-width: $screen-md-min) {
      height: 1157px * $resize-psd;
    }
    &.map-resp{
      @media (max-width: $screen-md-min) {
        height: 1657px * $resize-psd;
      }
    }
  }

  .stores-search-result {
    position: absolute;
    top: inherit;
    z-index: 999;
    margin-top: 107px * $resize-psd;
    margin-left: 80px * $resize-psd;
    background-color: #ffffff;
    width: 681px * $resize-psd;
    height: 1067px * $resize-psd;
    @media (max-width: $screen-md-min) {
      position: static;
      margin : 0;
      width: auto;
      height: auto;

    }
    .nbr-stores-found {
      height: 168px * $resize-psd;
      width: 100%;
      background-color: #f5f5f5;
      font-family: $Poppins;
      font-size: 40px * $resize-psd;
      line-height: 120px * $resize-psd;
      font-weight: 600;
      text-align: center;
      @media (max-width: $screen-md-min) {
        height: auto;
        text-align: left;
        font-size: 28px * $resize-psd;
        line-height: 120px * $resize-psd;
        font-weight: 600;
        background-color: #ffffff;
        border-bottom: 1px solid #eeeeee;
      }
    }

    .stores-found {
      .store-found {
        margin: 20px * $resize-psd auto;
        display: table;
        .store-lib {
          padding-right: 62px * $resize-psd;
          display: table-cell;
          font-family: $Poppins;
          font-size: 32px * $resize-psd;
          line-height: 120px * $resize-psd;
          font-weight: 600;
        }
        .store-dist {
          padding-left: 62px * $resize-psd;
          padding-right: 37px * $resize-psd;
          display: table-cell;
          font-family: $Raleway;
          font-size: 26px * $resize-psd;
          line-height: 120px * $resize-psd;
          font-weight: 500;
        }
        .store-chose {
          display: table-cell;
          a {
            //padding: 36px * $resize-psd 60px * $resize-psd;
            padding-right: 60px * $resize-psd;
            padding-left: 60px * $resize-psd;
          }
          span {
            font-family: $Raleway;
            font-size: 32px * $resize-psd;
            line-height: 140px * $resize-psd;
            font-weight: 500;
          }
        }
      }
    }
    hr {
      padding: 0;
      margin: 0;
    }
  }

}
