.espace-presse{
  /*==================
  VARIABLES
  ===================*/
  $font-size-60px: 4.286rem;
  $font-size-30px: 2.143rem;
  $font-size-28px: 2rem;
  $font-size-25px: 1.786rem;
  $font-size-23px: 1.643rem;
  $font-size-21px: 1.5rem;
  $font-size-20px: 1.429rem;
  $font-size-18px: 1.286rem;
  $font-size-16px: 1.143rem;
  $font-size-14px: 1rem;
  $font-size-13px: 0.9286rem;

  $color-black: #1e1e1e;
  /*==================
  GENERAL
  ===================*/
  h1{
    font-size: $font-size-60px;
    font-weight: 700;
    margin: 47px 0;
  }
  .revue-de-presse{
    margin-top:10px;
    margin-bottom: 90px;
    .block-press{
      padding: 20px 30px;
      height:345px;
      margin-top:-1px;
      margin-left:-1px;
      border: 1px solid #dadada;
      .date{
        font-family: "Poppins", sans-serif;
        font-size: $font-size-13px;
        display: block;
        position: relative;
      }
      div.img{
        height: 50px;
        width: 100%;
        line-height: 50px;
        display: inline-block;
        margin: 10px 0 5px;
        vertical-align: middle;
        .logo{
          max-height: 100%;
          position: relative;
        }
      }
      h2{
        font-family: "Poppins", sans-serif;
        font-size: $font-size-23px;
        font-weight: 600;
        margin: 0;
        line-height: $font-size-28px;
      }
      .link{
        font-family: "Poppins", sans-serif;
        font-size: $font-size-14px;
        position: absolute;
        bottom: 25px;
        left:28px;
        cursor: pointer;
        border-bottom: 1px solid #000;
      }
      .content{
        background: #f9f9f9;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 0;
        height: 0;
        visibility: visible;
        opacity:0;
        transition: all 200ms ease-in;
        padding: 20px 0 0 15px;
        overflow: hidden;
        img{
          max-width:100%;
          max-height: 100%;
          &.apercu{
            max-height: 560px;
            float: right;
          }
        }
        .pdf{
          position: absolute;
          left: 30px;
          bottom: 30px;
          border-bottom: 1px solid #000;
          padding-bottom: 4px;
          text-decoration: none;
        }
        .close{
          position: absolute;
          right: 30px;
          top: 30px;
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url(../img/espace-presse/close.png) 0 0 no-repeat transparent;
          background-size: 16px;
          text-indent: -9999px;
          opacity: 1;
          z-index: 4;
          &:hover{
            opacity:0.6;
          }
        }
      }
      &.active{
        .content{
          width: 200%;
          height: 200%;
          opacity:1;
          visibility: visible;
        }
      }
      &:nth-child(4n+4){
        .content{
          left: auto;
          right: 0;
        }
      }
    }
  }
}

/*==================
RESPONSIVE
===================*/
@media screen and (max-width: 1199px) {
  .espace-presse {
    .revue-de-presse {
      .block-press {
        &:nth-child(4n+4){
          .content{
            left: 0;
            right: auto;
          }
        }
        &:nth-child(3n+3){
          .content{
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .espace-presse {
    .revue-de-presse {
      .block-press {
        &:nth-child(3n+3){
          .content{
            left: 0;
            right: auto;
          }
        }
        &:nth-child(2n+2){
          .content{
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .espace-presse {
    h1{
      font-size: 35px;
    }
    .revue-de-presse {
      .block-press {
        height: auto;
        padding-bottom: 60px;
        h2{
          font-size: 20px;
          line-height: 24px;
        }
        .link{
          font-size: 14px;
        }
        &:nth-child(2n+2){
          .content{
            left: 0;
            right: auto;
          }
        }
        .content{
          width: 100%;
          height: 100%;
          top: -800px;
          display: none;
        }
        &.active{
          .content{
            width: 92%;
            height: auto;
            opacity: 1;
            display: block;
            position: fixed;
            visibility: visible;
            margin-top: 20px;
            padding-bottom: 20px;
            padding-left: 0;
            left: 0;
            top: 0;
            margin-left: 4%;
            z-index:10;
            .pdf{
              left: 20px;
            }
          }
        }
      }
    }
    .overlay{
      position: fixed;
      display: none;
      opacity:0;
      visibility: hidden;
      transition: all 200ms;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      &.active{
        z-index:9;
        opacity:1;
        visibility: visible;
        display: block;
        background: rgba(0,0,0,0.6);
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .espace-presse {
    .revue-de-presse {
      .block-press {
        h2{
          font-size: 16px;
          line-height:20px;
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .espace-presse {
    .revue-de-presse {
      .block-press {
        width: 100%;
      }
    }
  }
}

