.faq {
  .page-heading{
    font-size: 60px * $resize-psd;
  }
    .block-title{
    border: 1px solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    font-family: $Poppins;
    font-weight: 600;
    font-size: 40px * $resize-psd;
    padding : 10px;
  .icon-arrow-down-bold{
    float: right;
    margin-right: 14px;
    margin-top: 18px;
  }
    }
  .block-content{
.panel-heading{
  h4.panel-title{
    a, .icon-arrow-down-bold{
      font-size: 32px * $resize-psd;
    }
    .icon-arrow-down-bold{
      padding-right: 14px;
    }
  }
}
    a{
      font-weight: 600;
    }
    .panel-body{
      padding-left: 30px;
      .btn-fly{
        display: block;
        margin:20px 0;
      }
    }
    a, .panel-body {
      font-size: 32px * $resize-psd;
      line-height: 26px;
    }
    .collapse.in{
      background-color: #f9f9f9;
    }
  }

}
