#header {
  border-bottom: 1px solid #dadada;;
  .top-bar {
    background-color: #1e1e1e;
    .info-msg {
      color: white;
      font-size: 28px * $resize-psd;
      font-family: $Raleway;
      @include font-size(12px);
      font-weight: 500;
      padding: 0.6em 0 0.6em;
      text-align: center;
      list-style: none;
      margin-bottom: 0;
      @media (max-width: $screen-md-min) {
        line-height: 2em;
      }
      a{
        color: #FFF;
      }
      i {
        color: $red-fly;
        font-size: 1.2em;
        margin-right: 0.2em;
        &:before {
          position: relative;
          display: inline-block;
          margin-left: -1em;
          top: 0.15em;
        }
      }
    }
  }

  .header-wrapper {

    .logo {
      float: left;
      margin-right: -276px;
      a{
        img{
          width: 94%;
          max-width: 124px;
        }
      }
      @media (max-width: $screen-md-min) {
        a{
          img{
            width: auto;
            max-width: 92px;
          }
        }
        float: none;
        border-bottom: 1px solid #dadada;
        margin-right: auto;
        text-align: center;
        height: 100px;
        margin: 0 -15px;
        img {
          max-height: 100%;
        }
        .navbar-toggle {
          margin: 1.8em 0 0;
          position: relative;
          &.menu-right {
            .icon-user {
              @include font-size(36px);
            }
          }
          &.menu-left {
            padding-top: 1em;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            width: 46px;
            margin: 2.5em 1em 0;
            body.canvas-slid & {

              .icon-bar {
                background: $red-fly;
                &:nth-child(1) {
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  transform: rotate(45deg);
                  top: 2px;
                  left: 8px;
                }
                &:nth-child(2) {
                  width: 0%;
                  opacity: 0;
                }
                &:nth-child(3) {
                  -webkit-transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  -o-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                  top: 34px;
                  left: 8px;
                }
              }
            }
            .icon-bar {
              margin: 0;
              padding: 0;
              display: block;
              position: absolute;
              height: 6px;
              width: 100%;
              background: #1e1e1e;
              border-radius: 9px;
              opacity: 1;
              left: 0;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: .25s ease-in-out;
              -moz-transition: .25s ease-in-out;
              -o-transition: .25s ease-in-out;
              transition: .25s ease-in-out;
              &:nth-child(1) {
                top: 0px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
              }
              &:nth-child(2) {
                top: 16px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
              }
              &:nth-child(3) {
                top: 32px;
                -webkit-transform-origin: left center;
                -moz-transform-origin: left center;
                -o-transform-origin: left center;
                transform-origin: left center;
              }
            }
          }

        }
      }
    }
    .header {
      padding-left: 22%;
      @media (max-width: $screen-md-max) {
        padding-left: 144px;
      }
      @media (max-width: $screen-md-min) {
        padding-left: 0;
      }
      .header-top {

        @media (min-width: $screen-md-min) {
          padding: 14px 1em 14px 2em;
          margin: 0;
        }
        .e-commerce-container {
          float: right;
          padding: 1em 0;
          left: inherit \0/ !important;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            left: inherit !important;
          }
          @media (max-width: $screen-md-min) {
            padding: 0;
          }
          ul {
            list-style: none;
            @media (max-width: $screen-md-min) {
              padding: 0;
            }
            li {
              display: inline-block;
              padding: 0 0 0 2.25em;

              @media (min-width: $screen-md-min) {
                .label {
                  display: none;
                  -webkit-transition: color 0.5s; /* Safari */
                  transition: color 0.5s;
                  line-height: 1.5em;

                }
              }
              @media (max-width: $screen-md-min) {
                display: block;
                padding: 1.5em 0.5em;
                border-bottom: 1px solid #efefef;
                a {
                  display: table;
                  width: 100%;
                  font-size: 1.2rem;
                  padding-left: 0.5em;
                  .label {
                    line-height: 1.5em;
                  }
                  &:hover {
                    i, .label {
                      color: $red-fly;
                    }
                  }
                  i {
                    float: right;
                    font-size: 1.5em;
                  }
                }

              }
              i {
                -webkit-transition: color 0.5s; /* Safari */
                transition: color 0.5s;
                font-size : 1.4rem;
                &:hover {
                  color: $red-fly;
                }
              }
              .icon-bag {
                position: relative;
                &:after {
                  content: attr(data-count);
                  width: 13px;
                  height: 13px;
                  color: $red-fly;
                  font-family: $Raleway;
                  @include font-size(8px);
                  font-weight: 500;
                  border-radius: 100%;
                  background-color: #fff;
                  border: 1px solid $red-fly;
                  display: block;
                  position: absolute;
                  bottom: -0.5em;
                  right: -0.5em;
                  text-align: center;
                  line-height: 1.5em;
                }
              }
            }
          }
        }

        .search-box {
          display: table;
          position: relative;
          z-index: 1;
          @media (max-width: $screen-md-min) {
            display: block;
            max-width: 400px;
            margin: 0.4em auto;
          }
          #search_mini_form {
            background-color: #f9f9f9;
            border-radius: 4px;
            padding: 0.8em;
            .search-input, .search-submit {
              border: none;
              background-color: #f9f9f9;
              margin: 0;
              outline: none;
            }
            .search-input {
              min-width: 360px;
              font-family: $Poppins;
              font-size: 31px * $resize-psd;
              font-weight: 500;
              @media (max-width: $screen-md-min) {
                min-width: 85%;

                text-align: center;
              }
            }
            .icon-search {
              color: #1e1e1e;
            }
          }
        }
      }

      .navbar {

        @media (min-width: $screen-md-min) {
          background: transparent;
          height: auto !important;
          display: block;
        }
        @media (max-width: $screen-md-min) {
          background-color: #eeeeee;
        }
        border: none;
        margin: 0;
        ul {
          &.navbar-right {
            > li {
              & > a {
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                  padding-left: 1.2em;
                  padding-right: 1.2em;
                }
              }
              @media (max-width: $screen-md-min) {
                padding: 1.2em 0.5em;
                border-bottom: 1px solid #d3d3d3;
              }
            }
            @media (max-width: $screen-md-min) {
              padding: 0;
              border-bottom: 5px solid #eeeeee;
              margin-top: 0;
              margin-bottom: 0;
            }
          }
          &.navbar-left {
            @media (max-width: $screen-md-min) {
              padding: 0;
              margin-top: 0;
              margin-bottom: 0;
              border-top: 1px solid #d3d3d3;
            }
            > li {
              padding-bottom: 0;
              border-bottom: none;
              margin: 0;
              @media (max-width: $screen-md-min) {
                padding: 0;
                a {
                  padding: 1.2em 1em;
                }
                border-bottom: 1px solid #d3d3d3;
                .img-responsive {
                  display: none;
                }
                &:after {
                  @include font-icon();
                  content: $icon-arrow-right-bold;
                  color: #1e1e1e;
                  position: absolute;
                  margin-left: -1.8em;
                  @include font-size(10px);
                  font-weight: 900;
                  line-height: 4.4em;
                  right: 1.5em;
                  top: 1em;
                }
                &.open {
                  &:after {
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                    color: #e00024;
                  }

                  .dropdown-menu {
                    background-color: #eeeeee;
                  }

                }
              }
              &.active, &.open {

                @media (max-width: $screen-md-min) {
                  border-bottom-color: #d3d3d3;
                }
                & > a {
                  background-color: transparent;
                  border-bottom: 3px solid #e00024;
                  @media (max-width: $screen-md-min) {
                    border-bottom:none;
                  }
                  padding-bottom: 18px;
                }
              }

              & > a {
                color: #1e1e1e;
                font-family: $Raleway;
                font-size : 38px * $resize-psd;
                font-weight: 500;
                line-height: 1em;
                margin-left: 15px;
                padding-left: 0;
                padding-right: 0;
                margin-right: 15px;
                &:hover {
                  background-color: transparent;
                }
              }
            }
          }
        }
        .navbar-header {
          @media (max-width: $screen-md-min) {
            .navbar-toggle {
              background: none;
              border: none;
              .icon-bar {
                background-color: #1e1e1e;
              }
              &:hover {
                background: none;
              }
              .sr-only {

              }

            }
          }

        }


      }
    }
  }

  .checkout-wizard {
    display: table;
    width: 100%;
    position: relative;
    margin: 3rem auto auto;
    @media (min-width: $screen-md-min) {
      width: 60%;
    }
    @media (max-width: $screen-md-min) {
      padding: 1.5rem 0;
      margin: 0;
      &:before{
        content: "";
        position: absolute;
        height: 100%;
        width: 1000%;
        display: block;
        background: #f6f6f6;
        top: 0;
        left: -250%;
      }
    }
    .checkout-wizard-row {
      display: table-row;

      .checkout-wizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
        overflow: hidden;
        &:before{
          top: 14px;
          bottom: 0;
          position: absolute;
          content: " ";
          width: 100%;
          height: 1px;
          background-color: #1e1e1e;
          z-index: 0;
          left: 0;
        }
        &:first-child{
          &:before{
            left: inherit;
          }
        }
        &:last-child{
          &:before{
            width: 50%;
          }
        }
        .btn {
          position: relative;
          margin-bottom: 0.4rem;
          &[disabled] {
            opacity: 1 !important;
            filter: alpha(opacity=100) !important;
          }
          &.btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            line-height: 1.428571429;
            border-radius: 15px;
            background-color: white;
            border: 1px solid #1e1e1e;
            color: #1e1e1e;
            font-family: $Poppins;
            font-size: 0.813rem;
            font-weight: 600;
          }
        }
        p {
          color: #1e1e1e;
          font-family: $Poppins;
          font-size: 1rem;
          font-weight: 600;
        }
        &.active{
          .btn-circle {
            background-color: #1e1e1e;
            color: white;
          }
        }
        &.disabled{
          &:before{
            background-color: #dadada;
          }
          .btn-circle {
            border: 1px solid #dadada;
            color: #dadada;
          }
          p {
            color: #dadada;
          }
        }


      }
    }
  }
}