.home-container {

  .btn-fly {
    font-size: 32px * $resize-psd;
    font-family: $Raleway;
    font-weight: 500;
    background-color: #fff;
    border: 2px solid #1e1e1e;
    color: #1e1e1e;
    transition: all 0.25s ease-in-out;
    border-radius: 3px;
    &.btn-lg {
      line-height: 1em;
    }
    &:hover {
      background-color: #1e1e1e;
      color: #fff;
    }
    &.btn-inverse {
      background-color: #1e1e1e;
      color: #fff;
      &:hover {
        background-color: $red-fly;
        border: 2px solid $red-fly;
      }
    }
    [class*=" icon-"]{
      font-size: 9px;
    }
  }
  .container {
    @media (max-width: $screen-md-min) {
      padding: 0;
      .row{
        margin: 0;
      }
    }

    .center-cropped {
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
      transition: padding 0.2s ease-in;
      background-size: cover;
      @media (max-width: $screen-md-min) {
        background-size: cover;
        max-height: 25rem;
      }

      img {
        min-width: 100%;
        opacity: 0;
        @media (max-width: $screen-md-min) {
          background: none !important;
          /* IE 8 */
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          /* IE 5-7 */
          filter: alpha(opacity=0);
          /* modern browsers */
          opacity: 0;
          height: auto;
        }

      }
    }

    .section-carousel {
      padding-right: 0;

      .side-nav-categories {
        padding: 0 1.4em 0 1.2rem;
        position: relative;
        .vertical-align {
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          .block-title {
            font-family: $Poppins;
            font-size: 1.875rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
          }

          .box-content {
            font-size: 1rem;
            margin-bottom: 2rem;
            .category-menu {
              list-style: none;
              padding-left: 0;
              li {
                padding: 0 0 0.7em 0;
                &:last-child {
                  padding-bottom: 0;
                }
                transition: all 0.2s ease-in-out;

                &:hover {
                  padding-left: 1em;
                  font-weight: 700;
                  &:before {
                    @include font-icon();
                    content: $icon-arrow-right-bold;
                    color: #e00024;
                    position: absolute;
                    margin-left: -1.8em;
                    @include font-size(10px);
                    font-weight: normal;
                    line-height: 2em;
                  }

                }
                a{
                  font-weight: 500;
                  font-family: $Raleway;
                  font-size: 31px * $resize-psd;
                }
              }
            }
          }
        }

        @media (max-width: $screen-md-min) {
          display: none;
        }
      }

      .carousel-product {
        position: relative;
        padding: 0;
        overflow: hidden;
        .carousel {

          .carousel-outer {
            position: relative;
            .carousel-inner {

              .item {

                img {

                }

                .item-description {
                  position: absolute;
                  top: 50%;
                  -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
                  font-family: $Poppins;
                  right: 2.5rem;
                  color: white;
                  text-align: right;
                  .product-name {
                    text-shadow: 0.1rem -0.194rem 0.469rem rgba(0, 0, 0, 0.8);
                    font-size: 3.75rem;
                    font-weight: 400;
                    padding-bottom: 2rem;
                  }
                  .product-price {
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding-bottom: 2rem;
                    .price {
                      font-size: 1.875rem;
                      font-weight: 600;
                    }
                  }

                  .btn {
                    font-size: 32px * $resize-psd;
                    font-family: $Raleway;
                    font-weight: 500;
                    .icon {

                    }
                  }
                }
              }
            }
            a{
              font-size: 24px;
            }
            a.left:hover, a.right:hover{
              background: #1e1e1e;
            }
            a.left {
              border-left: 1px solid #dadada;
              position: absolute;
              bottom: 0;
              background: #fff;
              z-index: 9000;
              opacity: 1;
              display: inline-block;
              width: auto;
              padding: 1.2rem;
              left: 0;
              top: inherit;
              border-right: #dadada 1px solid;
              .icon-arrow-left-light {
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
              }
            }

            a.right {
              border-left: 1px solid #dadada;
              position: absolute;
              bottom: 0;
              background: #fff;
              z-index: 9000;
              opacity: 1;
              display: inline-block;
              width: auto;
              padding: 1.2rem;
              left: 4.0rem;
              top: inherit;
              right: inherit;
              .icon-arrow-right-light {
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
              }
            }

            @media (max-width: $screen-md-min) {
             a.left,a.right{
               display: none;
             }
            }
          }
        }

        .carousel-indicators {
          position: absolute;
          bottom: 10px;
          left: inherit;
          right: 3rem;
          width: inherit;
          .active {

            span {

            }
          }

          li {

            border: 1px solid #fff;
            background-color: #fff;
            &.active {
              border: 1px solid #eb212e;
              background-color: #eb212e;
            }
          }
        }
      }
    }

    .section-editorial {
      border-top: #dadada 1px solid;
      border-bottom: #dadada 1px solid;
      @media (max-width: $screen-md-min) {
        margin: 1rem 1rem 0;;
      }
      .editorial {
        padding: 0;
        text-align: center;
        .visual {
          margin-bottom: 1.5rem;
          overflow: hidden;
          padding: 1.3rem 1.3rem 0;
        }
        h3 {
          font-family: $Poppins;
          font-size: 1.875rem;
          font-weight: 600;
          margin-bottom: 1rem;
          padding: 0 20%;
          display: block;
        }

        p {
          font-family: $Raleway;
          font-size: 32px * $resize-psd;
          font-weight: 500;
          margin-bottom: 1rem;
          padding: 0 20%;
          display: block;
        }

        .read-more {
          color: #1e1e1e;
          font-family: $Raleway;
          font-size: 32px * $resize-psd;
          font-weight: 500;
        }
      }
      .editorial-roll {
        border: 1px solid #dadada;
        border-top: none;
        border-bottom: 0 none;
        padding: 0;
        padding-bottom: 3rem;
        text-align: center;
        @media (max-width: $screen-md-min) {
          margin-bottom: 1rem;
          border: none;
        }
        .visual {
          margin-bottom: 1.5rem;
          overflow: hidden;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
        }

        &:hover{

          .visual {
            /*margin-bottom: 1.5rem;
            overflow: hidden;
            padding: 1.3rem 1.3rem 0;*/
          }
          .underline{
            border-bottom-color: $red-fly;
          }
        }


        h3 {
          font-family: $Poppins;
          font-size: 60px * $resize-psd;
          font-weight: 600;
          margin-bottom: 1rem;
          display: block;
        }

        p {
          font-family: $Raleway;
          font-size: 32px * $resize-psd;
          font-weight: 500;
          margin-bottom: 1rem;
          padding: 0 2.5rem;
          display: block;
        }

        .read-more {
          color: #1e1e1e;
          font-family: $Raleway;
          font-size: 32px * $resize-psd;
          font-weight: 500;
          margin-bottom: 2rem;
        }
      }
    }

    .section-my-fly {
      border-bottom: #dadada 1px solid;

      .my-fly-box {
        position: relative;
        padding-left: 0;
        @media (max-width: $screen-md-min) {
          padding: 1rem 10px ;
        }
        .vertical-align {
          @media (min-width: $screen-md-min) {
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding-left: 0;
            width: 65%;
            left: 20%;
          }

          .myfly-logo {

            img {

            }
          }

          h3 {
            color: #1e1e1e;
            font-family: $Poppins;
            font-size: 120px * $resize-psd;
            font-weight: 400;
            margin-bottom: 2rem;
            @media (max-width: $screen-md-min) {
              font-size: 1.75rem;
              margin-bottom: 1rem;
            }
          }

          strong {
            color: #1e1e1e;
            font-family: $Poppins;
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 2rem;
            display: block;
            @media (max-width: $screen-md-min) {
              font-size: 1rem;
            }
          }

          .btn {

            .icon {

            }
          }
        }
      }

      .my-fly-box-visual {
        padding-right: 0;
        padding-left: 0;
        .center-cropped {
          position: relative;
          @media (max-width: $screen-md-min) {
            height: 100%;
            max-height: inherit;
          }
          }
      }
    }

    .section-fly-by {
      margin: 1.5rem 0;
      .fly-by-box-visual {
        position: relative;
        padding-left: 0;
        @media (max-width: $screen-md-min) {
          height: auto!important;
        }
      }

      .fly-by-box {
        padding-right: 0;
        padding-top: 2rem;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
        @media (max-width: $screen-md-min) {
          padding-top: 1rem;
          padding-left: 0.75rem;
          margin-bottom: 1rem;
          padding-right: 1rem;
        }
        .fly-by-logo {
          margin-bottom: 1rem;
          img {
            display: inline-block;
          }

          span {
            color: #1e1e1e;
            font-family: $Poppins;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.563rem;
            text-transform: uppercase;
            @media (max-width: $screen-md-min) {
              display: block;
              margin: 1rem 0;
            }
            .icon-flag-fr {
              position: relative;
              bottom: -0.15rem;
              margin-left: 1rem;
              margin-right: 0.5rem;
              &:before {
                content: "";
                background: url(../img/homepage/flag_france.png) top left no-repeat;
                display: inline-block;
                width: 27px;
                height: 18px;
              }
            }
          }
        }

        blockquote {
          padding: 0 45px;
          color: #666;
          font-family: $Raleway;
          font-size: 46px * $resize-psd;
          font-weight: 500;
          position: relative;
          border: none;
          max-width: 72%;
          display: inline-block;
          @media (max-width: $screen-md-min) {
            max-width: inherit;
            font-size: 1.2rem;
          }
          &:after, &:before {
            content: "";
            background: url(../img/homepage/accolad_01.png) top left no-repeat;
            display: block;
            width: 32px;
            height: 23px;
            position: absolute;
            left: 0;
            top: 0;
          }
          &:after {
            background: url(../img/homepage/accolad_02.png) bottom right no-repeat;
            left: inherit;
            top: inherit;
            right: 0;
            bottom: 0;
          }
          strong {
            font-weight: 700;
          }
        }
      }

      .fly-by-products {

        .category-products {

          .products-grid {

            .products-row {
              @media (max-width: $screen-md-min) {
                border-bottom: none;
              }

              .item {
                &:before {
                  border: none;
                }
                @media (max-width: $screen-md-min) {
                  display: none;
                  &:nth-child(1),&:nth-child(2){
                    display: block;
                    margin-top:1rem;
                    .item-inner:last-child{
                      border: 1px solid #dadada;
                    }
                  }
                  &:nth-child(1){
                    padding-left: 0;
                  }
                  &:nth-child(2){
                    padding-right: 0;
                  }
                }
              }
            }
          }
        }
      }
      .btn-group-fly{
        .btn-fly {
          border: 1px solid;
          padding : 10px 20px;
          margin-left: 2rem;
          font-size: 32px * $resize-psd;
          font-family: $Raleway;
          font-weight: 500;
          [class*=" icon-"]{
            font-size: 9px;
          }
        }
        @media (max-width: $screen-md-min) {
          width: 100%;
          display: table;
          margin-bottom: 1rem;
          .btn-fly {
            font-size: 32px * $resize-psd;
            font-family: $Raleway;
            font-weight: 500;
            margin-left: 2%;
            width: 47%;
            &:last-child{
              float: left !important;
              margin-left: 0;
            }
            [class*=" icon-"]{
              font-size: 9px;
            }
          }
        }
      }

    }

    .section-lookbook {

      .section-lookbook-visual {
        position: relative;
        img {
          width: 100%;
        }
        .popover{
          .arrow{
            display: none;
          }
        }

        .btn-popover {
          position: absolute;
          background: transparent;
          border: none;

          .icon-add {
            color: #fff;
            border-radius: 50%;
            padding: 4px;
            font-family: $Poppins;
            background-color: #1e1e1e;
            font-size: 36px;
            font-weight: 600;
            @media (max-width: $screen-md-min) {
              font-size: 1.5rem;
              color: #fff;
              position: relative;
            }
            @media (max-width: $screen-sm-min) {
              display: none;
            }
            &:hover, &.active {
              color: black;
            }
            &:before {
              content: $icon-add;
            }
          }
          &.active{
            .icon-add {
              &:before {
                content: $icon-minus;
              }
            }
          }

        }

        .caption {
          position: absolute;
          top: 3rem;
          left: 2rem;
          @media (max-width: $screen-md-min) {
            top: 1rem;
            left: 1rem;
          }
          h3 {
            text-shadow: 0.1rem -0.194rem 0.469rem rgba(0, 0, 0, 0.4);
            color: white;
            font-family: $Poppins;
            font-weight: 400;
            font-size: 3.75rem;
            margin-bottom: 0.5em;
            @media (max-width: $screen-md-min) {
              font-size: 2rem;
            }
            .small {
              color: white;
              font-size: 1.875rem;
              @media (max-width: $screen-md-min) {
                font-size: 1rem;
              }
            }

          }

        }
      }
    }

    .row {

      .section-catalogue {
        position: relative;
        padding: 0;
        .section-catalogue-caption {
          display: table;
          position: absolute;
          top: 3rem;
          left: 50%;
          transform: translateX(-50%);
          h3 {
            font-family: $Poppins;
            font-size: 1.875rem;
            font-weight: 600;
            margin-bottom: 0.5em;
            @media (max-width: $screen-md-min) {
              font-size: 1.063rem;
              margin-bottom: 0;
            }
          }

          p {
            font-family: $Raleway;
            font-size: 1rem;
            font-weight: 500;
            @media (max-width: $screen-md-min) {
              font-size: 0.75rem;
            }
          }

          table {

            tbody {

              tr {

                td {

                  .btn-fly {
                    [class*=" icon-"]{
                      font-size: 9px;
                    }
                    .icon-location {

                    }
                  }
                }
              }
            }
          }
        }
        .section-catalogue-visual {

          img {
            width: 100%;
          }
        }

        .btn {
          display: table;
          position: absolute;
          bottom: 3rem;
          left: 50%;
          transform: translateX(-50%);
          .icon {

          }
        }
      }

      .section-store {
        padding: 0;
        .section-store-visual {

          img {
            width: 100%;
          }
        }

        .section-store-caption {
          display: table;
          margin: 2rem auto 0;
          h3 {
            color: #1e1e1e;
            font-family: $Poppins;
            font-size: 1.875rem;
            font-weight: 600;
            margin-bottom: 1rem;
          }

          p {
            color: #1e1e1e;
            font-family: $Raleway;
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 1rem;
          }

          table {
            margin: 0 auto;
            tbody {

              tr {

                td {
                  padding: 0.5rem;
                  .btn-fly {
                    [class*=" icon-"]{
                      font-size: 9px;
                    }
                    .icon-location {

                    }
                  }
                  #custom-search-input{
                    max-width: 180px;
                    .input-group {

                      .form-control {
                        border-color: #1e1e1e ;
                        height: 37px;
                        font-family: $Raleway;
                        font-size: 32px * $resize-psd;
                        border-radius: 2px 0 0 2px;
                      }

                      .input-group-btn {
                        .btn {
                          &:hover{
                            background-color: $red-fly;
                          }
                          background-color: #1e1e1e;
                          transition: background-color 0.2s ease-in-out;
                          border-radius:0  4px 4px 0;
                          height: 37px;
                          .icon-search {
                            color: #fff;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  & + .our-features-box{
    margin-top: 0;
  }
}