.lookbook-container {
  @media (max-width: $screen-md-min) {
    border-top: 1px solid #dadada;
  }
  .container {

    .style-design {
      border-bottom: 1px solid #dadada;
      @media (max-width: $screen-md-min) {
        border-bottom: none;
      }
      &:last-child {
        border-bottom: none;
        @media (max-width: $screen-md-min) {
          .category-products .products-grid .products-row {
            border-bottom: none;
          }
        }
      }
      .style-title {
        text-align: center;
        margin: 2rem 0;
        @media (max-width: $screen-md-min) {
          font-size: 0.938rem;
          margin: 1.2rem 0;
        }
        h1 {
          color: #1e1e1e;
          font-family: $Poppins;
          font-weight: 700;
          line-height: 3.75rem;
          font-size: 3.75rem;
          .small {
            font-size: 1.875rem;
            display: block;
            color: #1e1e1e;
            font-weight: 700;
          }
          @media (max-width: $screen-md-min) {
            font-size: 1.125rem;
            line-height: 1.125rem;
            font-weight: 700;
            .small {
              font-size: 0.938rem;
              font-weight: 700;
            }
          }
        }
      }

      .style-visuel {
        text-align: center;
        margin-bottom: 4rem;
        margin-left: -15px;
        margin-right: -15px;
        img {
          width: 100%;
        }
      }

      .style-products {

        .category-products {

          .products-grid {

            .products-row {

              .item {
                &:before {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
  }
}