@import 'mini-form/mixins';


.mini-form-search .search {
  position: relative;
  margin: 0 auto;


}
#search_mini_form {

  input{
    &:focus {
      #search_mini_form{
        border: 1px solid;
        border-bottom: 0 none;
        border-color: #cbcfe2 #c8cee7 #c4c7d7;
      }
      .search-box .mini-form-search .search-ac { display: block; }
    }
  }
}
.mini-form-search .search-ac {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
  padding-left: 0;
  border: 1px solid;
  border-top: 0 none;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  @include linear-gradient(top, #fdfdfd, #eceef4);
  @include box-shadow(0 1px 2px rgba(black, .1));

  &:hover { display: block; }

  dd {
    position: relative;
    margin: 0 -1px;
    color: #808394;
    font-family: $Raleway;
    font-weight: normal;
    text-decoration: none;
    padding: 2px 0 ;
    display: table;
    width:100%;

    &:first-child {
      margin-top: -1px;

      &:before, &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        border: 5px outset transparent;
      }
      &:hover { &:before, &:after { display: none; } }
    }

    &:last-child { margin-bottom: -1px; }
    .product-image-box{
      img{
        max-width: 30px;
      }
      float: left;
    }
    .product-shop{
      float: right;
      vertical-align: bottom;
      padding: 4px 12px;
      .product-primary{

      }
    }
    span {  color : #eb212e; }
    .total {
      color : #eb212e;
      position: absolute;
      right: 14px;
      color: inherit;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -9px;
      width: 18px;
      height: 18px;
    }

    &:hover {
      background: #f9f9f9;
      padding: 9px;
      border: 1px solid #dadada;
      @include linear-gradient(top, #f9f9f9, #f1f0f0);
      @include box-shadow(inset 0 1px rgba(white, .2), 0 1px rgba(black, .08));
    }
  }
  dt, dd {
    padding: 10px;
  }
  dt{
    font-size: 34px * $resize-psd;
    font-weight: 500;
    text-transform: uppercase;
    color : #eb212e;
    border: 1px solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    font-size: 34px * $resize-psd
  }
}

.mini-form-search  :-moz-placeholder {
  color: #a7aabc;
  font-weight: 200;
}

.mini-form-search ::-webkit-input-placeholder {
  color: #a7aabc;
  font-weight: 200;
  line-height: 14px;
}

.mini-form-search ::-webkit-search-decoration,
.mini-form-search ::-webkit-search-cancel-button { -webkit-appearance: none; }

.lt-ie9 .mini-form-search .search input { line-height: 26px; }
