 .my-informations{
        label {
            font-weight: 500;
            padding: 0;
            margin: 0;
            line-height: 1.4;
            vertical-align: bottom;
        }
        .form{
            font-family: $Raleway;
            input{
                font-size: 16px;
            }
            .radio, .checkbox {
                display: inline-block;
                line-height: 12px;
            }
            .radio input[type="radio"], .radio input[type="checkbox"]{
                position: relative;
            }
            .field-password {
                .showpass {
                    cursor: pointer;
                    font-size: 14px;
                    float: right;
                    line-height: 20px;
                    position: absolute;
                    right: 27px;
                    top: 65px;
                }
            }
            .field-civility{
                label{
                    margin: 0;
                    display: inline-block;
                    vertical-align: middle;
                    span{
                        width: 126px;
                        display: inline-block;
                    }
                }
                .control{
                    @extend label;
                    .radio{
                        width: 112px;
                    }
                }
            }
            .form-control{
                line-height: 12px;
                height: 44px;
                box-shadow: none;
            }
            .cancel{
                border-bottom: $color-black 1px solid;
            }
            .field-newsletter {
                padding: 10px;
            }
        }


        .newsletter {
            input, .label{
                float: left; 
            }
        }
    }