 .my-feebacks {
        .msg, .block-title > a{
            @include font-size(16px);
            font-weight: bold;
        }
        .block-title{
      border: 1px solid #dadada;
      padding: 1rem 2rem;
        }
        .icon-arrow-down-bold{
      background-color:  rgba(0, 0, 255, 0);
      font-size: 16px;
      margin-right: 12px;
    }

    .icon-arrow-down-bold-rotate{
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      margin-top: -10px;
    }
    }