  .my-purchases {
        .first-bloc{
            border-top: $color-gray-dark solid 1px;
            border-bottom: $color-gray-dark solid 1px;
            padding: 0;
            .mrg-t-14{
                margin-top: 14px;
            }
            .btn-md{
                font-size: 1em;
                text-align: center;
                margin: 1%;
                width: $btn-width-small;
                display: block;
                @media (max-width: $screen-md-min) {
                    margin: 0 1% 1%;
                }
            }
        }
        .btn{
            float: right;
            @media (max-width: $screen-md-min) {
                float: initial;
            }
        }
        .second{
            border-top: $color-gray-dark solid 1px;
        }
        .bloc{
            border-bottom: $color-gray-dark solid 1px;
            padding: 10px 0;
        }
        .date, .ref{
            font-weight: 100;
            font-family: $Raleway;
        }
        .statut-pending{
            @include status(green);
        }
        .statut-cancel{
            @include status($color-black);
        }
    }