@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content main-cgv col-md-8">
                <h2 class="page-heading">
                    <span class="page-heading-title"> Conditions générales de vente s’appliquant à Fly.fr</span>
                </h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title1" class="cgv-panel-title">
                               <span class="cgv-panel-title-txt"> 1. - engagement des parties  </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse1"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                               TEXT
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title2" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 2. - Modalites de passation de la commande </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse2"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title3" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 3. - Prix </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse3"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title4" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 4. - Programme de fidelite Fly </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse4"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title5" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 5. - Paiement </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse5"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class=" panel-body sub-panel-body cgv-panel-body">
                                <span class="subtitle-panel-body"> 5.1. Modalités de paiement -  </span>
                                   <div class="sub-txt-panel-body">
                                       <hr>
                                       Toute commande passée sur le site www.fly.fr est payable en totalité lors de la passation de la commande, sans escompte.
                                       Le paiement s'effectue en ligne au moyen du système sécurisé “3D Secure”.
                                       Les modes de paiement acceptés sont les suivants: les cartes bancaires (Bleue, Visa, Eurocard, Mastercard), la carte Aurore générique, les cartes cadeaux FLY, la carte Fly Fid+ et le paiement Cetelem en quatre fois sans frais (cf ci-dessous). Ces moyens de paiement ne peuvent pas être combinés entre eux. Les chèques de fidélité et les chèques anniversaire FLY peuvent être associés à tout mode de paiement.
                                       Pour toute livraison ou prestation nécessitant un paiement complémentaire à réception de la marchandise, celui-ci devra être effectué auprès du magasin FLY concerné.
                                       Afin d'optimiser la sécurité du paiement en ligne, FLY peut être amené à demander à l'acheteur la communication de tous justificatifs d'identité, et/ou de domicile. Le défaut ou le refus de transmettre les justificatifs demandés peut conduire FLY à refuser la commande. Le délai de transmission des justificatifs peut décaler d'autant la délivrance des produits commandés sans que la responsabilité de FLY puisse être engagée.
                                       Paiement en quatre fois sans frais Cetelem:
                                       FLY propose un paiement en quatre fois sans frais pour tout achat d'un montant total compris entre 150 euros et 3.000 euros TTC. Une prise d'empreinte de la carte bancaire est effectuée au moyen du système de paiement sécurisé “3D Secure”. Puis l'acheteur doit communiquer ses coordonnées personnelles, notamment le numéro d'une pièce d'identité, ainsi que celles de son RIB et procéder à la signature électronique du contrat et de l'autorisation de prélèvement. Un ticket récapitulatif de la transaction est généré et mis à la disposition de l'acheteur. Paiement en quatre fois, à savoir: ¼ du montant de la commande par carte bancaire le jour de la passation de la commande et le solde en trois mensualités égales sans intérêt, par prélèvement automatique.
                                       Sous réserve d'étude et d'acceptation du dossier par BNP Paribas Personal Finance. Cetelem est une marque de BNP Paribas Personal Finance, 1 boulevard Haussmann, 75009 Paris. Société Anonyme au capital de 435.225.976 euros, n° 542 097 902 RCS Paris. N° ORIAS: 07 023 128 (www.orias.fr).
                                   </div>
                                <hr>
                                <span class="subtitle-panel-body"> 5.2. Impayés -  </span>
                                <div class="sub-txt-panel-body">
                                    <hr>
                                    FLY se réserve le droit de suspendre ou d'annuler toute commande et/ou livraison en cas de non-paiement de toute somme qui serait due par l'acheteur. De même, FLY se réserve le droit de refuser d'honorer une commande ou d'effectuer une livraison émanant d'un acheteur qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours de traitement. Tout retard de paiement de l'acheteur emportera de plein droit le paiement par celui-ci d'une pénalité de retard calculée sur la base d'un taux égal à trois fois le taux de l'intérêt légal en vigueur, exigible dès le 1er jour suivant celui auquel le règlement aurait dû avoir lieu, sans qu'il soit besoin d'une mise en demeure préalable.
                                </div>
                                <hr>
                                <span class="subtitle-panel-body"> 5.3. Clause de réserve de propriété -  </span>
                                <div class="sub-txt-panel-body">
                                    <hr>
                                    Le vendeur pourra revendiquer la propriété des marchandises emportées ou livrées jusqu’à leur complet paiement, l’acheteur s’interdisant de les céder à titre gratuit ou onéreux ou de les déplacer de l’adresse de livraison indiquée, et s’obligeant à avertir tous tiers de cette réserve de propriété, notamment dans le cas de toute procédure de voie d’exécution (saisie conservatoire, etc ...).
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title6" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 7. - Mise a disposition / livraison  </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse6"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title7" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 8. - Produit defectueux ou non conforme a la commande </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse7"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title8" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 9. - Retractation </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse8"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title9" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 10. - Garantie </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse9"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse9" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title10" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 11. - Informatique et liberte </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse10"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title11" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 12. - Opposition au demarchage telephonique </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse11"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse11" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title12" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 13. - Droit applicable - reglement des differends </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse12"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse12" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default cgv-contour">
                        <div class="cgv-display">
                            <div id="cgv-panel-title13" class="cgv-panel-title">
                                <span class="cgv-panel-title-txt"> 14. - Coordonnees de fly  </span>
                                <button type="button" data-toggle="collapse" data-target="#collapse13"  class="btn"  data-click-state = '0'>
                                    <i class="icon-arrow-down-bold"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse13" class="panel-collapse collapse">
                            <div class="panel-body panel-body-txt cgv-panel-body">
                                <hr>
                                TEXT
                            </div>
                        </div>
                    </div>

            </div>

        </div>
    </div>
</main>
@@include('_templates/_footer.html')