@@include('_templates/_header_checkout.html')

<div class="checkout-container">
    <div class="container">
        <div class="checkout-main col-md-8">
            <h1 class="checkout-title">Création de votre compte</h1>

            <form action="" method="post">

                <div id="fly-card">
                     <div class="fly-card" >
                         <div class="card-thumb">
                             <img src="../img/checkout/card.min.png" data-rjs="3" alt="">
                         </div>
                         <div class="card-confirm">
                             <div class="checkbox">
                                 <input type="checkbox" name="card-confirm" id="card-confirm" class="css-checkbox"
                                        data-toggle="collapse" data-target="#fly-card-form"
                                 >
                                 <label for="card-confirm" class="css-label">
                                <span>
                                         J’ai la carte Fly
                                       </span>
                                 </label>
                             </div>
                         </div>
                     </div>
                    <div id="fly-card-form" class="collapse row">
                        <div class="form-group col-md-6">
                            <label>*Numéro de carte :</label>
                            <input class="form-control input-lg" type="text"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>*Date de naissance :</label>
                            <div class="birth-date">
                                <div class="btn-group" role="group" aria-label="">
                                    <div class="dropdown btn-select" role="group">
                                        <a id="day-id" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="btn-select-value">JJ</span>
                                            <input type="hidden" class="btn-select-input" value="1">
                                            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="day-id">
                                            <li class="option" data-value="1">1</li>
                                            <li class="option" data-value="2">2</li>
                                            <li class="option" data-value="3">3</li>
                                            <li class="option" data-value="4">4</li>
                                            <li class="option" data-value="5">5</li>
                                            <li class="option" data-value="6">6</li>
                                            <li class="option" data-value="7">7</li>
                                            <li class="option" data-value="8">8</li>
                                            <li class="option" data-value="9">9</li>
                                            <li class="option" data-value="10">10</li>
                                            <li class="option" data-value="11">11</li>
                                            <li class="option" data-value="12">12</li>
                                            <li class="option" data-value="13">13</li>
                                            <li class="option" data-value="14">14</li>
                                            <li class="option" data-value="15">15</li>
                                            <li class="option" data-value="16">16</li>
                                            <li class="option" data-value="17">17</li>
                                            <li class="option" data-value="18">18</li>
                                            <li class="option" data-value="19">19</li>
                                            <li class="option" data-value="20">20</li>
                                            <li class="option" data-value="21">21</li>
                                            <li class="option" data-value="22">22</li>
                                            <li class="option" data-value="23">23</li>
                                            <li class="option" data-value="24">24</li>
                                            <li class="option" data-value="25">25</li>
                                            <li class="option" data-value="26">26</li>
                                            <li class="option" data-value="27">27</li>
                                            <li class="option" data-value="28">28</li>
                                            <li class="option" data-value="29">29</li>
                                            <li class="option" data-value="30">30</li>
                                            <li class="option" data-value="31">31</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group" role="group" aria-label="">
                                    <div class="dropdown btn-select" role="group">
                                        <a id="month-id" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="btn-select-value">MM</span>
                                            <input type="hidden" class="btn-select-input" value="1">
                                            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="month-id">
                                            <li class="option" data-value="1">1</li>
                                            <li class="option" data-value="2">2</li>
                                            <li class="option" data-value="3">3</li>
                                            <li class="option" data-value="4">4</li>
                                            <li class="option" data-value="5">5</li>
                                            <li class="option" data-value="6">6</li>
                                            <li class="option" data-value="7">7</li>
                                            <li class="option" data-value="8">8</li>
                                            <li class="option" data-value="9">9</li>
                                            <li class="option" data-value="10">10</li>
                                            <li class="option" data-value="11">11</li>
                                            <li class="option" data-value="12">12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group" role="group" aria-label="">
                                    <div class="dropdown btn-select" role="group">
                                        <a id="year-id" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="btn-select-value">AAAA</span>
                                            <input type="hidden" class="btn-select-input" value="1">
                                            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="year-id">
                                            <li class="option" data-value="2016">2016</li>
                                            <li class="option" data-value="2015">2015</li>
                                            <li class="option" data-value="2014">2014</li>
                                            <li class="option" data-value="2013">2013</li>
                                            <li class="option" data-value="2012">2012</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>*Département de naissance :</label>
                            <div class="born-department">
                                    <div class="dropdown btn-select" role="group">
                                        <a id="born-department-id" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="btn-select-value">Sélectionnez ...</span>
                                            <input type="hidden" class="btn-select-input" value="1">
                                            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="born-department">
                                            <li class="option" data-value="department 1 ">department 1</li>
                                            <li class="option" data-value="department 1 ">department 2</li>
                                            <li class="option" data-value="department 1 ">department 3</li>
                                            <li class="option" data-value="department 1 ">department 4</li>
                                            <li class="option" data-value="department 1 ">department 5</li>
                                            <li class="option" data-value="department 1 ">department 6</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ">
                            <button class="btn btn-fly btn-inverse  btn-lg  ">Vérifier ma carte</button>
                        </div>
                    </div>

                </div>
                <div class="profile-info row">
                    <div class="form-group col-md-12">
                        <strong class="legend">Vos coordonnées</strong>
                        <label>*Civilité :</label>
                        <div class="radio-inline">
                            <div class="radiobox">
                                <input type="radio" name="civilite-1" id="mme-0" class="css-radio">
                                <label for="mme-0" class="css-label">
                                    <span>Madame</span>
                                </label>
                            </div>
                        </div>
                        <div class="radio-inline">
                            <div class="radiobox">
                                <input type="radio" name="civilite-1" id="m-0" class="css-radio">
                                <label for="m-0" class="css-label">
                                    <span>Monsieur</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>*Nom :</label>
                        <input class="form-control input-lg" type="text"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>*Prénom :</label>
                        <input class="form-control input-lg" type="text"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>*Adresse e-mail :</label>
                        <input class="form-control input-lg" type="email"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>*Mot de passe :</label>
                        <input class="form-control input-lg" id="fly-password" type="password"/>
                        <span id="showpass" class="underline">Afficher</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>*Adresse :</label>
                        <input class="form-control input-lg" type="text"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Complément d’adresse :</label>
                        <input class="form-control input-lg" type="text"/>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-xs-5 first">
                            <label>*Code postal :</label>
                            <input class="form-control input-lg" type="text" />
                        </div>
                        <div class="col-xs-7 last">
                            <label>*Ville :</label>
                            <input class="form-control input-lg" type="text"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>*Téléphone :</label>
                        <input class="form-control input-lg" type="tel"/>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="checkbox">
                            <input type="checkbox" name="same_adresse" id="same_adresse" checked="true" class="css-checkbox"
                                   data-toggle="collapse" data-target="#other-address"
                            >
                            <label for="same_adresse" class="css-label">
                                <span>
                                          Mon adresse de livraison est la même
                                       </span>
                            </label>
                        </div>

                        <div id="other-address" class="collapse row">
                            <div class="form-group col-md-12">
                                <strong class="sub-legend">Adresse de livraison</strong>
                                <label>*Civilité :</label>
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="civilite-1" id="mme-1" class="css-radio">
                                        <label for="mme-1" class="css-label">
                                            <span>Madame</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="civilite-1" id="m-1" class="css-radio">
                                        <label for="m-1" class="css-label">
                                            <span>Monsieur</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>*Nom :</label>
                                <input class="form-control input-lg" type="text"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>*Prénom :</label>
                                <input class="form-control input-lg" type="text"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>*Adresse :</label>
                                <input class="form-control input-lg" type="text"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Complément d’adresse :</label>
                                <input class="form-control input-lg" type="text"/>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-5 first">
                                    <label>*Code postal :</label>
                                    <input class="form-control input-lg" type="text" />
                                </div>
                                <div class="col-md-7 last">
                                    <label>*Ville :</label>
                                    <input class="form-control input-lg" type="text"/>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>*Téléphone :</label>
                                <input class="form-control input-lg" type="tel"/>
                            </div>

                        </div>
                    </div>
                    <div class="row no-margin">
                    <div class="form-group col-md-6">
                        <div class="g-recaptcha" data-sitekey="6LfXTQ0UAAAAAB2eebypOjo9LNh0qmJ5JXmA7zc-"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="accept-terms">
                            <div class="checkbox">
                                <input type="checkbox" name="read_terms" id="read_terms" class="css-checkbox">
                                <label for="read_terms" class="css-label">
                                    <span>J'ai lu et j'accepte la <span class="underline">politique de confidentialité</span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="form-group control-form-group col-sm-6 pull-right">
                        <button class="btn btn-fly btn-inverse  btn-lg pull-right "> <i class="icon icon-arrow-right-bold"></i> Créer mon compte</button>
                    </div>

                    <div class="form-group control-form-group col-sm-6">
                        <button type="reset" class="reset no-style"><span class="underline">Retour</span></button>
                    </div>

                    <div class="form-group col-xs-12">
                        <span>*Champs obligatoires</span>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
@@include('_templates/_footer.html')