@@include('_templates/_header_checkout.html')
<div class="checkout-container">
    <div class="container">
        <div class="checkout-main col-md-8">
            <h1 class="checkout-title">Livraison</h1>

            <div class="cart-box">
                <div class="cart-display">
                    <span class="count">5 articles</span>
                    <button type="button" data-toggle="collapse" data-target="#show-cart-items"  class="btn btn-fly   btn-lg  ">
                        <span class="uncollapsed">Afficher les articles</span>
                        <span class="collapsed">Masquer les articles</span>
                        <i class="icon icon-arrow-down-bold"></i>
                    </button>
                </div>
                <div class="cart-wrapper collapse" id="show-cart-items">
                    <div class="cart-products">
                        <ul>
                            <li class="cart-product">
                                <div class="product-thumb col-xs-5 col-md-3">
                                    <img src="../img/products/PRODUIT_01.png" alt="">
                                </div>
                                <div class="product-description col-xs-7 col-md-9">
                                    <div class="row">
                                        <h3>Norway</h3>
                                        <strong class="subname">Canapé fixe 3 pl tissu rose bonbon</strong>
                                        <span>  Livré sous 10 jours</span>
                                    </div>

                                    <div class="row">
                                        <div class="price-box">
                                            <div class="sale-price">
                                                <span class="price" >499,90 €</span>
                                            </div>
                                            <div class="regular-price">
                                                <span class="price">599€ </span>
                                            </div>
                                            <div class="notice">
                                                dont 1,00€ d’<span class="underline">éco part</span>
                                            </div>

                                        </div>
                                        <div class="order-box">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <strong class="item-qty">4</strong>
                                                    </td>
                                                    <td>
                                                        <div class="sale-price">
                                                            <span class="price" >499,90 €</span>
                                                        </div>
                                                        <div class="regular-price">
                                                            <span class="price">599€ </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>


                                </div>
                                <div class="extended-warranty col-xs-12">
                                    <table class="no-style">
                                        <tr>
                                            <td>
                                                <strong>Garantie 100% immediat 3 ans</strong>
                                                <span class="underline">En savoir plus</span>
                                            </td>
                                            <td class="text-right"><strong>10,00€</strong></td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                            <li class="cart-product">
                                <div class="product-thumb col-xs-5 col-md-3">
                                    <img src="../img/products/PRODUIT_02.png" alt="">
                                </div>
                                <div class="product-description col-xs-7 col-md-9">
                                    <div class="row">
                                        <h3>Norway</h3>
                                        <strong class="subname">Canapé fixe 3 pl tissu rose bonbon</strong>
                                        <span class="green">En stock</span>
                                    </div>

                                    <div class="row">
                                        <div class="price-box">
                                            <div class="sale-price">
                                                <span class="price" >499,90 €</span>
                                            </div>
                                            <div class="regular-price">
                                                <span class="price">599€ </span>
                                            </div>
                                            <div class="notice">
                                                dont 1,00€ d’<span class="underline">éco part</span>
                                            </div>

                                        </div>
                                        <div class="order-box">
                                            <table>
                                                <tr>
                                                    <td>
                                                       <strong class="item-qty">1</strong>
                                                    </td>
                                                    <td>
                                                        <div class="sale-price">
                                                            <span class="price" >499,90 €</span>
                                                        </div>
                                                        <div class="regular-price">
                                                            <span class="price">599€ </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>


                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="back-to-cart">
                        <a class="underline" href="#">Modifier (retour au panier)</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="cart-order  col-md-4">
            <h1 class="order-title">Votre commande </h1>
            <table class="no-style sub-total">
                <tr>
                    <td><span>Sous-total</span></td>
                    <td class="text-right"><strong>2019,50€</strong></td>
                </tr>
                <tr class="green">
                    <td><span>Frais de livraison estimés</span></td>
                    <td class="text-right"><strong>Offert</strong></td>
                </tr>
            </table>
            <div class="order">
                <h3>Total <span class="amount" content="2019.50">2019,50€</span></h3>

            </div>
        </div>
        <div class="shipping-main col-xs-12">
            <h1 class="shipping-title">Choisissez un mode de livraison</h1>
            <div class="shipping-methods">
                <ul class="shipping-options address row">
                    <li class="shipping-option col-xs-12 col-md-3 ackron active">
                        <a data-toggle="pill" href="#shipping-option-1">
                        <div class="radio-inline">
                            <div class="radiobox">
                                <input type="radio" name="shipping-address" id="shipping-address-0" checked class="css-radio">
                                <label for="shipping-address-0" class="css-label"  data-mh="shpping-box">
                                    <strong class="title">Retrait en magasin</strong>
                                    <span class="info-tips green">Disponible sous 2 jours</span>
                                    <p>Lorem ipsum dolor sit amet consectetur
                                        adisipicing Nullam quis risus eget urna mollis ornare vel eu leo. auctor.</p>

                                    <strong>Gratuit</strong>

                                </label>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="shipping-option col-xs-12 col-md-3 ">
                        <a data-toggle="pill" href="#shipping-option-2">
                            <div class="radio-inline">
                                <div class="radiobox">
                                    <input type="radio" name="shipping-address" id="shipping-address-1" class="css-radio">
                                    <label for="shipping-address-1" class="css-label" data-mh="shpping-box">
                                        <strong class="title">Retrait en relais colis</strong>
                                        <span class="info-tips">Livré sous 10 jours</span>
                                        <p>Lorem ipsum dolor sit amet consectetur
                                            adisipicing Nullam quis risus eget urna mollis ornare vel eu leo. auctor.</p>

                                        <strong>Gratuit</strong>

                                    </label>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="shipping-option col-xs-12 col-md-3 ">
                        <a data-toggle="pill" href="#shipping-option-3">
                        <div class="radio-inline">
                            <div class="radiobox">
                                <input type="radio" name="shipping-address" id="shipping-address-2" class="css-radio">
                                <label for="shipping-address-2" class="css-label" data-mh="shpping-box">
                                    <strong class="title">Livraison Premium
                                        à domicile</strong>
                                    <span class="info-tips">Livré sous 10 jours</span>
                                    <p>
                                        Livraison dans la pièce de votre choix (sur prise de rendez-vous, du lundi au
                                        vendredi de 8h à 19h, et samedi matin en région parisienne).</p>

                                    <strong>7,00€</strong>

                                </label>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="shipping-option col-xs-12 col-md-3 ">
                        <a data-toggle="pill" href="#shipping-option-4">
                        <div class="radio-inline">
                            <div class="radiobox">
                                <input type="radio" name="shipping-address" id="shipping-address-3" class="css-radio">
                                <label for="shipping-address-3" class="css-label" data-mh="shpping-box">
                                    <strong class="title">Dapibus Tortor Etiam </strong>
                                    <span class="info-tips">Livré sous 10 jours</span>
                                    <p>Lorem ipsum dolor sit amet consectetur
                                        adisipicing Nullam quis risus eget urna mollis ornare vel eu leo. auctor.</p>

                                    <strong>7,00€</strong>

                                </label>
                            </div>
                        </div>
                        </a>
                    </li>
                </ul>
                <div class="shipping-option-details">
                    <div class="tab-content">
                        <div id="shipping-option-1" class="tab-pane with-border fade in active">
                        <strong class="title">Adresse de retrait</strong>
                        <table>
                            <tr>
                                <td>
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12">
                                            <input type="text" class="form-control input-lg" placeholder="Adresse, ville, code postal"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-lg" type="button" data-toggle="modal" data-target="#storelocator-checkout">
                                                    OK
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    <button id="#storelocator-checkout"
                                            data-toggle="modal" data-target="#storelocator-checkout" class="btn-fly btn-lg btn-inverse"><i class="icon-location"></i>
                                        Proche de moi
                                    </button>
                                </td>
                            </tr>
                        </table>
                        </div>
                        <!--/*  ces informations apparaissent lorsque on a choisit un magasin */-->
                        <div id="shipping-option-2" class="tab-pane with-border fade">
                      <div class="table-container">
                          <strong class="title">Adresse de retrait</strong>
                          <div class="col-xs-12 col-md-3 store-details ">
                              <div class="store-name  col-xs-12">
                                  <strong>Créteil</strong>
                              </div>
                              <div class="store-adresss col-xs-12">
                                  <address>RN 6 Carrefour Pompadour
                                      94034 Créteil Cedex
                                  </address>
                              </div>
                              <div class="store-phone text-leftv  col-xs-12">
                                  <a href="tel:0145132900"><i class="icon-call"></i> 01 45 13 29 00</a>
                              </div>
                              <div class="store-open-times">
                                  <strong class="open-times-title">Horaires d’ouverture</strong>
                                  <div class="col-xs-12 col-md-12 time-table">
                                      <table>
                                          <tr>
                                              <td>Lundi</td>
                                              <td>de 10h00 à 19h00</td>
                                          </tr>
                                          <tr>
                                              <td>Mardi</td>
                                              <td>de 10h00 à 19h00</td>
                                          </tr>
                                          <tr class="today">
                                              <td>Mercredi</td>
                                              <td>de 10h00 à 19h00</td>
                                          </tr>
                                          <tr>
                                              <td>Jeudi</td>
                                              <td>de 10h00 à 19h00</td>
                                          </tr>
                                          <tr>
                                              <td>Vendredi</td>
                                              <td>de 10h00 à 19h00</td>
                                          </tr>
                                          <tr>
                                              <td>Samedi</td>
                                              <td>de 10h00 à 19h00</td>
                                          </tr>
                                          <tr>
                                              <td>Dimanche</td>
                                              <td>Fermé</td>
                                          </tr>
                                      </table>
                                  </div>


                              </div>
                          </div>
                          <div class="col-xs-12 col-md-4 col-lg-offset-1 ">
                              <div id="fl-sl-map-container-checkout-selected"></div>
                          </div>
                          <div class="col-xs-12 add-more-store">
                              <div class="form-group form-submit js " data-form-id="adresse-form">
                                  <button class="btn btn-fly btn-lg pull-right "> <i class="icon icon-arrow-right-bold"></i> Sélectionner un autre magasin</button>
                              </div>
                          </div>
                      </div>
                        </div>
                        <!--/*  &#45;&#45; fin &#45;&#45; */-->
                        <div id="shipping-option-3" class="tab-pane fade">
                        </div>
                        <div id="shipping-option-4" class="tab-pane fade">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-submit js " data-form-id="adresse-form">
                <button class="btn btn-fly btn-inverse  btn-lg pull-right "> <i class="icon icon-arrow-right-bold"></i> Valider et passer au paiement</button>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')