@@include('_templates/_header.html')

<div class="checkout-container">
    <div class="container">

        <div class="checkout-conformation-msg ">

            <h1 class="checkout-conformation-title">Merci pour votre commande !</h1>
            <p>Vous recevrez un email récapitulatif de votre commande à l’adresse suivante : <br>
            <strong>christophe.sube@5emegauche.com</strong>
            </p>
            <p>
                <span class="green"> Votre commande sera livrée sous 10 jours </span>
            </p>

            <p>
                Une question ? Contactez notre service client :  <br>
                <i class="icon-call"></i> <strong>08 00 80 40 20</strong> du lundi au samedi de 9h - 22h
            </p>


            <p>
                <a href="#" class="underline">Retour à l’accueil</a>
            </p>

        </div>
    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')