@@include('_templates/_no-header.html')

<div class="cart-container">
    <div class="container">
                <div class="page-connection ">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Connectez-vous</h4>
                    </div>
                    <div class="modal-body">
                        <div class="connection-wrapper">
                            <div class="connection-form col-xs-12  col-md-6" data-mh="user-column">
                                <h3>Vous avec un compte client</h3>
                                <form action="#" method="get">
                                    <div class="form-group">
                                        <label for="user-email">Adresse e-mail :</label>
                                        <input type="email" class="form-control input-lg"
                                               placeholder="christophe.sube@gmail.com"
                                               id="user-email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mot de passe :</label>
                                        <input type="password" class="form-control input-lg" placeholder="Mot de passe"
                                               id="password">
                                    </div>
                                    <div class="form-group">
                                        <a href="#" id="lostpassword" class="underline">Mot de passe oublié</a>
                                    </div>
                                    <button type="submit" class="btn btn-fly btn-lg  btn-inverse ">
                                        <i class="icon-arrow-right-bold"></i> Se connecter
                                    </button>
                                </form>
                            </div>
                            <div class="new-connection col-xs-12  col-md-6"  data-mh="user-column">
                                <h3>Vous avec un compte client</h3>
                                <p>
                                    Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
                                    Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante dapibus
                                    posuere velit aliquet.
                                </p>
                                <button type="submit" class="btn btn-fly btn-lg">
                                    <i class="icon-arrow-right-bold"></i> Créer mon compte
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        <!--/* Lost pass word form view */-->
                <div class="page-connection lostpass  hidden  ">
                    <div class="modal-header">
                        <h4 class="modal-title text-center"><a href="#back-to-connection" class="back"> <i class="icon-arrow-left-bold"></i> <span>Retour</span> </a> Mot de passe oublié</h4>
                    </div>
                    <div class="modal-body">
                        <div class="lostpass-wrapper">
                            <div class="recovery-form col-xs-12  col-md-8 col-md-offset-2" data-mh="user-column">
                                <p>Nous allons vous adresser un e-mail qui vous permettra de choisir un nouveau mot de passe. </p>
                                <form action="#" method="get">
                                    <div class="form-group">
                                        <label for="user-email">Adresse e-mail :</label>
                                        <input type="email" class="form-control input-lg"
                                               placeholder="christophe.sube@gmail.com"
                                               id="recovery-email">
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-fly btn-lg  btn-inverse ">
                                            <i class="icon-arrow-right-bold"></i> Poursuivre
                                        </button>
                                    </div>
                                    <div>
                                <span class="success-msg">
                                    Vous pouvez consulter dès maintenant votre messagerie.
                                </span>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
    </div>
</div>

@@include('_templates/_no-footer.html')