@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="contact contact-succes">
                    <div class="contact-head">
                        <div class="row">
                            <div class="col-md-2 col-xs-1">

                            </div>
                            <div class="col-md-8 col-xs-10">
                                <h1>Nous contacter</h1>
                            </div>
                            <div class="col-md-2 col-xs-1">

                            </div>
                        </div>
                        </div>
                    <div class="contact-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-12 ">

                            </div>
                            <div class="col-md-4 col-xs-12 middle-column">
                                    <i class="icon-message"></i>
                                    <h5>Votre message a bien été envoyé</h5>
                                    <p>Nous vous répondons par email sous X jours</p>
                                <a href="#" class="underline">Retour à l’accueil</a>
                            </div>
                            <div class="col-md-4 col-xs-12 ">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')