@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="dashboard-container">
    <div class="container">
        <div class="row">
            @@include('_templates/_user_sidebar.html')
            <div class="dashboard-my-adress col-md-9  col-xs-12">
                <div class="title">Mes adresses </div>
                <div class="dashboard-my-adress col-md-12 col-xs-12">
                    @@include('_templates/_my_dafault_adress.html')
                    @@include('_templates/_my_adress.html')
                    @@include('_templates/_my_adress.html')
                </div>
                <div class="dashboard-my-adress col-md-12 col-xs-12">
                    @@include('_templates/_my_adress.html')
                    @@include('_templates/_my_adress.html')
                    @@include('_templates/_my_adress.html')
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
@@include('_templates/_footer.html')