@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="dashboard-container">
    <div class="container">
        <div class="row">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <div class="dashboard col-md-12">
                    <div class="block-card col-md-6">
                        <h1>Ma carte Fly</h1>

                        <div class="contour">
                            <div class=" col-md-12 col-xs-12">
                                <h3>Carte de fidélité Fly</h3>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <p>012345 678901234567 8</p>

                                <p>Valable jusqu'au <b>31/10/2016</b></p>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <img src="../img/fid-avantage/CARTE_FID_blanc.png"/>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-8 col-xs-8">
                                    <a class="btn-fly btn-lg" href="#">
                                        <span>Voir mes avantages</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-magasin col-md-6">
                        <h1>Mon magasin</h1>

                        <div class="contour">
                            <div class="store-lib col-md-10 col-xs-10">
                                <h3>Fly Créteil</h3>
                                <h4>Ouvert aujourd’hui de 10h00 à 19h00</h4>
                            </div>
                            <div class="contact-us col-md-10 col-xs-10">
                                <div class="col-md-6 col-xs-6">
                                    <ul>
                                        <li><i class="icon-call"></i></li>
                                        <li> 01 45 13 29 00</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <ul>
                                        <li><i class="icon-contact-us"></i></li>
                                        <li> Nous contacter</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pointer-map col-md-2 col-xs-2">
                                <img src="../img/common/POINTER_MAP.png"/>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <a class="btn-fly btn-lg" href="#">
                                    <span>Voir la fiche magasin</span>
                                </a>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <a href="#">
                                    <span class="chang-card">Modifier mon magasin</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="my-purchases">
                    <h1>Mes achats</h1>

                    <h2>Mes commandes en cours</h2>

                    <div class="first-bloc">
                        <div class="row">
                            <div class="col-md-9  col-xs-12">
                                <div class="mrg-t-14">
                                    <div class="row">
                                        <div class="col-md-3  col-xs-6">
                                            <div class="date">19/09/2016</div>
                                        </div>
                                        <div class="col-md-3  col-xs-6">
                                            <div class="ref">réf : XXXXXXXXXX</div>
                                        </div>
                                        <div class="col-md-3  col-xs-6">
                                            <div class="price">159,00€</div>
                                        </div>
                                        <div class="col-md-3  col-xs-6">
                                            <div class="statut-pending">En préparation</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-12">
                                <div class="row">
                                    <a href="#" class="btn btn-fly btn-md ">Annuler la commande</a>
                                </div>
                                <div class="row">
                                    <a href="#" class="btn btn-fly btn-md ">Facture (PDF)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Mes dernières commandes</h2>

                    <div class="bloc second">
                        <div class="row">
                            <div class="col-md-9  col-xs-12">
                                <div class="row">
                                    <div class="col-md-3  col-xs-6">
                                        <div class="date">19/09/2016</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="ref">réf : XXXXXXXXXX</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="price">159,00€</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="statut-cancel">Soldé</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-12">
                                <a href="#" class="btn btn-fly btn-lg ">Facture (PDF)</a>
                            </div>
                        </div>
                    </div>
                    <div class="bloc ">
                        <div class="row">
                            <div class="col-md-9  col-xs-12">
                                <div class="row">
                                    <div class="col-md-3  col-xs-6">
                                        <div class="date">19/09/2016</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="ref">réf : XXXXXXXXXX</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="price">189,00€</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="statut-cancel">Soldé</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-12">
                                <a href="#" class="btn btn-fly btn-lg ">Facture (PDF)</a>
                            </div>
                        </div>
                    </div>
                    <div class="bloc">
                        <div class="row">
                            <div class="col-md-9  col-xs-12">
                                <div class="row">
                                    <div class="col-md-3  col-xs-6">
                                        <div class="date">19/09/2016</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="ref">réf : XXXXXXXXXX</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="price">49,90€</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="statut-cancel">Annulé</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-12">
                                <a href="#" class="btn btn-fly btn-lg ">Facture (PDF)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
@@include('_templates/_footer.html')