@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container espace-presse">
  <div class="container">
    <div class="row">

      <div class="main-content col-md-12">
        <h1 class="title-page text-center">Revue de presse</h1>
        <div class="revue-de-presse col-md-12">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
            <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
            <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
            <h2>Fly nous surprend avec sa nouvelle collection 2016</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
            <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
            <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
            <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
            <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
            <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
             <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
             <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
             <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-liberation.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 block-press" data-mh="block-press">
            <span class="date">Le 10 septembre 2016</span>
             <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
            <h2>Depuis sa création Fly a su s'entourer des meilleurs designers !</h2>
            <span class="link">Afficher l'article</span>
            <div class="content">
              <span class="close">Fermer</span>
              <div class="col-sm-12 col-xs-12">
                <span class="date">Le 10 septembre 2016</span>
                <div class="img"><img src="../img/espace-presse/icon-lexpress.png" alt="" class="logo"></div>
              </div>
              <div class="col-sm-3 col-xs-3">
                <img src="../img/espace-presse/milk-pdf.jpg" alt="">
                <div class="num">N°13 - Sept 2016</div>
              </div>
              <div class="col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1 image">
                <img class="apercu" src="../img/espace-presse/pdf-apercu.jpg" alt="">
              </div>
              <a href="../img/espace-presse/test-document-pdf.pdf" target="_blank" class="pdf">Telecharger le pdf</a>
            </div>
          </div>
        </div> <!--/revue de presse -->

      </div> <!--/main-content -->

    </div>
  </div>
  <div class="overlay"></div>
</main>
@@include('_templates/_footer.html')
