@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">

        <div class="row no-card-container">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <div class="heading">
                    <h1>Ma carte de fidélité Fly</h1>
                </div>
                <div class="qst">
                    <p>Vous avez déjà une carte FLY ?</p>
                </div>
                <div class="add-card">
                    <a href="#">Ajouter une carte</a>
                </div>
                <!-- include Avantages template -->
                @@include('_templates/_avantage_card.html')
            </div>
        </div>
    </div>
</main>

@@include('_templates/_footer.html')



