@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">
        <div class="row">
            <div class="main-content main-fid">
                <h2 class="page-heading">
                    <div class="page-heading-title"> Découvrez</div>
                    <div class="page-heading-title">nos cartes fidélité</div>
                </h2>

                <div class="fid-avantage-block">
                    <ul>
                        <li class="fid-avantages col-xs-6 active">
                            <a data-toggle="pill" href="#fid-option-1">
                                <div class="fid-sous-block anim-sous-block">
                                    <div class="label-title">Carte fidélité</div>
                                    <div class="carte-fid">
                                        <img src="../img/fid-avantage/CARTE_FID_blanc@2x.png"/>
                                    </div>
                                    <a class="btn-fly btn-lg" href="#">
                                        <span>Ajouter ma carte</span>
                                    </a>

                                    <div class="label-desc"> Fidélité? <br/> Des économies à la carte</div>
                                </div>
                            </a>
                        </li>
                        <li class="fid-plus-avantages col-xs-6">
                            <a data-toggle="pill" href="#fid-option-2">
                                <div class="fid-sous-block anim-sous-block">
                                    <div class="label-title">Carte FLY FID+</div>
                                    <div class="carte-fid">
                                        <img src="../img/fid-avantage/CARTE_FID+@2x.png"/>
                                    </div>
                                    <a class="btn-fly btn-lg" href="#">
                                        <span>Ajouter ma carte</span>
                                    </a>

                                    <div class="label-desc"> Tous les avantages fidélité <br/> et bien d'autres</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="fid-option-1" class="tab-fid tab-pane fade in active">
                        <p>Chez Fly, votre fidélité est bien récompensée. Profitez de votre carte personnalisée. Elle
                            enregistre tous vos achats, petits ou grands. Vous recevez régulièrement des chèques fidélité à
                            votre domicile et vous bénificiez d'avantages exclusifs.</p>

                        <h2>Recevez jusqu’à 4% de vos achats en chèques fidélité</h2>

                        <p>Présentez votre carte lors de chaque achat. Vous recevrez des bons d’achats d’un montant
                            proportionnel au total cumulé de vos achats selon le barème suivant : </p>

                        <div class="col-xs-12 col-md-12 ">
                            <table class="bon-achat-rules">
                                <thead>
                                <tr>
                                    <td>Achats</td>
                                    <td>Montant du chèque fidélité</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Entre 220 EUR et 750 EUR</td>
                                    <td>2% du montant des achats</td>
                                </tr>
                                <tr>
                                    <td>Entre 751 EUR et 1500 EUR</td>
                                    <td>3% du montant des achats</td>
                                </tr>
                                <tr class="today">
                                    <td>Plus de 1500 EUR</td>
                                    <td>4% du montant des achats</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>Vos chèques fidélité vous sont envoyés directement à domicile. Ces bons d'achat sont utilisables
                            dans le magasin FLY émetteur.</p>

                        <h2>Des privilèges supplémentaires</h2>

                        <div class="row">
                            <div class="privileges-box  col-xs-6 col-sm-4">
                                <i class="icon-gift"></i>
                                <strong>Un chèque cadeau à votre anniversaire</strong>
                                    <span>
                                        Pour votre anniversaire, Fly vous offre un chèque cadeau à utiliser comme bon vous semble.
                                        (Voir conditions sur le chèque cadeau).
                                    </span>
                            </div>
                            <div class="privileges-box col-xs-6 col-sm-4">
                                <i class="icon-calandrier"></i>
                                <strong>2 ans d'avantages pour seulement 6€ !</strong>
                                <span>La carte FLY fidélité ne coûte que 6 € pour deux ans d'avantages exclusifs ! Pour en bénéficier, adressez-vous à votre magasin FLY. </span>
                            </div>
                            <div class="privileges-box col-xs-6 col-sm-4">
                                <i class="icon-camion"></i>
                                <strong>Location d’une camionnette **</strong>
                                    <span>
                                        FLY met gratuitement à votre disposition unecamionnette (hors carburant) pendant 1 heuredès 120 € d'achats. Au delà, voir tarifs
                                        et conditions en magasin.
                                    </span>
                            </div>

                        </div>
                    </div>
                    <div id="fid-option-2" class="tab-fid-two tab-pane fade">
                        <p>Des solutions de paiement personnalisées</p>
                        <b>Choisissez votre mode de réglement pour vos achats chez FLY et dans le réseau Aurore.</b>

                        <p>Votre carte FLY.fid+, adossée à un crédit renouvelable, vous laisse le choix entre un paiement au
                            comptant ou à crédit(1) directement sur le Terminal de Paiement(2) dans votre magasin Fly et
                            dans le réseau Aurore. À défaut, vos règlements seront payables au comptant. Conformément à la
                            loi.</p>

                        <div class="fid-paiment-type">
                            <h3>1. Paiement au comptant</h3>

                            <p>
                                ous bénéficiez d’un différé de paiement gratuit jusqu’à 40 jours en fonction de la date à
                                laquelle vous effectuez vos achats et de la date de votre prélèvement. Vous réglerez vos
                                achats en une seule fois par débit de votre compte bancaire.
                            </p>
                        </div>
                        <div class="fid-paiment-type">
                            <h3>2 . Paiement crédit</h3>

                            <p> Vous pouvez aussi changer d’avis à réception de votre relevé de compte et passer à crédit
                                les opérations réalisées au comptant.
                            </p>
                        </div>
                        <div class="fid-paiment-type">
                            <h3>3 . Et en plus dans vos magasins Fly</h3>

                            <p>
                                Payez en 5 ou 10 mois sans frais.
                            </p>
                        </div>
                        <p>Lors de votre passage en caisse dans les magasins FLY, vous pouvez profiter du paiement en 5 ou
                            10 mois sans frais. Offre réservée aux titulaires du crédit renouvelable FLY.fid+ Aurore auquel
                            est associé à une carte de crédit facultative et membres du Club Diamant, valable toute l’année
                            2016, pour une utilisation spéciale du crédit renouvelable de 150 € à 3000 € sur une durée de 5
                            ou 10 mois (dans la limite de votre montant disponible sur votre crédit renouvelable). Vous
                            disposez d’un délai légal de rétractation de 14 jours lors de l'ouverture de votre crédit et de
                            votre carte.
                            La mensualité de l’utilisation spéciale s’ajoute à celle des utilisations courantes éventuelles
                            et ultérieures de votre crédit renouvelable. Le coût du crédit est pris en charge par votre
                            magasin. Sous réserve d’acceptation du dossier par BNP Paribas Personal Finance. Cetelem est une
                            marque de BNP Paribas Personal Finance, 1 bld Haussmann, 75009 Paris, Société Anonyme au capital
                            de 529 548 810€, 542 097 902 RCS Paris. N° ORIAS : 07 023 128 (www.orias.fr).
                        </p>
                        <b>Un accès à l'ensemble des services du Club Diamant</b>

                        <div class="fid-services-block">
                            <h3>Profitez de réductions :</h3>

                            <p>Wonderbox, Photobox, France Armor…</p>
                        </div>
                        <div class="fid-services-block">
                            <h3> Bénéficiez de tarifs très avantageux</h3>

                            <p> sur les voyages, les parcs de loisirs, une sélection de magazines, les tickets de cinéma,
                                les bouquets de fleurs…</p>
                        </div>
                        <div class="fid-services-block">
                            <h3>Utilisez les services :</h3>

                            <p> assistance anti-tâche gratuite, assistance vie pratique, protection juridique, aide à la
                                personne…</p>
                        </div>
                        <p> … Et bien d’autres privilèges et services à découvrir sur www.diamnet.net.
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>
</main>
@@include('_templates/_credit.html')
@@include('_templates/_footer.html')