@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">
        <div class="add-card-container row">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <h1 class="page-heading-title">Ajouter ma carte de fidélité</h1>
                <hr>
                <form action="" method="post">
                    <div class="page-content">
                        <div class="fly-card">
                            <div class="card-thumb">
                                <img src="../img/checkout/card.min.png" data-rjs="3" alt="">
                            </div>
                            <div class="card-confirm">
                                <div class="checkbox">
                                    <input type="checkbox" name="card-confirm" id="card-confirm" class="css-checkbox">
                                    <label for="card-confirm" class="css-label">
                                        <span> J’ai la carte Fly</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div  class="add-card-form row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label>*Numéro de carte :</label>
                                <input class="form-control input-lg" type="text"/>
                            </div>
                            <div class="col-md-4">
                                <label>*Date de naissance :</label>
                                <div class="birth-date">
                                    <div class="btn-group" role="group" aria-label="">
                                        <div class="dropdown btn-select" role="group">
                                            <a id="day-id" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <span class="btn-select-value">JJ</span>
                                                <input type="hidden" class="btn-select-input" value="1">
                                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="day-id">
                                                <li class="option" data-value="1">1</li>
                                                <li class="option" data-value="2">2</li>
                                                <li class="option" data-value="3">3</li>
                                                <li class="option" data-value="4">4</li>
                                                <li class="option" data-value="5">5</li>
                                                <li class="option" data-value="6">6</li>
                                                <li class="option" data-value="7">7</li>
                                                <li class="option" data-value="8">8</li>
                                                <li class="option" data-value="9">9</li>
                                                <li class="option" data-value="10">10</li>
                                                <li class="option" data-value="11">11</li>
                                                <li class="option" data-value="12">12</li>
                                                <li class="option" data-value="13">13</li>
                                                <li class="option" data-value="14">14</li>
                                                <li class="option" data-value="15">15</li>
                                                <li class="option" data-value="16">16</li>
                                                <li class="option" data-value="17">17</li>
                                                <li class="option" data-value="18">18</li>
                                                <li class="option" data-value="19">19</li>
                                                <li class="option" data-value="20">20</li>
                                                <li class="option" data-value="21">21</li>
                                                <li class="option" data-value="22">22</li>
                                                <li class="option" data-value="23">23</li>
                                                <li class="option" data-value="24">24</li>
                                                <li class="option" data-value="25">25</li>
                                                <li class="option" data-value="26">26</li>
                                                <li class="option" data-value="27">27</li>
                                                <li class="option" data-value="28">28</li>
                                                <li class="option" data-value="29">29</li>
                                                <li class="option" data-value="30">30</li>
                                                <li class="option" data-value="31">31</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="">
                                        <div class="dropdown btn-select" role="group">
                                            <a id="month-id" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <span class="btn-select-value">MM</span>
                                                <input type="hidden" class="btn-select-input" value="1">
                                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="month-id">
                                                <li class="option" data-value="1">1</li>
                                                <li class="option" data-value="2">2</li>
                                                <li class="option" data-value="3">3</li>
                                                <li class="option" data-value="4">4</li>
                                                <li class="option" data-value="5">5</li>
                                                <li class="option" data-value="6">6</li>
                                                <li class="option" data-value="7">7</li>
                                                <li class="option" data-value="8">8</li>
                                                <li class="option" data-value="9">9</li>
                                                <li class="option" data-value="10">10</li>
                                                <li class="option" data-value="11">11</li>
                                                <li class="option" data-value="12">12</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="">
                                        <div class="dropdown btn-select" role="group">
                                            <a id="year-id" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <span class="btn-select-value">AAAA</span>
                                                <input type="hidden" class="btn-select-input" value="1">
                                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="year-id">
                                                <li class="option" data-value="2016">2016</li>
                                                <li class="option" data-value="2015">2015</li>
                                                <li class="option" data-value="2014">2014</li>
                                                <li class="option" data-value="2013">2013</li>
                                                <li class="option" data-value="2012">2012</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label>*Département de naissance :</label>

                                <div class="born-department">
                                    <div class="dropdown btn-select" role="group">
                                        <a id="born-department-id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="btn-select-value">Sélectionnez ...</span>
                                            <input type="hidden" class="btn-select-input" value="1">
                                            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="born-department">
                                            <li class="option" data-value="department 1 ">department 1</li>
                                            <li class="option" data-value="department 1 ">department 2</li>
                                            <li class="option" data-value="department 1 ">department 3</li>
                                            <li class="option" data-value="department 1 ">department 4</li>
                                            <li class="option" data-value="department 1 ">department 5</li>
                                            <li class="option" data-value="department 1 ">department 6</li>
                                        </ul>
                                    </div>
                                </div>
                            </div >
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                    <div class="form-group col-md-6 ">
                                        <button type="reset" class="reset no-style"><span class="underline">Annuler</span></button>
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <button class="btn btn-fly btn-inverse  btn-lg  ">Vérifier ma carte</button>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </form>
                <!-- include Avantages template -->
                @@include('_templates/_avantage_card.html')
            </div>
        </div>
    </div>
</main>

@@include('_templates/_footer.html')