@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container flyby">
  <div class="container">
    <div class="row">

      <div class="main-content col-sm-12">
        <section>
          <div class="col-sm-12 title-block">
            <h1 class="flyby">Fly By</h1>
            <h2>Designer à la une</h2>
            <p class="text-center col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec ulla metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div>

          <div class="col-sm-12 col-md-8 col-lg-9 img-container" data-mh="main-block">
            <img  src="../img/flyby/VISUEL_DESIGNER.png"/>
            <div class="infos">
              <span class="name">
                Olivier <i class="icon-flag-fr"></i> <br>
                Toulouse
              </span>
              <span class="job">Designer produit</span>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3 padding-vertical" data-mh="main-block">
            <div class="col-md-12 col-sm-6 col-xs-6">
              <span class="title">Buffet 3 volets<br>Olympia</span>
              <p>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec ullamcorper nulla.</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-12">
              <div class="img-block"><img src="../img/flyby/croquis-olivier.jpg"/></div>
            </div>
            <div class="col-sm-12 center-sm">
              <a href="./flyby-creation.html" class="button"><i class="icon icon-arrow-right-bold"></i>Découvrir ses créations</a>
            </div>
          </div>
        </section>
        <section>
          <div class="col-sm-12 title-block">
            <h2>Ils ont signé</h2>
            <p class="col-sm-12">Fly les a tous choisis pour leur talent reconnu, leur humilité et leur belle mentalité d’éternels insatisfaits.<br> Ils connaissent les exigences de Fly et ils vous connaissent bien aussi. C’est comme ça qu’ils créent<br> des produits nouveaux que vous ne verrez que chez Fly, des produits bien dessinés.</p>
          </div>

          <article class="designer img-left margin-top">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-6 image" data-mh="section-designer-1">
                  <img  src="../img/flyby/DESIGNER2.png"/>
                </div>
                <div class="col-xs-6 border-right padding-vertical" data-mh="section-designer-1">
                  <span class="name">Marc<br>Berger</span>
                  <span class="job">Designer produit</span>
                  <div class="img-block"><a href="#0"><img src="../img/flyby/PRODUIT01.png"/></a></div>
                  <a href="#0" class="categ">Classic</a>
                  <a href="#0" class="product-name">Fauteuil tissu a boutons gris</a>
                  <a href="./flyby-creation.html" class="button"><i class="icon icon-arrow-right-bold"></i>Découvrir ses créations</a>
                </div>
              </div>
            </div> <!--/designer1-->

            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-6 image" data-mh="section-designer-2">
                  <img  src="../img/flyby/designer2.jpg"/>
                </div>
                <div class="col-xs-6 padding-vertical" data-mh="section-designer-2">
                  <span class="name">Laurence<br>Petiot</span>
                  <span class="job">Designer produit</span>
                  <div class="img-block"><a href="#0"><img src="../img/flyby/produit2.jpg"/></a></div>
                  <a href="#0" class="categ">Mila</a>
                  <a href="#0" class="product-name">Fauteuil tissu</a>
                  <a href="./flyby-creation.html" class="button"><i class="icon icon-arrow-right-bold"></i>Découvrir ses créations</a>
                </div>
              </div><!--/row-->
            </div> <!--/designer2-->
          </article>

          <hr>

          <article class="designer img-right">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-6 padding-vertical" data-mh="section-designer-3">
                  <span class="name">Maud<br>Opdebeck</span>
                  <span class="job">Designer produit</span>
                  <div class="img-block"><a href="#0"><img src="../img/flyby/DESIGNER3.jpg"/></a></div>
                  <a href="#0" class="categ">Classic</a>
                  <a href="#0" class="product-name">Fauteuil tissu a boutons gris</a>
                  <a href="./flyby-creation.html" class="button"><i class="icon icon-arrow-right-bold"></i>Découvrir ses créations</a>
                </div>
                <div class="col-xs-6 image" data-mh="section-designer-3">
                  <img  src="../img/flyby/maud.jpg"/>
                </div>
              </div>
            </div> <!--/designer1-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-6 border-left padding-vertical" data-mh="section-designer-4">
                  <span class="name">Catherine<br>Boyer</span>
                  <span class="job">Designer textile</span>
                  <div class="img-block"><a href="#0"><img src="../img/flyby/produit4.jpg"/></a></div>
                  <a href="#0" class="categ">Mila</a>
                  <a href="#0" class="product-name">Plaid blanc</a>
                  <a href="./flyby-creation.html" class="button"><i class="icon icon-arrow-right-bold"></i>Découvrir ses créations</a>
                </div>
                <div class="col-xs-6 image" data-mh="section-designer-4">
                  <img  src="../img/flyby/DESIGNER4.png"/>
                </div>
              </div> <!--/row-->
            </div><!--/designer2-->
          </article>
        </section>
      </div> <!--/main-content -->

    </div>
  </div>
</main>
@@include('_templates/_footer.html')
