@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container creation flyby">
  <div class="container">
    <div class="row">

      <div class="main-content col-sm-12">
        <div class="row">
          <section>
            <div class="col-sm-12 title-block">
              <h1 class="name">Olivier Toulouse</h1>
              <span class="job">Designer</span><img src="../img/flyby/FLYBy.png" alt="Fly By">
              <i class="flag icon-flag-fr"></i>
            </div>
            <div class="col-sm-12 img-container">
              <img  src="../img/flyby/IMAGE_Portrait.png"/>
              <blockquote>
                <strong>Nouveau, joli, utile !</strong> C’est la trilogie fondamentale du design. C’est toujours un plaisir de la compléter : petit, très peu cher...
              </blockquote>
            </div>
          </section>
          <section>
            <div class="col-sm-6 col-md-7 col-lg-offset-1 col-lg-6 block-presentation" data-mh="block-presentation">
              <div class="outer">
                <div class="middle">
                  <div class="inner">
                    <h3>À propos</h3>
                    <p><strong>Son parcours</strong><br>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum</p>
                    <p><strong>Ses projets</strong><br>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                    <p><strong>Sa recherche artistique</strong><br>Nulla vitae Maecenas faucibus mollis interdum elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-offset-1 col-md-5 col-lg-4 nopadding image-presentation" data-mh="block-presentation">
              <img src="../img/flyby/CROQUIS_G.png" alt="">
            </div>
          </section>
          <section class="gallery">
            <div class="col-xs-6 col-sm-6 col-md-4"><a href="#0"><img src="../img/flyby/VISUELS01.png" alt=""></a></div>
            <div class="col-xs-6 col-sm-6 col-md-4"><img src="../img/flyby/VISUELS02.png" alt=""></div>
            <div class="col-xs-6 col-sm-6 col-md-4"><a href="#0"><img src="../img/flyby/VISUELS03.png" alt=""></a></div>
            <div class="col-xs-6 col-sm-6 col-md-4"><a href="#0"><img src="../img/flyby/VISUELS04.png" alt=""></a></div>
            <div class="col-xs-6 col-sm-6 col-md-4"><a href="#0"><img src="../img/flyby/VISUELS05.png" alt=""></a></div>
            <div class="col-xs-6 col-sm-6 col-md-4"><a href="#0"><img src="../img/flyby/VISUELS06.png" alt=""></a></div>
          </section>
        </div> <!--/row -->
        <section>
          <div class="col-sm-12 title-block">
            <h2>Produits signé</h2>
            <p class="col-sm-6 col-sm-offset-3">Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. .</p>
          </div>
          <div class="fly-by-products col-sm-12">
            <div class="category-products">
              <div class="products-grid">
                <ul class="products-row">
                  <li class="item col-md-3 col-sm-6">
                    <div class="item-inner">
                      <div class="item-img">
                        <div class="item-img-info">
                          <a href="#0">
                            <img class="img-responsive" src="../img/products/details/PRODUIT_01.png" alt="">
                          </a>
                        </div>
                        <!--item-img-info-->
                      </div>
                      <!--item-img-->
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a href="#0" class="categ">Classic</a>
                            <a href="#0" title="">Fauteuil tissu à boutons gris</a>
                          </div>

                          <!--item-title-->
                          <div class="item-content">
                            <div class="item-price">
                              <div class="price-box">
                                <span class="sale-price">
                                  <span class="price">397,90€</span>
                                </span>
                              </div>
                            </div>
                            <!--item-price-->
                            <div class="item-cta">
                              <a href="#0" class="button">Ajouter au panier</a>
                            </div>
                          </div>
                          <!--item-content-->
                        </div>
                        <!--info-inner-->
                      </div>
                      <!--item-info-->
                    </div>
                  </li>
                  <li class="item col-md-3 col-sm-6">
                    <div class="item-inner">
                      <div class="item-img">
                        <div class="item-img-info">
                          <a href="#0">
                            <img class="img-responsive" src="../img/products/details/PRODUIT_02.png" alt="">
                          </a>
                        </div>
                        <!--item-img-info-->
                      </div>
                      <!--item-img-->
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a href="#0" class="categ">Link</a>
                            <a href="#0" title="">Canapé fixe 2 places</a>
                          </div>

                          <!--item-title-->
                          <div class="item-content">
                            <div class="item-price">
                              <div class="price-box">
                                <span class="sale-price">
                                  <span class="price">397,90€</span>
                                </span>
                              </div>
                            </div>
                            <!--item-price-->
                            <div class="item-cta">
                              <a href="#0" class="button">Ajouter au panier</a>
                            </div>
                          </div>
                          <!--item-content-->
                        </div>
                        <!--info-inner-->
                      </div>
                      <!--item-info-->
                    </div>
                  </li>
                  <li class="item col-md-3 col-sm-6">
                    <div class="item-inner">
                      <div class="item-img">
                        <div class="item-img-info">
                          <a href="#0">
                            <img class="img-responsive" src="../img/products/details/PRODUIT_03.png" alt="">
                          </a>
                        </div>
                        <!--item-img-info-->
                      </div>
                      <!--item-img-->
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a href="#0" class="categ">Sixteen</a>
                            <a href="#0" title="">Table cuivre</a>
                          </div>

                          <!--item-title-->
                          <div class="item-content">
                            <div class="item-price">
                              <div class="price-box">
                                <span class="sale-price">
                                  <span class="price">397,90€</span>
                                </span>
                              </div>
                            </div>
                            <!--item-price-->
                            <div class="item-cta">
                              <a href="#0" class="button">Ajouter au panier</a>
                            </div>
                          </div>
                          <!--item-content-->
                        </div>
                        <!--info-inner-->
                      </div>
                      <!--item-info-->
                    </div>
                  </li>
                  <li class="item col-md-3 col-sm-6">
                    <div class="item-inner">
                      <div class="item-img">
                        <div class="item-img-info">
                          <a href="#0">
                            <img class="img-responsive" src="../img/flyby/PRODUIT04.png" alt="">
                          </a>
                        </div>
                        <!--item-img-info-->
                      </div>
                      <!--item-img-->
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title">
                            <a href="#0" class="categ">Nouvell</a>
                            <a href="#0" title="">Canapé 3 places tissus gris clair</a>
                          </div>

                          <!--item-title-->
                          <div class="item-content">
                            <div class="item-price">
                              <div class="price-box">
                                <span class="sale-price">
                                  <span class="price">397,90€</span>
                                </span>
                              </div>
                            </div>
                            <!--item-price-->
                            <div class="item-cta">
                              <a href="#0" class="button">Ajouter au panier</a>
                            </div>
                          </div>
                          <!--item-content-->
                        </div>
                        <!--info-inner-->
                      </div>
                      <!--item-info-->
                    </div>
                  </li>

                </ul>

              </div>
            </div>
          </div>
        </section>

      </div> <!--/main-content -->

    </div>
  </div>
</main>
@@include('_templates/_footer.html')
