@@include('_templates/_header.html')
<div class="home-container">
    <div class="container">
        <div class="section-carousel row" data-mh="section-carousel">
            <div class="side-nav-categories col-md-3" data-mh="section-carousel">
                <div class="vertical-align">
                    <div class="block-title">
                        Nouveautés
                    </div>
                    <!--block-title-->
                    <!-- BEGIN BOX-CATEGORY -->
                    <div class="box-content box-category">
                        <ul class="category-menu">
                            <li>
                                <a href="#">Etiam porta </a>
                            </li>
                            <li>
                                <a href="#">Sem malesuada </a>
                            </li>
                            <li class="active">
                                <a href="#">Magna mollis euismod</a>
                            </li>
                            <li>
                                <a href="#">Aenean eu leo </a>
                            </li>
                            <li>
                                <a href="#">Aenean eu leo </a>
                            </li>

                        </ul>
                    </div>


                    <div class="block-title">
                        Top catégories
                    </div>
                    <!--block-title-->
                    <!-- BEGIN BOX-CATEGORY -->
                    <div class="box-content box-category">
                        <ul class="category-menu">
                            <li>
                                <a href="#">Pellentesque </a>
                            </li>
                            <li>
                                <a href="#">Ornare sem lacinia </a>
                            </li>
                            <li>
                                <a href="#">Quam venenatis </a>
                            </li>
                            <li>
                                <a href="#">Vestibulum </a>
                            </li>
                            <li>
                                <a href="#">Aenean eu leo </a>
                            </li>

                        </ul>
                    </div>
                    <!--box-content box-category-->
                </div>
            </div>
            <div class="carousel-product col-md-9 col-xs-12" data-mh="section-carousel">
                <div id='products-show' class='carousel slide' data-ride='carousel' data-interval="0">
                    <div class='carousel-outer'>
                        <!-- me art lab slider -->
                        <div class='carousel-inner '>
                            <div class='item active'>
                                <img src='../img/homepage/visuel_slider.png'
                                     alt=''/>
                                <div class="item-description">
                                    <img src="../img/homepage/flyby_slider.png"  data-rjs="2"  alt="">
                                    <h3 class="product-name">Séjour Laponie</h3>
                                    <p class="product-price">à partir de <span class="price">499€</span></p>
                                    <a href="#" class="btn btn-fly btn-inverse  btn-md pull-right "> <i
                                            class="icon icon-arrow-right-bold"></i> Découvrir</a>
                                </div>
                            </div>
                            <div class='item'>
                                <img src='../img/homepage/visuel_slider.png'
                                     alt=''/>
                                <div class="item-description">
                                    <img src="../img/homepage/flyby_slider.png"  data-rjs="2"  alt="">
                                    <h3 class="product-name">Laponie Séjour </h3>
                                    <p class="product-price">à partir de <span class="price">199€</span></p>
                                    <a href="#" class="btn btn-fly btn-inverse  btn-md pull-right "> <i
                                            class="icon icon-arrow-right-bold"></i> Découvrir</a>
                                </div>
                            </div>
                        </div>


                        <ol class='carousel-indicators '>
                            <li data-target='#products-show' data-slide-to='0' class='active'>
                            </li>
                            <li data-target='#products-show' data-slide-to='1'>
                            </li>

                        </ol>

                        <!-- sag sol -->
                        <a class='left carousel-control' href='#products-show' data-slide='prev'>
                            <i class="icon-arrow-left-light"></i>
                        </a>
                        <a class='right carousel-control' href='#products-show' data-slide='next'>
                            <i class="icon-arrow-right-light"></i>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="section-editorial row">
            <div class="editorial-roll col-md-3" data-mh="editorial-roll">
                <div class="visual"  data-mh="editorial-roll-visual">
                    <div class="center-cropped" data-mh="editorial-roll-visual"
                         style="background-image: url('../img/homepage/Visuel_EDITORIAL_01.png');">
                        <img data-rjs="2" src="../img/homepage/Visuel_EDITORIAL_01.png"/>
                    </div>
                </div>
                <h3>Habillez vos fils</h3>
                <p>Une astuce lumineuse pour personnaliser vos suspensions !</p>
                <a href="#" class="read-more underline">Voir le tuto</a>
            </div>
            <div class="editorial col-md-6"  data-mh="editorial-roll">
                <div class="visual"  data-mh="editorial-roll-visual">
                    <div class="center-cropped push-2" data-mh="editorial-roll-visual"
                         style="background-image: url('../img/homepage/Visuel_EDITORIAL_02.png');">
                        <img data-rjs="2" src="../img/homepage/Visuel_EDITORIAL_02.png"/>
                    </div>
                </div>
                <h3>Bienvenue chez vous</h3>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                    amet risus.</p>
                <a href="#" class="read-more underline">Lire l’article</a>
            </div>
            <div class="editorial-roll col-md-3"  data-mh="editorial-roll">
                <div class="visual"  data-mh="editorial-roll-visual">
                    <div class="center-cropped" data-mh="editorial-roll-visual"
                         style="background-image: url('../img/homepage/Visuel_EDITORIAL_03.png');">
                        <img data-rjs="2" src="../img/homepage/Visuel_EDITORIAL_03.png"/>
                    </div>
                </div>
                <h3>Collection été</h3>
                <p> Couleurs d’été ? Ciel, mer et soleil ! ? Ciel, mer et soleil !</p>
                <a href="#" class="read-more underline">Voir la tendance</a>
            </div>
        </div>
        <div class="section-my-fly row">
            <div class="my-fly-box col-md-3 col-xs-5" data-mh="section-my-fly">
                <div class="vertical-align">
                    <div class="myfly-logo">
                        <img data-rjs="2" src="../img/homepage/logo_myfly_bloc.png" alt="">
                    </div>
                    <h3>Le goût de la liberté</h3>
                    <strong>Personnalisez vos meubles à l’infini ! +de 10 000 possibilités</strong>
                    <a href="#" class="btn btn-fly btn-inverse  btn-md "> <i
                            class="icon icon-arrow-right-bold"></i> Configurer</a>
                </div>
            </div>
            <div class="my-fly-box-visual col-md-9 col-xs-7" data-mh="section-my-fly">
                <div class="center-cropped"
                     style="background-image: url('../img/homepage/Visuel_myfly.png');">
                    <img data-rjs="2" src="../img/homepage/Visuel_myfly.png"/>
                </div>
            </div>
        </div>
        <div class="section-fly-by row" data-mh="section-fly-by">
            <div class="fly-by-box-visual col-md-3 col-xs-6 " data-mh="section-fly-by">
                <div class="center-cropped"
                     style="background-image: url('../img/homepage/avatar_designer.png');">
                    <img data-rjs="2" src="../img/homepage/avatar_designer.png"/>
                </div>
            </div>
            <div class="fly-by-box col-md-9 col-xs-6">
                <div class="fly-by-logo">
                    <img data-rjs="2" src="../img/homepage/flyby_logo_bloc.png" alt="">
                    <span><i class="icon-flag-fr"></i> Olivier Toulouse </span>
                </div>
                <blockquote>
                    <strong> Nouveau, joli, utile</strong>
                    ! C’est la trilogie fondamentale du design. C’est toujours un plaisir de la
                    compléter : petit, très peu cher...
                </blockquote>
            </div>
            <div class="fly-by-products col-md-9 col-xs-12">
                <div class="category-products">
                    <div class="products-grid">
                        <ul class="products-row row">
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="../img/products/details/PRODUIT_01.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup <br /> canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>

                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="../img/products/details/PRODUIT_03.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Sixteen <br/>
                                                    Table cuivre
                                                </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="../img/products/details/PRODUIT_02.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup <br /> canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="btn-group-fly gpull-right text-right">
                        <a href="#" class="btn btn-fly  btn-md pull-right "> <i
                                class="icon icon-arrow-right-bold"></i> Tous nos designers</a>

                        <a href="#" class="btn btn-fly btn-inverse  btn-md pull-right "> <i
                                class="icon icon-arrow-right-bold"></i> Voir ses produits</a>

                    </div>
                </div>
            </div>

        </div>
        <div class="section-lookbook row">
            <div class="section-lookbook-visual" >
                <img data-rjs="2" src="../img/homepage/Visuel_lookbook.png"/>
                <button type="button"
                       class="btn-popover"    data-class="lookbook-popover"
                        data-marker-top="57%"
                        data-marker-left="66%"
                        data-container=".section-lookbook-visual"
                        data-toggle="popover"
                        data-placement="right"
                        data-content='
                               <div class="item">
               <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>

                                        <div class="price-off">
                                            <span class="price-off">-20%</span>
                                        </div>

                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive" src="../img/products/PRODUIT_04.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                          <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#" title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup <br />canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                </div>
                                     '
                        data-original-title=" "
                        title="">
                    <span class="icon-add"></span>
                </button>
                <button type="button"
                       class="btn-popover"    data-class="lookbook-popover"
                        data-marker-top="81%"
                        data-marker-left="37%"
                        data-container=".section-lookbook-visual"
                        data-toggle="popover"
                        data-placement="left"
                        data-content='
                               <div class="item">
                <div class="item-inner">
                    <div class="item-img">

                        <div class="item-img-info">
                            <a href="#">
                                <img class="img-responsive"
                                     src="../img/homepage/visuel_principal_lookbook.png"
                                     data-rjs="2" alt="">
                            </a>
                        </div>
                        <!--item-img-info-->
                    </div>
                    <!--item-img-->
                    <div class="item-info">
                        <div class="info-inner">
                         <div class="item-colors">
                                                <div class="total-items">2 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/homepage/vignettes_lookbook_01.png"
                                                              data-src="../img/homepage/vignettes_lookbook_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/homepage/vignettes_lookbook_02.png"
                                                              data-src="../img/homepage/vignettes_lookbook_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                            <div class="item-title">
                                <a href="#"
                                   title="Smarty">
                                    Smarty <br> Set de 2 tables basses </a>
                            </div>


                            <!--item-title-->
                            <div class="item-content">
                                <div class="item-price">

                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">79,90€</span>
                                                            </span>

                                    </div>

                                </div>
                                <!--item-price-->


                                <div class="item-status">

                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                </div>
                            </div>
                            <!--item-content-->
                        </div>
                        <!--info-inner-->
                    </div>
                    <!--item-info-->
                </div>
                </div>
                                     '
                        data-original-title=" "
                        title="">
                    <span class="icon-add"></span>
                </button>
                <button type="button"
                       class="btn-popover"    data-class="lookbook-popover"
                        data-marker-top="3%"
                        data-marker-left="76%"
                        data-container=".section-lookbook-visual"
                        data-toggle="popover"
                        data-placement="bottom"
                        data-content='
                               <div class="item">
                <div class="item-inner">
                    <div class="item-img">
                        <div class="add-wishlist">
                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                        </div>


                        <div class="item-img-info">
                            <a href="#">
                                <img class="img-responsive"
                                     src="../img/homepage/visuel_principal_lookbook.png"
                                     data-rjs="2" alt="">
                            </a>
                        </div>
                        <!--item-img-info-->
                    </div>
                    <!--item-img-->
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                                <a href="#"
                                   title="Linkup canapé convertible tissu luxury anthracite">
                                    Linkup canapé convertible tissu luxury anthracite </a>
                            </div>


                            <!--item-title-->
                            <div class="item-content">
                                <div class="item-price">

                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                    </div>

                                </div>
                                <!--item-price-->


                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                </div>
                            </div>
                            <!--item-content-->
                        </div>
                        <!--info-inner-->
                    </div>
                    <!--item-info-->
                </div>
                </div>
                                     '
                        data-original-title=" "
                        title="">
                    <span class="icon-add"></span>
                </button>
                <button type="button"
                       class="btn-popover"    data-class="lookbook-popover"
                        data-marker-top="7%"
                        data-marker-left="91%"
                        data-container=".section-lookbook-visual"
                        data-toggle="popover"
                        data-placement="left"
                        data-content='
                               <div class="item">
                <div class="item-inner">
                    <div class="item-img">
                        <div class="add-wishlist">
                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                        </div>


                        <div class="item-img-info">
                            <a href="#">
                                <img class="img-responsive"
                                     src="../img/homepage/visuel_principal_lookbook.png"
                                     data-rjs="2" alt="">
                            </a>
                        </div>
                        <!--item-img-info-->
                    </div>
                    <!--item-img-->
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                                <a href="#"
                                   title="Linkup canapé convertible tissu luxury anthracite">
                                    Linkup canapé convertible tissu luxury anthracite </a>
                            </div>


                            <!--item-title-->
                            <div class="item-content">
                                <div class="item-price">

                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                    </div>

                                </div>
                                <!--item-price-->


                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                </div>
                            </div>
                            <!--item-content-->
                        </div>
                        <!--info-inner-->
                    </div>
                    <!--item-info-->
                </div>
                </div>
                                     '
                        data-original-title=" "
                        title="">
                    <span class="icon-add"></span>
                </button>
                <button type="button"
                       class="btn-popover"    data-class="lookbook-popover"
                        data-marker-top="54%"
                        data-marker-left="89%"
                        data-container=".section-lookbook-visual"
                        data-toggle="popover"
                        data-placement="left"
                        data-content='
                               <div class="item">
                <div class="item-inner">
                    <div class="item-img">
                        <div class="add-wishlist">
                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                        </div>


                        <div class="item-img-info">
                            <a href="#">
                                <img class="img-responsive"
                                     src="../img/homepage/visuel_principal_lookbook.png"
                                     data-rjs="2" alt="">
                            </a>
                        </div>
                        <!--item-img-info-->
                    </div>
                    <!--item-img-->
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                                <a href="#"
                                   title="Linkup canapé convertible tissu luxury anthracite">
                                    Linkup canapé convertible tissu luxury anthracite </a>
                            </div>


                            <!--item-title-->
                            <div class="item-content">
                                <div class="item-price">

                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                    </div>

                                </div>
                                <!--item-price-->


                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                </div>
                            </div>
                            <!--item-content-->
                        </div>
                        <!--info-inner-->
                    </div>
                    <!--item-info-->
                </div>
                </div>
                                     '
                        data-original-title=" "
                        title="">
                    <span class="icon-add"></span>
                </button>
                <button type="button"
                       class="btn-popover"    data-class="lookbook-popover"
                        data-marker-top="67%"
                        data-marker-left="94%"
                        data-container=".section-lookbook-visual"
                        data-toggle="popover"
                        data-placement="left"
                        data-content='
                               <div class="item">
                <div class="item-inner">
                    <div class="item-img">
                        <div class="add-wishlist">
                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                        </div>



                        <div class="item-img-info">
                            <a href="#">
                                <img class="img-responsive"
                                     src="../img/homepage/visuel_principal_lookbook.png"
                                     data-rjs="2" alt="">
                            </a>
                        </div>
                        <!--item-img-info-->
                    </div>
                    <!--item-img-->
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                                <a href="#"
                                   title="Linkup canapé convertible tissu luxury anthracite">
                                    Linkup canapé convertible tissu luxury anthracite </a>
                            </div>


                            <!--item-title-->
                            <div class="item-content">
                                <div class="item-price">

                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                    </div>

                                </div>
                                <!--item-price-->


                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                </div>
                            </div>
                            <!--item-content-->
                        </div>
                        <!--info-inner-->
                    </div>
                    <!--item-info-->
                </div>
                </div>
                                     '
                        data-original-title=" "
                        title="">
                    <span class="icon-add"></span>
                </button>
                <button type="button"
                       class="btn-popover"    data-class="lookbook-popover"
                        data-marker-top="91%"
                        data-marker-left="8%"
                        data-container=".section-lookbook-visual"
                        data-toggle="popover"
                        data-placement="right"
                        data-content='
                               <div class="item">
                <div class="item-inner">
                    <div class="item-img">
                        <div class="add-wishlist">
                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                        </div>


                        <div class="item-img-info">
                            <a href="#">
                                <img class="img-responsive"
                                     src="../img/homepage/visuel_principal_lookbook.png"
                                     data-rjs="2" alt="">
                            </a>
                        </div>
                        <!--item-img-info-->
                    </div>
                    <!--item-img-->
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                                <a href="#"
                                   title="Linkup canapé convertible tissu luxury anthracite">
                                    Linkup canapé convertible tissu luxury anthracite </a>
                            </div>


                            <!--item-title-->
                            <div class="item-content">
                                <div class="item-price">

                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                    </div>

                                </div>
                                <!--item-price-->


                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                </div>
                            </div>
                            <!--item-content-->
                        </div>
                        <!--info-inner-->
                    </div>
                    <!--item-info-->
                </div>
                </div>
                                     '
                        data-original-title=" "
                        title="">
                    <span class="icon-add"></span>
                </button>
                <div class="caption">
                    <h3>
                        <span class="small">Shop the look</span><br>
                        Ambiance <br> graphique
                    </h3>
                    <a href="#" class="btn btn-fly btn-inverse  btn-md "> <i
                            class="icon icon-arrow-right-bold"></i> Découvrir le look</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section-catalogue col-md-6"  data-mh="section-carousel">
                <div class="section-catalogue-visual">
                    <div class="section-catalogue-caption text-center">
                        <h3>Catalogue 2016</h3>
                        <p>Recevez le gratuitement chez vous</p>
                    </div>
                    <img data-rjs="2" src="../img/homepage/VISUEL_CATALOGUE.png"/>

                    <a href="#" class="btn btn-fly btn-inverse  btn-lg pull-right "> <i
                            class="icon icon-arrow-right-bold"></i> Commander</a>
                </div>
            </div>

            <div class="section-store  col-md-6"  data-mh="section-carousel">
                <div class="section-store-visual">
                    <img data-rjs="2" src="../img/homepage/VISUEL_MAGASIN.png"/>
                </div>
                <div class="section-store-caption  text-center">
                    <h3>Trouvez le magasin le plus proche</h3>
                    <p>60 magasins prêts à vous accueillir en France. Trouvez le vôtre</p>
                    <table>
                        <tr>
                            <td>
                                <button id="getPositionButton" class="btn-fly btn-lg btn-inverse"><i class="icon-location"></i>
                                    Proche de moi
                                </button>
                            </td>
                            <td><strong>ou</strong></td>
                            <td>
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="text" class="form-control input-lg" placeholder="Code postal"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-md" type="button">
                                                <i class="icon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('_templates/_footer.html')