@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

        <!-- BEGIN Main Container -->
        <main class="main-container">
            <div class="container">
                <div class="row">
                     @@include('_templates/_user_sidebar.html')
                    <div class="main-content col-md-9  col-xs-12">
                        <div class="my-feebacks">
                            <h1>Mes retours</h1>
                            <span class="msg"> Vous n’avez pas de retour en cours.</span>
                            <h2>Questions fréquentes :</h2>
                            <div class="block">
                                <!-- BEGIN Price -->
                                <div class="block-title">
                                    <a href="#edit-order" data-toggle="collapse" data-parent="#edit-order">Comment modifier mon adresse de livraison après avoir passé commande ? <span
                                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                                </div> 
                                <div class="block-content">
                                    <ul class="collapse" id="edit-order">
                                        <li>
                                            <p>
                                                Sans problème ! Vous pouvez modifier votre commande jusqu’à 24h avant son expédition. Vous pouvez modifier votre adresse
                                                de livraison via votre compte. Connectez-vous à votre compte. Rendez-vous sur la page « Mes commandes » et cliquez sur le lien
                                                Modifier mon adresse de livraison. Apportez les changements nécessaires dans les champs disponibles et cliquez sur « Mettre à jour
                                                l’adresse ». N’oubliez pas que tout frais supplémentaire occasionné par une nouvelle livraison reste à votre charge.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block">
                                <!-- BEGIN Price -->
                                <div class="block-title">
                                    <a href="#cancel-order" data-toggle="collapse" data-parent="#cancel-order">Comment annuler une commande ?<span
                                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                                </div>
                                <div class="block-content">
                                    <ul class="collapse active in " id="cancel-order">

                                        <li>
                                            <p>
                                                Sans problème ! Vous pouvez modifier votre commande jusqu’à 24h avant son expédition. Vous pouvez modifier votre adresse
                                                de livraison via votre compte. Connectez-vous à votre compte. Rendez-vous sur la page « Mes commandes » et cliquez sur le lien
                                                Modifier mon adresse de livraison. Apportez les changements nécessaires dans les champs disponibles et cliquez sur « Mettre à jour
                                                l’adresse ». N’oubliez pas que tout frais supplémentaire occasionné par une nouvelle livraison reste à votre charge.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                               <div class="block">
                                <!-- BEGIN Price -->
                                <div class="block-title">
                                    <a href="#order-prob-1" data-toggle="collapse" data-parent="#order-prob-1">Ma commande vient d’être livrée. Mais la couleur / les finitions ne me conviennent pas.<span
                                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                                </div>
                                <div class="block-content">
                                    <ul class="collapse " id="order-prob-1">

                                        <li>
                                            <p>
                                                Sans problème ! Vous pouvez modifier votre commande jusqu’à 24h avant son expédition. Vous pouvez modifier votre adresse
                                                de livraison via votre compte. Connectez-vous à votre compte. Rendez-vous sur la page « Mes commandes » et cliquez sur le lien
                                                Modifier mon adresse de livraison. Apportez les changements nécessaires dans les champs disponibles et cliquez sur « Mettre à jour
                                                l’adresse ». N’oubliez pas que tout frais supplémentaire occasionné par une nouvelle livraison reste à votre charge.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block">
                                <!-- BEGIN Price -->
                                <div class="block-title">
                                    <a href="#order-prob-2" data-toggle="collapse" data-parent="#order-prob-2">Ma commande vient d’être livrée mais les dimensions ne sont pas les bonnes.<span
                                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                                </div>
                                <div class="block-content">
                                    <ul class="collapse" id="order-prob-2">

                                        <li>
                                            <p>
                                                Sans problème ! Vous pouvez modifier votre commande jusqu’à 24h avant son expédition. Vous pouvez modifier votre adresse
                                                de livraison via votre compte. Connectez-vous à votre compte. Rendez-vous sur la page « Mes commandes » et cliquez sur le lien
                                                Modifier mon adresse de livraison. Apportez les changements nécessaires dans les champs disponibles et cliquez sur « Mettre à jour
                                                l’adresse ». N’oubliez pas que tout frais supplémentaire occasionné par une nouvelle livraison reste à votre charge.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block">
                                <!-- BEGIN Price -->
                                <div class="block-title">
                                    <a href="#order-prob-3" data-toggle="collapse" data-parent="#order-prob-3">Que faire si ma commande arrive endommagée ?<span
                                            class="menu-ico-collapse"><i class="chevron-down"></i></span></a>
                                </div>
                                <div class="block-content">
                                    <ul class="collapse  " id="order-prob-3">

                                        <li>
                                            <p>
                                                Sans problème ! Vous pouvez modifier votre commande jusqu’à 24h avant son expédition. Vous pouvez modifier votre adresse
                                                de livraison via votre compte. Connectez-vous à votre compte. Rendez-vous sur la page « Mes commandes » et cliquez sur le lien
                                                Modifier mon adresse de livraison. Apportez les changements nécessaires dans les champs disponibles et cliquez sur « Mettre à jour
                                                l’adresse ». N’oubliez pas que tout frais supplémentaire occasionné par une nouvelle livraison reste à votre charge.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </main>

      @@include('_templates/_footer.html')