@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
        <!-- BEGIN Main Container -->
        <main class="main-container">
            <div class="container">
                <div class="row">
                    @@include('_templates/_user_sidebar.html')
                    <div class="main-content col-md-9  col-xs-12">
                        <div class="my-informations">
                            <h1>Mes informations</h1>
                        <form class="form infos-account">
                            <div class="row">
                                <div class="col-md-6">
                                   <div class="field field-civility required">
                                <label class="label" for="">
                                    <span>* Civilité :</span>
                                </label>
                                <div class="control">
                                            <div class="radio radio-info"> 
                                        <input id="" value="option1" name="radioInline" checked="checked" type="radio">
                                        <label for=""> Madame </label></div>
                                            <div class="radio radio-info"> 
                                        <input id="" value="option1" name="radioInline" checked="checked" type="radio">
                                        <label for=""> Monsieur </label></div>
                                </div>
                            </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    
                                     <div class="field field-name required">
                                <div class="control">
                                    <div class="name"> 
                                        <label for="">* Nom :</label></div>
                                    <input class="form-control" value="Sube" type="text">
                                </div>
                            </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="field field-lastname required">
                                <div class="control">
                                    <div class="lastname"> 
                                        <label for="">* Prénom :</label></div>
                                    <input class="form-control" value="Christophe" type="text">
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                            <div class="field field-email ">
                                <div class="control">
                                    <div class="email"> 
                                        <label for="">* Email :</label></div>
                                    <input class="form-control" value="christophe.sube@5emegauche.com" type="text">
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                     <div class="field field-password ">
                                <div class="control">
                                    <div class="password"> 
                                        <label for="">* Mot de passe :</label></div>
                                    <input class="form-control" value="" type="password">
                                    <span class="underline showpass" data-click-state="1">Afficher</span>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="field field-password2 ">
                                <div class="control">
                                    <div class="password2"> 
                                        <label for="">* Confirmation du mot de passe :</label></div>
                                    <input class="form-control" value="" type="password">
                                    <span class="underline showpass" data-click-state="1">Afficher</span>
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="field field-newsletter ">
                                <div class="control">
                                        <input name="is_subscribed" title="Newsletter" value="1" class="checkbox" type="checkbox">
                                        <label for="" class="label"><span>Je souhaite recevoir la newsletter Fly</span></label>
                                </div>
                                </div>
                            </div>
                                 <div class="row">
                                <div class="col-md-6 col-sm-12">
                                <a href="#" class="cancel ">Annuler</a>
                                </div>
                                 <div class="col-md-6 col-sm-12">
                                     <button id="" class="btn-fly btn-inverse">
                                   Enregistrer les modifications
                                </button> 
                                </div>
                            </div>
                        </form>
                       
                        </div>
                       
                    </div>
                          

                </div>
            </div>
        </main>
@@include('_templates/_footer.html')