@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
        <!-- BEGIN Main Container -->
        <main class="main-container">
            <div class="container">
                <div class="row">
                    @@include('_templates/_user_sidebar.html')
                    <div class="main-content col-md-9  col-xs-12">
                        <div class="edit-informations">
                            <h1>Modifier une adresse</h1>
                            <form class="form infos-account">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field field-civility required">
                                            <label class="label" for="">
                                                <span>* Civilité :</span>
                                            </label>
                                            <div class="control">
                                                <div class="radio radio-info"> 
                                                    <input id="" value="option1" name="radioInline" checked="checked" type="radio">
                                                    <label for=""> Madame </label></div>
                                                <div class="radio radio-info"> 
                                                    <input id="" value="option1" name="radioInline" checked="checked" type="radio">
                                                    <label for=""> Monsieur </label></div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <div class="field field-name required">
                                            <div class="control">
                                                <div class="name"> 
                                                    <label for="">* Nom :</label></div>
                                                <input class="form-control" value="Sube" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field field-lastname required">
                                            <div class="control">
                                                <div class="lastname"> 
                                                    <label for="">* Prénom :</label></div>
                                                <input class="form-control" value="Christophe" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field field-adresse ">
                                            <div class="control">
                                                <div class="adresse"> 
                                                    <label for="">* Adresse :</label></div>
                                                <input class="form-control" value="3 impasse de la planchette" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field field-adresse-bis ">
                                            <div class="control">
                                                <div class="adresse"> 
                                                    <label for="">* Complément d'adresse :</label></div>
                                                <input class="form-control" value="RDC - Fond de cour" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="field field-postal-c ">
                                                        <div class="control">
                                                        <div class="postal-code"> 
                                                            <label for="">* Code postal :</label></div>
                                                        <input class="form-control" value="75003" type="test">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="field field-city ">
                                                       <div class="control">
                                                        <div class="city"> 
                                                            <label for="">* Ville :</label>
                                                        </div>
                                                        <input class="form-control" value="PARIS" type="test">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field field-telephone ">
                                            <div class="control">
                                                <div class="telephone"> 
                                                    <label for="">* Télephone :</label></div>
                                                <input class="form-control" value="016061626364" type="test">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field field-newsletter ">
                                        <div class="control">
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <a href="#" class="cancel ">Annuler</a>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <button id="" class="btn-fly btn-inverse">
                                            Enregistrer les modifications
                                        </button> 
                                    </div>
                                </div>
                                <div class="row">
                                    <b>* Champs obligatoires </b>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    @@include('_templates/_footer.html')