@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="dashboard-container">
    <div class="container">
        <div class="row">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <div class="my-prefered-store col-md-12 col-xs-12">
                    <div class="my-prefered-store-title">Mon magasin préféré </div>
                    <div id="dashboard-map-stores" class="map map-resp">
                        <div class="store-open-times">
                            <div class="fly-store">
                                <div class="fly-logo">
                                    <img src="../img/checkout/logo.tiny.png" data-rjs="3" alt="">
                                </div>
                                <div class="name-store">
                                    <strong>Créteil</strong>
                                </div>
                            </div>
                            <div class="store-adress">RN 6 Carrefour Pompadour</div>
                            <div class="store-adress">94034 Créteil Cedex</div>
                            <div class="phone-nbr-block">
                                <div class="icon-block">
                                    <i class="icon-call"></i>
                                </div>
                                <div class="phone-nbr">
                                    01 45 13 29 00
                                </div>
                            </div>
                            <strong class="open-times-title">Horaires d’ouverture</strong>

                            <div class="time-table">
                                <table>
                                    <tr>
                                        <td>Lundi</td>
                                        <td>de 10h00 à 19h00</td>
                                    </tr>
                                    <tr>
                                        <td>Mardi</td>
                                        <td>de 10h00 à 19h00</td>
                                    </tr>
                                    <tr class="today">
                                        <td>Mercredi</td>
                                        <td>de 10h00 à 19h00</td>
                                    </tr>
                                    <tr>
                                        <td>Jeudi</td>
                                        <td>de 10h00 à 19h00</td>
                                    </tr>
                                    <tr>
                                        <td>Vendredi</td>
                                        <td>de 10h00 à 19h00</td>
                                    </tr>
                                    <tr>
                                        <td>Samedi</td>
                                        <td>de 10h00 à 19h00</td>
                                    </tr>
                                    <tr>
                                        <td>Dimanche</td>
                                        <td>Fermé</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="view-store-btn">
                                <a class="btn-fly btn-lg" href="#">
                                    <span>Voir la fiche magasin</span>
                                </a>
                            </div>
                            <div class="update-store-btn">
                                <a class="underline" href="#">
                                    <span>Modifier mon magasin</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
@@include('_templates/_footer.html')