@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">

            @@include('_templates/_sidebar.html')

            <div class="main-content main-listings   col-md-9  col-xs-12">
                <h2 class="page-heading">
                    <span class="page-heading-title">Canapé convertible</span>
                </h2>

                <p class="page-description">
                    Couchage d'appoint par excellence, la banquette lit s'invite dans tous les styles d'intérieur.
                    <br/>
                    Confortables, nos canapés lits vous feront couler des nuits heureuses !
                </p>

                <div class="display-product-option">

                        <div class="catalog-results-count">
                            <strong>60 résultats</strong>
                        </div>
                        <div class="show-filter-mobile">
                            <a href="javascript:void(0)">Filtrer <i class="icon-plus">+</i></a>
                        </div>

                        <!--sorter-->
                        <div class="product-option-right">
                            <div id="sort-by">
                                <div class="dropdown btn-select col-xs-6 col-sm-3">
                                    <a id="sortid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="btn-select-value">Trier par</span>
                                        <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="sortid">
                                        <li><a href="http://google.com">Popularité</a></li>
                                        <li><a href="#">Prix croissant</a></li>
                                        <li><a href="#">Prix décroissant</a></li>
                                        <li><a href="#">Nom ( de A à Z )</a></li>
                                        <li><a href="#">Nom ( de Z à A )</a></li>
                                        <li><a href="#">Articles en promotion</a></li>
                                        <li><a href="#">Nouveauté</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!--product-option-right-->
                    </div>


                <div class="category-products">
                    <div class="products-grid">
                        <ul class="products-row row">
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>

                                        <div class="price-off">
                                            <span class="price-off">-20%</span>
                                        </div>

                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive" src="../img/products/PRODUIT_04.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#" title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive" src="../img/products/PRODUIT_01.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#" title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive" src="../img/products/PRODUIT_02.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#" title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>

                                        <div class="price-off">
                                            <span class="price-off">-20%</span>
                                        </div>

                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive" src="../img/products/PRODUIT_03.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#" title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive" src="../img/products/PRODUIT_05.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#" title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive" src="../img/products/PRODUIT_06.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#" title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup canapé convertible tissu luxury anthracite </a>
                                            </div>

                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!--<div id="loader">-->
                        <!--<ul>-->
                            <!--<li id='a'></li>-->
                            <!--<li id='b'></li>-->
                            <!--<li id='c'></li>-->
                            <!--<li id='d'></li>-->
                            <!--<li id='e'></li>-->
                            <!--<li id='f'></li>-->
                            <!--<li id='g'></li>-->
                            <!--<li id='h'></li>-->
                            <!--<li id='i'></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <div class="load-more">
                        <a href="#" class="btn btn-fly btn-inverse  btn-lg pull-right "> Afficher plus de produits</a>

                    </div>




                </div>

            </div>
        </div>
    </div>
</main>
@@include('_templates/_footer.html')