@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs_recrutement.html')

<!-- BEGIN Main Container -->
<main class="main-container" id="recrutement">
  <div class="container">
    <div class="row">

      @@include('_templates/_sidebar_recrutement.html')

      <div class="main-content col-md-9 col-xs-12">
        <h1 class="title-page">Nos offres d'emploi</h1>
        <img src="../img/recrutement/offres.jpg" alt="">
        <h2>Nos offres d'emploi</h2>
        <div class="block-search">
          <h3>Recherche avancée</h3>
          <div class="row">
            <form class="content" id="search">
              <div class="col-sm-6">
                <span class="label">Pôle métier</span>
                <div class="dropdown btn-select col-xs-6 col-sm-3">
                  <a id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="btn-select-value">Choisissez</span>
                    <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="">
                    <li><a href="#0">Choix 1</a></li>
                    <li><a href="#0">Choix 2</a></li>
                    <li><a href="#0">Choix 3</a></li>
                    <li><a href="#0">Choix 4</a></li>
                  </ul>
                </div>
              </div> <!-- /Col-sm-6 -->
              <div class="col-sm-6">
                <span class="label">Type de contrat</span>
                <div class="dropdown btn-select col-xs-6 col-sm-3">
                  <a id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="btn-select-value">Choisissez</span>
                    <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="">
                    <li><a href="#0">Choix 1</a></li>
                    <li><a href="#0">Choix 2</a></li>
                    <li><a href="#0">Choix 3</a></li>
                    <li><a href="#0">Choix 4</a></li>
                  </ul>
                </div>
              </div> <!-- /Col-sm-6 -->
              <div class="col-sm-6">
                <span class="label">Localisation</span>
                <div class="localisation"><i class="picto"></i><span>Proche de moi</span></div>
              </div>
              <div class="col-sm-6">
                <span class="label">Département</span>
                <div class="dropdown btn-select col-xs-6 col-sm-3">
                  <a id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="btn-select-value">Choisissez</span>
                    <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="">
                    <li><a href="#0">Choix 1</a></li>
                    <li><a href="#0">Choix 2</a></li>
                    <li><a href="#0">Choix 3</a></li>
                    <li><a href="#0">Choix 4</a></li>
                  </ul>
                </div>
              </div> <!-- /Col-sm-6 -->
              <div class="col-sm-12 buttons-action">
                <input type="reset" class="pull-left" value="Effacer ma recherche" />
                <button type="submit" class="pull-right">Rechercher <span><i class="icon-search"></i></span></button>
              </div>
            </form>
          </div>
        </div> <!--/blocksearch-->
        <h2>108 offres trouvées</h2>
        <div class="select-filter">
          <div class="dropdown btn-select col-xs-6 col-sm-3">
            <a id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="btn-select-value">Choisissez</span>
              <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="">
              <li><a href="#0">Popularité</a></li>
              <li><a href="#0">Prix croissant</a></li>
              <li><a href="#0">Prix décroissant</a></li>
              <li><a href="#0">Nom ( de A à Z )</a></li>
              <li><a href="#0">Nom ( de Z à A )</a></li>
              <li><a href="#0">Articles en promotion</a></li>
              <li><a href="#0">Nouveauté</a></li>
            </ul>
          </div>
          <span class="label">Trier par</span>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <table class="list-offers">
              <tr>
                <td class="t1">
                  <div>
                    <span>Acheteur chef de produit H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Paris 15eme</span>
                  </div>
                  <div class="type">
                    <span>CDD</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                </td>
              </tr>
              <tr>
                <td class="t1">
                  <div>
                    <span>Conseiller de vente<br>Ameublement H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Créteil</span>
                  </div>
                  <div class="type">
                    <span>CDI</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <div class="but">
                    <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t1">
                  <div>
                    <span>Acheteur chef de produit H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Paris 15eme</span>
                  </div>
                  <div class="type">
                    <span>CDD</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <div class="but">
                    <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t1">
                  <div>
                    <span>Acheteur chef de produit H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Paris 15eme</span>
                  </div>
                  <div class="type">
                    <span>CDD</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <div class="but">
                    <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t1">
                  <div>
                    <span>Acheteur chef de produit H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Paris 15eme</span>
                  </div>
                  <div class="type">
                    <span>CDD</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <div class="but">
                    <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t1">
                  <div>
                    <span>Acheteur chef de produit H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Paris 15eme</span>
                  </div>
                  <div class="type">
                    <span>CDD</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <div class="but">
                    <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t1">
                  <div>
                    <span>Acheteur chef de produit H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Paris 15eme</span>
                  </div>
                  <div class="type">
                    <span>CDD</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <div class="but">
                    <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="t1">
                  <div>
                    <span>Acheteur chef de produit H/F</span>
                    <span class="status">Confirmé</span>
                  </div>
                </td>
                <td class="t2">
                  <div class="city">
                    <span>Paris 15eme</span>
                  </div>
                  <div class="type">
                    <span>CDD</span>
                  </div>
                </td>
                <td class="t3">
                  <div class="date">
                    <span>publiée le 26/09/2016</span>
                  </div>
                </td>
                <td class="t4">
                  <div class="but">
                    <a href="./recrutement-offre-detail.html" class="button">Découvrir l'offre</a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right">
            <a href="#0" class="button arrow"><i class="icon icon-arrow-right-bold"></i>Voir les 10 offres suivantes</a>
          </div>
        </div>


      </div> <!--/main-content -->


    </div>
  </div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

  $( document ).ready(function() {
    $('.block-search h3').on( "click", function() {
      $(this).parent().toggleClass('active');
    });

  });
</script>
@@include('_templates/_footer.html')
