@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs_recrutement.html')

<!-- BEGIN Main Container -->
<main class="main-container" id="recrutement">
  <div class="container">
    <div class="row">

      @@include('_templates/_sidebar_recrutement.html')

      <div class="main-content col-md-9 col-xs-12">
        <h1 class="title-page">Nos fiches de postes</h1>
        <img src="../img/recrutement/nous-rejoindre.jpg" alt="">
        <h2>Nos fiches de postes</h2>
        <h3>Découvrez nos fiches de postes</h3>
        <div class="accordion-job">
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Hôtesse de caisse</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Conseiller de vente - Ameublement</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Décoration</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Directeur de magasin</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Responsable de département<br>Meuble - H/F </span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Responsable qualité produit</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Hôtesse de caisse</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Conseiller de vente - Ameublement</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Décoration</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Directeur de magasin</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Responsable de département<br>Meuble - H/F </span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Responsable qualité produit</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Hôtesse de caisse</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Conseiller de vente - Ameublement</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Responsable de département<br>Meuble - H/F </span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
          <div class="col-sm-6 container-acc">
            <div class="title"><span>Conseiller de vente - Bureau</span></div>
            <div class="content">
              <p>
                Rattaché(e) au Responsable Administratif<br>
                vos principales missions sont les suivantes :<br>
                <br>
                ACCUEIL<br>
                - Accueillir, écouter et renseigner les clients<br>
                - Effectuer l'accueil téléphonique du magasin<br>
                - Proposer les cartes et services de l'enseigne<br>
                <br>
                GESTION DE LA CAISSE<br>
                - Saisies et encaissements<br>
                - Contrôle et clôture de caisse
              </p>
              <a href="./recrutement-offre-detail.html" class="button">Voir l'offre</a>
            </div>
          </div>
        </div> <!--/accordion-job -->
      </div> <!--/main-content -->
    </div>
  </div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

  $( document ).ready(function() {
    $('.accordion-job .container-acc .title').on( "click", function() {
      if($(this).parent().hasClass('active')){
        $('.accordion-job .container-acc').removeClass('active');
        $(this).parent().removeClass('active');
      }
      else{
        $('.accordion-job .container-acc').removeClass('active');
        $(this).parent().addClass('active');
      }
    });

  });
</script>
@@include('_templates/_footer.html')
