@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs_recrutement.html')

<!-- BEGIN Main Container -->
<main class="main-container offre-detail" id="recrutement">
  <div class="container">
    <div class="row">

      @@include('_templates/_sidebar_recrutement.html')

      <div class="main-content col-md-9 col-xs-12">
        <h2>Acheteur chef de produit H/F</h2>
        <h3>Confirmé</h3>
        <table class="heading">
          <tr>
            <td>
              <span>Localisation</span>
              <strong>Emerainville</strong>
            </td>
            <td>
              <span>Type de contrat</span>
              <strong>CDI</strong>
            </td>
            <td class="date">
              <span>Date de publication</span>
              <span>Le 26/09/2016</span>
            </td>
            <td>
              <span>N° de l'offre</span>
              <strong class="num-offer">S-0916-PL-01986</strong>
            </td>
          </tr>
        </table>
        <h5>Mission</h5>
        <p>Rattaché au responsable de département, vous aurez en charge une partie de notre offre produit.<br>Votre rôle est complet, attentif et réactif aux évolutions rapides du secteur, vous suivrez les gammes, négociez et achetez auprèsdes fournisseurs dans le cadre de l’élaboration des dépliants et de l’offre internet. Vous avez également en charge la gestion desapprovisionnements et des stocks dans le respect du budget. En partenariat avec le réseau et les services internes, vous assurezla mise en œuvre de la stratégie et êtes force de proposition pour toute action d’amélioration.</p>
        <h5>Profil</h5>
        <p>De formation supérieure, fort d’une 1ère expérience significative dans une fonction similaire et vous parlez anglais.Votre sens de la négociation, vos qualités relationnelles, votre rigueur et votre sens de l’organisation favoriseront votre réussite.Ce poste est ouvert aux personnes reconnues Travailleur Handicapé</p>

        <form action="#" class="col-sm-10 form bordertop">
          <div class="row">
            <div class="col-sm-12">
              <h3>Postuler</h3>
            </div>
            <div class="col-sm-12 form-group radio">
              <span class="label"><sup>*</sup>Civilité: </span>
              <div class="radio-inline">
                <div class="radiobox">
                  <input id="mme-0" class="css-radio" name="civilite-1" type="radio">
                  <label class="css-label" for="mme-0">
                    <span>Madame</span>
                  </label>
                </div>
              </div>
              <div class="radio-inline">
                <div class="radiobox">
                  <input id="m-0" class="css-radio" name="civilite-1" type="radio">
                  <label class="css-label" for="m-0">
                    <span>Monsieur</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label for="firstname">
                <sup>*</sup>Nom:
                <input type="text" id="firstname">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="lastname">
                <sup>*</sup>Prénom:
                <input type="text" id="lastname">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="mail">
                <sup>*</sup>Adresse e-mail:
                <input type="text" id="mail">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="tel">
                <sup>*</sup>Téléphone:
                  <input type="text" id="tel">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="cv">
                <sup>*</sup>CV (Curriculum vitea)
                <input type="file" name="cv" id="cv" class="inputfile" />
                <label for="cv"><span></span> <strong>Parcourir</strong></label>
                <span class="infos">5mo max - Formats acceptés : pdf, jpg, doc, docx, odt</span>
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="motiv">
                <sup>*</sup>Lettre de motivation
                <input type="file" name="motiv" id="motiv" class="inputfile" />
                <label for="motiv"><span></span> <strong>Parcourir</strong></label>
                  <span class="infos">5mo max - Formats acceptés : pdf, jpg, doc, docx, odt</span>
              </label>
            </div>
            <div class="col-sm-12 buttons-action">
              <a href="./recrutement-offres.html" class="button back pull-left"><i class="icon icon-arrow-left-bold"></i>Retour aux offres</a>
              <input type="submit" value="Envoyer ma candidature" class="button pull-right" />
            </div>
            <div class="col-sm-12 conditions">
              <p><sup>*</sup>Champs obligatoires</p>
              <p>Les informations de ce formulaire sont exclusivement réservée à l'enseigne FLY et ne feront en aucun cas l'objet de cession à une autreentreprise. Conformément à la loi informatique et libertés du 6 janvier 1978 (art. 34), vous disposez d'un droit d'accès, de rectification,de suppression et d'opposition des données vous concernant. Vous pouvez faire valoir ce droit en nous écrivant à l'adresse suivante :FLY 90 rue de Guebwiller – CS 60101 - 68265 KINGERSHEIM Cedex FRANCE.</p>
            </div>
          </div> <!--/row -->
        </form>
      </div> <!--/main-content -->


    </div>
  </div>
</main>
@@include('_templates/_footer.html')
