@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="sidebar col-md-3  col-xs-12">
                <div class="side-nav-service">
                    <div class="block-title">
                        <h2>Rubrique d'aide</h2>
                    </div>
                    <!-- BEGIN BOX-profil -->
                    <div class="box-content">
                        <ul class="profil-items">
                            <li>
                                <a href="#" class="active">Question d'ordre général</a>
                            </li>
                            <li class="active">
                                <a href="#">Commandes en cours</a>
                            </li>
                            <li>
                                <a href="#">Paiement</a>
                            </li>
                            <li>
                                <a href="#">Annulation, <br />retours et échanges</a>
                            </li>
                            <li>
                                <a href="#">Sécutité et conditions <br /> générales de vente</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-title">
                        <h2>Contactez-nous</h2>
                    </div>
                    <p>
                        <i class="icon-call"></i>
                        Par téléphone <br />
                        <b>08 00 40 20</b><br/>
                        <span>numéro (gratuit)</span><br />
                        <span class="Hourly">Du Lundi au samedi<br />
                        de 9h au 22h</span>
                    </p>
                </div>
            </div>
            <div class="main-content col-md-9  col-xs-12">
                <div class="service-client">
                    <h2 class="page-heading">
                        <span class="page-heading-title"> Service client fly </span>
                    </h2>
                    <p>
                        nim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                        accusamus labore sustainable VHS.
                    </p>

                    <h4>Question fréquante</h4>
                    <div class="icons">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="icon icon-1">
                                    <i class="icon-truck"></i>
                                    <span class=""><a href="">Comment retourner un article ?</a></span>
                                </div>
                                <div class="icon icon-1">
                                    <i class="icon-note"></i>
                                    <span class=""><a href="">Quel est le statut de livraison <br/>
de ma commande ?</a></span>
                                </div>
                                <div class="icon icon-1">
                                    <i class="icon-order-cancel"></i>
                                    <span class=""><a href="">Comment annuler ma commande <br/>
ou un article de ma commande ?</a></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="icon icon-1">
                                    <i class="icon-package"></i>
                                    <span class=""><a href="">Comment faire losque mon article <br/>
                                        est endommagé?</a></span>
                                </div>
                                <div class="icon icon-1">
                                    <i class="icon-order-info"></i>
                                    <span class=""><a href="">Comment obtenir des informations <br/>
                                        supplémentaires sur un article?</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Mon compte</h4>
                    <p>
                        nim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                    </p>
                    <button type="button" data-toggle="collapse" data-target="#show-cart-items" class="btn btn-fly btn-inverse  collapsed">
                        <span class="collapsed">se connecter </span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</main>

@@include('_templates/_footer.html')